<ng-container *ngTemplateOutlet="buttonConfig['text'] ? text : icon">
</ng-container>

<!-- icon button -->
<ng-template #text>
  <button type="button" class="skewed-button button-fill-blue " routerLink="{{buttonConfig.link}}">
    <i class="skewed-button__icon material-icons"> {{buttonConfig.icon}} </i>
    <span class="skewed-button__label">{{buttonConfig.text}}</span>
  </button>
</ng-template>

<!-- Image Button -->
<ng-template #icon>
  <img alt="image button" [src]="buttonConfig.src" [ngStyle]="buttonConfig.styles">
</ng-template>
