<div class="d-grid justify-center asset-overview">
  <div class="config-statistics">
    <div class="card-full-sim">
      <div
        class="card-sim flex-row flex-direction:row padding-top:40 padding-right:40 padding-bottom:40 padding-left:40"
      >
      <!-- need to look on the style -->
        <div class="config-statistics-visualization">
          <h1 class="font:24:mono text-header:200 margin-bottom:30">
            Config Statistics
          </h1>
          <app-donut></app-donut>
        </div>
        <div class="config-statistics-data-info">
          <div class="card-lists">
            <div class="card-nano-sim bg-status:critical">
              <div
                class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
              >
                <span>11 </span>
                <span>Insecure Access Rules</span>
              </div>
            </div>

            <div class="card-nano-sim bg-status:high">
              <div
                class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
              >
                <span>5 </span>
                <span>Insecure Services</span>
              </div>
            </div>

            <div class="card-nano-sim bg-status:low">
              <div
                class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
              >
                <span>14 </span>
                <span>Total Policies</span>
              </div>
            </div>

            <div class="card-nano-sim bg-status:normal">
              <div
                class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
              >
                <span>59 </span>
                <span>Total Objects</span>
              </div>
            </div>
          </div>
          <div class="card-lists-table">
            <table class="table table-fixed table-full">
              <thead>
                <tr>
                  <td>Categories</td>
                  <td>Count</td>
                  <td>Percentage</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Disabled</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Groupable</td>
                  <td>1</td>
                  <td>7%</td>
                </tr>
                <tr>
                  <td>Logged</td>
                  <td>11</td>
                  <td>79%</td>
                </tr>
                <tr>
                  <td>Insecure Access Rule</td>
                  <td>5</td>
                  <td>36%</td>
                </tr>
                <tr>
                  <td>Insecure Services</td>
                  <td>0</td>
                  <td>0%</td>
                </tr>
                <tr>
                  <td>Redundant</td>
                  <td>1</td>
                  <td>7%</td>
                </tr>
                <tr>
                  <td>Shadow</td>
                  <td>1</td>
                  <td>7%</td>
                </tr>
                <tr>
                  <td>Unused Objects</td>
                  <td>25</td>
                  <td>42%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="asset-information">
    <div class="card-full-sim">
      <div
        class="card-sim padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <h2 class="text:center text-color:800 margin-bottom:20 font:16:mono">
          Asset Information
        </h2>
        <dl>
          <dt>Asset Type</dt>
          <dd>Firewall</dd>
        </dl>
        <dl>
          <dt>Asset Name</dt>
          <dd>Cisco Asa</dd>
        </dl>
        <dl>
          <dt>IP Address</dt>
          <dd>192.0.0.0/29</dd>
        </dl>
        <dl>
          <dt>Vendor</dt>
          <dd>CISCO ASA</dd>
        </dl>
        <dl>
          <dt>Owner</dt>
          <dd>Ram</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="quick-links">
    <div class="card-full-sim">
      <div
        class="card-sim padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <h2 class="text:center margin-bottom:20 text-color:800 font:16:mono">Quick Links</h2>
        <dl [routerLink]="['/assets/rule/report']">
          <dt><i class="uil uil-file-alt"></i></dt>
          <dd>Reports</dd>
        </dl>
        <dl (click)="openModal('filters')">
          <dt><i class="uil uil-wrench"></i></dt>
          <dd>Raw Configuration</dd>
        </dl>
        <dl [routerLink]="['/assets/rule/compliance-policy']">
          <dt><i class="uil uil-cog"></i></dt>
          <dd>Compliance</dd>
        </dl>
        <dl [routerLink]="['/assets/rule/base/firewall/0']">
          <dt><i class="uil uil-wall"></i></dt>
          <dd>Firewall Objects</dd>
        </dl>
        <dl [routerLink]="['/assets/rule/change-management']">
          <dt><i class="uil uil-refresh"></i></dt>
          <dd>Chanage Management</dd>
        </dl>
        <dl [routerLink]="['/assets/rule/whatif']">
          <dt><i class="uil uil-sitemap"></i></dt>
          <dd>What If</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<app-bottom-sheet
  class="raw-configuration-modal"
  id="filters"
  modalType="small"
>
  <div class="modal-header">
    <div class="modal-header-name font:16:mono  text-color:500 ">
      Raw Configurations
    </div>
    <div class="modal-header-actions">
      <button (click)="closeModal('filters')">
        <i class="uil uil-times"></i>
      </button>
    </div>
  </div>
  <div class="modal-area">
    <a href="#" class="btn-raw-download"
      ><i class="uil uil-file-download"></i>Download</a
    >
    <div class="raw-config-code" style="height: 380px;">
      <ngx-monaco-editor
        class="my-code-editor"
        style="height: 100%;"
        [options]="options"
        [(ngModel)]="code"
      ></ngx-monaco-editor>
    </div>
  </div>
</app-bottom-sheet>
