.asset-overview {
  gap : 30px !important;
  grid-template-areas : 'statistics information '
  'statistics links ';
  grid-template-columns : 922px 218px;

  .config-statistics {
    grid-area : statistics;
    &-visualization {
      flex : 0 0 50%;
      max-width : 50%;
    }
    &-data-info {
      flex : 0 0 CALC(50% - 50px - 26px);
      max-width : CALC(50% - 50px - 26px);
      border-left : 1px solid rgba(1, 88, 162, 0.2);
      padding-left : 50px;
      margin-left : 25px;
      .card-lists {
        display : grid;
        gap : 30px 20px;
        grid-template-columns : 170px 170px;
        margin-bottom : 35px;
        .card-sim {
          min-height : 70px;
          border : 0;
          &:before ,
          &:after {
            border : 0;
          }
          span {
            color : #fff;
            font-family : var(--roboto-500);
            &:first-child {
              font-size : 24px;
              line-height : 28px;
              margin-right : 15px;
            }
            &:last-child {
              font-size : 12px;
              line-height : 18px;
              letter-spacing : 0.02em;
              text-transform : uppercase;
            }
          }
        }
      }
    }
  }

  .asset-information {
    grid-area : information;
    dl {
      cursor : pointer;
      margin-bottom : 16px;
      dt {
        font-family : var(--roboto-500);
        font-size : 14px;
        line-height : 16px;
        color : var(--text-paragraph-600);
      }
      dd {
        font-family : var(--roboto-400);
        font-size : 14px;
        line-height : 16px;
        color : #5b748c;
      }
    }
  }

  .quick-links {
    grid-area : links;
    dl {
      cursor : pointer;
      margin-bottom : 10px;
      dt {
        &::after {
          content : none;
        }
      }
      dd {
        margin-left : 10px;
        font-family : var(--roboto-400);
        font-size : 14px;
        line-height : 16px;
        color : var(--text-color-500);
      }
    }
  }
}

.bg-status\:critical {
  background : linear-gradient(45deg, transparent 10px, #eb4d4d 0) left bottom;
}
.bg-status\:high {
  background : linear-gradient(45deg, transparent 10px, #eb7d4d 0) left bottom;
}
.bg-status\:low {
  background : linear-gradient(45deg, transparent 10px, #ebb64d 0) left bottom;
}
.bg-status\:normal {
  background : linear-gradient(45deg, transparent 10px, #41c403 0) left bottom;
}

.my-code-editor {
  .editor-container {
    height : calc(100vh - 100px);
  }
  .monaco-editor-background {
    background : transparent;
  }

  .monaco-editor {
    background : var(--white);
    border : 1px solid rgba(1, 88, 161, 0.2);
    box-shadow : 0px 5px 5px rgba(2, 108, 197, 0.1);
    border-radius : 2px;

    .margin-view-overlays {
      background : rgba(204, 222, 236, 0.8);

      .line-numbers {
        font-family : var(--roboto-mono);
        font-weight : 400;
        font-size : 12px;
        line-height : 14px;
        color : var(--text-color-500);
        margin-left : 10px;
        text-align : left;
      }

      .line-delete {
        background : rgba(235, 125, 77, 0.25);
        border : 0;
      }
    }
  }

  // .monaco-diff-editor .line-delete,
  .monaco-diff-editor .char-delete {
    background : rgba(235, 125, 77, 0.1);
    border : 1px solid rgba(235, 125, 77, 0.6);
  }
}

.raw-configuration-modal {
  .modal-area {
    padding : 30px;
  }
  .btn-raw-download {
    display : flex;
    justify-content : flex-end;
    margin-bottom : 20px;
    font-family : var(--roboto-mono);
    font-size : 16px;
    line-height : 19px;
    color : #1393ff;
    .uil {
      vertical-align : middle;
      &:before {
        margin-right : 10px;
        font-size : 23px;
        color : #1393ff;
      }
    }
  }
}