<svg class="hidden">

  <symbol id="icon-dropdown" width="16" height="16" viewBox="0 0 16 16" fill="none">
    <title>dropdown</title>
    <path id="dropdown"
      d="M8.75943 10.7489C8.55799 10.9097 8.28483 11 8 11C7.71517 11 7.44201 10.9097 7.24057 10.7489L2.3145 6.81618C2.16432 6.69625 2.06205 6.54347 2.02063 6.37714C1.9792 6.21082 2.00047 6.03842 2.08175 5.88175C2.16303 5.72507 2.30068 5.59115 2.47728 5.49692C2.65388 5.40269 2.86151 5.35238 3.07393 5.35234L12.9261 5.35234C13.1385 5.35238 13.3461 5.40269 13.5227 5.49692C13.6993 5.59115 13.837 5.72507 13.9182 5.88175C13.9995 6.03842 14.0208 6.21082 13.9794 6.37714C13.9379 6.54347 13.8357 6.69625 13.6855 6.81618L8.75943 10.7489Z"
      fill="#989BAE" />

  </symbol>

  <symbol id="icon-forward" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <title>forward</title>
    <g id="forward">
      <path d="M13 13L4.477 7L13 1L13 13Z" fill="#D9DADF" />
      <path d="M1 12L1 1.636" stroke="#D9DADF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </g>
  </symbol>

  <symbol id="icon-next" width="6" height="10" viewBox="0 0 6 10" fill="none">
    <title>next</title>
    <g id="next">
      <path opacity="0.4"
        d="M0.706849 5.70715C0.519378 5.51962 0.414063 5.26532 0.414063 5.00015C0.414063 4.73499 0.519378 4.48068 0.706849 4.29315L4.29285 0.70715C4.4327 0.567341 4.61086 0.472135 4.80482 0.433567C4.99877 0.395 5.1998 0.414803 5.3825 0.490473C5.5652 0.566143 5.72137 0.694283 5.83125 0.858692C5.94113 1.0231 5.99981 1.2164 5.99985 1.41415L5.99985 8.58615C5.99981 8.7839 5.94113 8.9772 5.83125 9.14161C5.72137 9.30602 5.5652 9.43416 5.3825 9.50983C5.1998 9.5855 4.99877 9.6053 4.80482 9.56673C4.61086 9.52817 4.4327 9.43296 4.29285 9.29315L0.706849 5.70715Z"
        fill="#A1A3AE" />
    </g>
  </symbol>


</svg>
