<div class="d-container">
  <div class="flex-row margin-bottom:40">
    <button class="btn-back" (click)="backClicked()">
      <i class="uil uil-arrow-left"></i> Back
    </button>
    <h2 class="margin-left:20 font:24:mono  text-header:200 ">
      Firewall Objects
    </h2>
  </div>

  <div class="page-data-content">
    <my-tabs>
      <my-tab [tabTitle]="'Generate Reports'">
        <div
          class="margin-bottom:30 flex-row justify-between align-items-center"
        >
          <div class="font:18:mono text-subtext:100">
            200 Host Objects
          </div>
          <div class="flex-row align-items-center">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
            <div class="asset-view-sortby z-index:1">
              <button
                class="button button__dropdown font:14:400"
                (click)="sortType = !sortType"
              >
                <span class="selected-value">
                  <span class="selected-label"> Sort by: </span>
                  {{ onSortBy_value }}
                </span>
                <svg
                  class="icon button__dropdown-arrow"
                  width="12"
                  height="6"
                  viewBox="0 0 12 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    id="down-arrow"
                    d="M6.75943 5.7489C6.55799 5.90967 6.28483 5.99998 6 5.99998C5.71517 5.99998 5.44201 5.90967 5.24057 5.7489L0.314498 1.81617C0.164321 1.69624 0.0620546 1.54345 0.020627 1.37713C-0.0208006 1.2108 0.000471115 1.03841 0.0817528 0.881732C0.163034 0.725057 0.300675 0.591139 0.477278 0.496907C0.653879 0.402676 0.861511 0.352362 1.07393 0.352325L10.9261 0.352325C11.1385 0.352362 11.3461 0.402676 11.5227 0.496907C11.6993 0.591139 11.837 0.725057 11.9182 0.881732C11.9995 1.03841 12.0208 1.2108 11.9794 1.37713C11.9379 1.54345 11.8357 1.69624 11.6855 1.81617L6.75943 5.7489Z"
                    fill="#989BAE"
                  />
                </svg>
              </button>
              <div
                class="button__dropdown-expand select-sim-wrapper"
                *ngIf="sortType"
              >
                <div class="select-sim">
                  <span class="select-sim-cut"></span>
                  <ul class="lists">
                    <li
                      *ngFor="let sortBy of sortBys"
                      (click)="sortType = !sortType"
                      [class.selected]="sortBy !== onSortBy_value"
                      (click)="onSortBy(sortBy)"
                    >
                      {{ sortBy }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="margin-top:40 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title"
        >
          <span class="tablet--grid-col">Name</span>
          <span class="tablet--grid-col">Type</span>
          <span class="tablet--grid-col">Address</span>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636
                <i class="uil uil-sync-exclamation margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636
                <i class="uil uil-sync-exclamation margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                ind_anxplp636 <i class="uil uil-sync margin-left:10"></i
              ></span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
      </my-tab>
      <my-tab tabTitle="Report Verbiage">
        <div
          class="margin-bottom:30 flex-row justify-between align-items-center"
        >
          <div class="font:18:mono text-subtext:100">
            16 Report Verbiage
          </div>
          <div class="flex-row align-items-center">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>

            <div class="margin-right:30">
              <button class="skewed-button button-fill-blue" type="button">
                <i class="skewed-button__icon uil uil-trash"> </i>
                <span class="skewed-button__label">Delete</span>
              </button>
            </div>
          </div>
        </div>

        <div class="grid-row table-column:4">
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading"
                  >DM_INLINE_NETWORK_1
                  <i class="uil uil-sync-exclamation margin-left:10"></i>
                </span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading"
                  >DM_INLINE_NETWORK_1
                  <i class="uil uil-sync-exclamation margin-left:10"></i>
                </span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <div
              class="card-sim flex-row padding-top:15 padding-right:15 padding-bottom:15 padding-left:15 usergroup-card"
            >
              <div class="usergroup-user-title flex-row">
                <div>
                  <div class="usergroup-user-checkbox form-checkbox-group">
                    <input
                      class="form-checkbox-input"
                      id="murinput3"
                      type="checkbox"
                      value="murinput3"
                    />
                    <label class="form-checkbox-label" for="murinput3"></label>
                  </div>
                  <div class="usergroup-user-title--name">
                    CISO Group
                  </div>
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading"
                  >DM_INLINE_NETWORK_1
                  <i class="uil uil-sync margin-left:10"></i>
                </span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading"
                  >DM_INLINE_NETWORK_1
                  <i class="uil uil-sync-exclamation margin-left:10"></i>
                </span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </my-tab>
      <my-tab tabTitle="Report Verbiage">
        <div
          class="margin-bottom:30 flex-row justify-between align-items-center"
        >
          <div class="font:18:mono text-subtext:100">
            5 Reports available
          </div>
          <div class="flex-row align-items-center">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="margin-top:40 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title"
        >
          <span class="tablet--grid-col">Report Title</span>
          <span class="tablet--grid-col">Report Type</span>
          <span class="tablet--grid-col">Created On</span>
          <span class="tablet--grid-col">Action</span>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                Cisco ASA
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Executive
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                23 Sept 2019
              </span>
            </li>
            <li class="tablet--grid-col">
              <span>
                <i class="margin-right:20 icon-alter-uil icon-pdf">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <g class="file-pdf-1754 1" clip-path="url(#clip0)">
                      <g class="Page 1">
                        <g class="Dribbble Light Preview">
                          <g class="icons">
                            <path
                              fill="#FF402F"
                              fill-rule="evenodd"
                              d="M17.743 5.534L12.833.328c-.17-.18-.41-.327-.657-.327H1.781C.787.001 0 .901 0 1.895v6.3C0 8.69.393 9 .89 9h.005c.497 0 .905-.31.905-.806v-5.4c0-.497.384-.994.881-.994H10.8v3.694c0 .994.787 1.706 1.781 1.706H16.2v.994c0 .496.393.806.89.806h.005c.497 0 .905-.31.905-.806v-2.04a.908.908 0 00-.257-.62zM3.58 13.594a.9.9 0 00-.9-.9h-.9v1.8h.9a.9.9 0 00.9-.9zm1.797-.239a2.701 2.701 0 01-2.697 2.846H1.8v.994c0 .496-.408.806-.905.806H.89c-.497 0-.89-.31-.89-.806v-5.4c0-.497.384-.994.881-.994h1.647c1.463 0 2.773 1.094 2.85 2.554zm4.522.24c0-.497-.422-.994-.919-.994H8.1v3.6h.881c.497 0 .919-.31.919-.806v-1.8zm1.8-.094v1.8c0 1.485-1.215 2.7-2.7 2.7H7.105a.805.805 0 01-.805-.806v-5.513a.88.88 0 01.881-.881H9c1.485 0 2.7 1.215 2.7 2.7zm6.3-1.777v.024c0 .497-.422.853-.919.853H14.4v1.8h2.681c.497 0 .919.426.919.923v.024c0 .497-.422.853-.919.853H14.4v.994c0 .496-.408.806-.905.806h-.005c-.497 0-.89-.31-.89-.806v-5.4c0-.497.384-.994.881-.994h3.6c.497 0 .919.426.919.923z"
                              class="file pdf [#1754]"
                              clip-rule="evenodd"
                            />
                          </g>
                        </g>
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0" class="clip0">
                        <path fill="#fff" d="M0 0h18v18H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </i>
                <i class="uil uil-eye"></i>
              </span>
            </li>
          </ul>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                Jarvis
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Detailed
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                23 Sept 2019
              </span>
            </li>
            <li class="tablet--grid-col">
              <span>
                <i class="margin-right:20 icon-alter-uil icon-excel">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <g class="file-excel-2-line 1">
                      <g class="Group">
                        <path
                          fill="#007732"
                          d="M2.144 2.158L11.572.81a.375.375 0 01.428.372v15.634a.376.376 0 01-.428.371l-9.429-1.346A.75.75 0 011.5 15.1V2.9a.75.75 0 01.644-.742h.001zM3 3.55V14.45l7.5 1.071V2.48L3 3.55zm9.75 10.699H15V3.75h-2.25v-1.5h3a.75.75 0 01.75.75v12a.75.75 0 01-.75.75h-3v-1.5zM7.65 9l2.1 3h-1.8l-1.2-1.715L5.55 12h-1.8l2.1-3-2.1-3h1.8l1.2 1.714L7.95 6h1.8l-2.1 3z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </i>
                <i class="uil uil-eye"></i>
              </span>
            </li>
          </ul>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                Jarvis
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Detailed
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                23 Sept 2019
              </span>
            </li>
            <li class="tablet--grid-col">
              <span>
                <i class="margin-right:20 icon-alter-uil icon-excel">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <g class="file-excel-2-line 1">
                      <g class="Group">
                        <path
                          fill="#007732"
                          d="M2.144 2.158L11.572.81a.375.375 0 01.428.372v15.634a.376.376 0 01-.428.371l-9.429-1.346A.75.75 0 011.5 15.1V2.9a.75.75 0 01.644-.742h.001zM3 3.55V14.45l7.5 1.071V2.48L3 3.55zm9.75 10.699H15V3.75h-2.25v-1.5h3a.75.75 0 01.75.75v12a.75.75 0 01-.75.75h-3v-1.5zM7.65 9l2.1 3h-1.8l-1.2-1.715L5.55 12h-1.8l2.1-3-2.1-3h1.8l1.2 1.714L7.95 6h1.8l-2.1 3z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </i>
                <i class="uil uil-eye"></i>
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                Cisco ASA
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Executive
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                23 Sept 2019
              </span>
            </li>
            <li class="tablet--grid-col">
              <span>
                <i class="margin-right:20 icon-alter-uil icon-pdf">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <g class="file-pdf-1754 1" clip-path="url(#clip0)">
                      <g class="Page 1">
                        <g class="Dribbble Light Preview">
                          <g class="icons">
                            <path
                              fill="#FF402F"
                              fill-rule="evenodd"
                              d="M17.743 5.534L12.833.328c-.17-.18-.41-.327-.657-.327H1.781C.787.001 0 .901 0 1.895v6.3C0 8.69.393 9 .89 9h.005c.497 0 .905-.31.905-.806v-5.4c0-.497.384-.994.881-.994H10.8v3.694c0 .994.787 1.706 1.781 1.706H16.2v.994c0 .496.393.806.89.806h.005c.497 0 .905-.31.905-.806v-2.04a.908.908 0 00-.257-.62zM3.58 13.594a.9.9 0 00-.9-.9h-.9v1.8h.9a.9.9 0 00.9-.9zm1.797-.239a2.701 2.701 0 01-2.697 2.846H1.8v.994c0 .496-.408.806-.905.806H.89c-.497 0-.89-.31-.89-.806v-5.4c0-.497.384-.994.881-.994h1.647c1.463 0 2.773 1.094 2.85 2.554zm4.522.24c0-.497-.422-.994-.919-.994H8.1v3.6h.881c.497 0 .919-.31.919-.806v-1.8zm1.8-.094v1.8c0 1.485-1.215 2.7-2.7 2.7H7.105a.805.805 0 01-.805-.806v-5.513a.88.88 0 01.881-.881H9c1.485 0 2.7 1.215 2.7 2.7zm6.3-1.777v.024c0 .497-.422.853-.919.853H14.4v1.8h2.681c.497 0 .919.426.919.923v.024c0 .497-.422.853-.919.853H14.4v.994c0 .496-.408.806-.905.806h-.005c-.497 0-.89-.31-.89-.806v-5.4c0-.497.384-.994.881-.994h3.6c.497 0 .919.426.919.923z"
                              class="file pdf [#1754]"
                              clip-rule="evenodd"
                            />
                          </g>
                        </g>
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0" class="clip0">
                        <path fill="#fff" d="M0 0h18v18H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </i>
                <i class="uil uil-eye"></i>
              </span>
            </li>
          </ul>
        </div>
      </my-tab>
    </my-tabs>
  </div>
</div>
