.grid-row {
  .table-text {
    font-family : var(--roboto-400);
    font-size : 14px;
    line-height : 21px;
    color : var(--text-color-500);
  }
  .table-heading {
    display : block;
    margin-bottom : 10px;
    font-family : var(--roboto-500);
    font-size : 16px;
    line-height : 19px;
    color : var(--text-paragraph-800);
    display : flex;
  }
  a {
    display : inline-block;
  }
}

.icon-alter-uil {
  min-width : 18px;
  height : auto;
  display : inline-block;
  svg {
    width : 100%;
  }
}

.tablet--grid-col {
  flex : 1 1 0;
}
