<section class="d-container">
  <div class="margin-top:40 add-asset-title flex-row justify-between">
    <h2 class="font:32:mono text-color:800">Add Asset</h2>
    <div class="close-button">
      <button class="page-close" (click)="iconClose()">
        <i class="uil uil-times-circle"></i> <span>Cancel</span>
      </button>
    </div>
  </div>
  <div class="margin-top:40 margin-bottom:40 wizard-navigation">
    <ul class="nav-tabs">
      <li #stepper class="active">
        <a class="">
          <span class="hexagon"> 1 </span>
          <span class="label">
            Asset Information
          </span>
        </a>
      </li>

      <li>
        <a class="">
          <span class="hexagon"> 2 </span>
          <span class="label">
            Analysis Information
          </span>
        </a>
      </li>

      <li>
        <a class="">
          <span class="hexagon"> 3</span>
          <span class="label">
            Mechanism
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="card-full-sim">
    <div
      class="card-sim padding-top:50 padding-bottom:50 padding-left:50 padding-right:50"
    >
      <div class="editForm">
        <div
          #asset_information
          class="form-group-fieldset asset-information-wizard active"
        >
          <form [formGroup]="assetForm" novalidate>
            <!-- asset name -->
            <div class="form-group">
              <label class="form-label">Asset Name:</label>
              <div class="form-control-wrapper">
                <input
                  type="text"
                  placeholder="Asset Name"
                  class="form-control"
                  [(ngModel)]="assetData.assetName"
                  formControlName="AssetName"
                  #AssetName
                  required
                  minlength="4"
                />
                <div
                  *ngIf="
                    assetForm.controls['AssetName'].invalid &&
                    (assetForm.controls['AssetName'].dirty ||
                      assetForm.controls['AssetName'].touched)
                  "
                >
                  <div
                    *ngIf="assetForm.controls['AssetName'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Asset Name
                  </div>
                  <div
                    class="form-label-helper-text text-danger"
                    *ngIf="assetForm.controls['AssetName'].errors.minlength"
                  >
                    Please Enter Asset Name minimum 4 character length
                  </div>
                </div>
              </div>
            </div>

            <!-- criticality -->
            <div class="form-group">
              <label class="form-label" for="criticality">Criticality:</label>
              <div class="form-control-wrapper">
                <!-- TODO: update to Angular7 -->
                <input
                  type="hidden"
                  class="form-control criticality-input"
                  [(ngModel)]="assetData.criticality"
                  [value]="assetData.criticality"
                  formControlName="Criticality"
                  #Criticality
                  required
                />
                <button
                  id="criticality_button"
                  type="button"
                  class="padding-top:5 padding-bottom:5 padding-left:5 padding-right:5 border:1px button button__dropdown font:14:400"
                  (click)="[show_areaToggle()]"
                >
                  <span class="selected-value">
                    <span class="indicator {{ selectedHero }}"> </span>
                    {{ selectedHero }}
                  </span>
                  <svg
                    class="icon button__dropdown-arrow"
                    width="12"
                    height="6"
                    viewBox="0 0 12 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="down-arrow"
                      d="M6.75943 5.7489C6.55799 5.90967 6.28483 5.99998 6 5.99998C5.71517 5.99998 5.44201 5.90967 5.24057 5.7489L0.314498 1.81617C0.164321 1.69624 0.0620546 1.54345 0.020627 1.37713C-0.0208006 1.2108 0.000471115 1.03841 0.0817528 0.881732C0.163034 0.725057 0.300675 0.591139 0.477278 0.496907C0.653879 0.402676 0.861511 0.352362 1.07393 0.352325L10.9261 0.352325C11.1385 0.352362 11.3461 0.402676 11.5227 0.496907C11.6993 0.591139 11.837 0.725057 11.9182 0.881732C11.9995 1.03841 12.0208 1.2108 11.9794 1.37713C11.9379 1.54345 11.8357 1.69624 11.6855 1.81617L6.75943 5.7489Z"
                      fill="#989BAE"
                    />
                  </svg>
                </button>
                <div
                  class="select-sim criticality-input-list"
                  *ngIf="show_areaContent"
                >
                  <ul class="">
                    <li
                      *ngFor="let hero of heroes"
                      [class.selected]="hero !== selectedHero"
                      (click)="[show_areaToggle(), onSelect(hero)]"
                    >
                      <span class="indicator {{ hero }}"> </span>{{ hero }}
                    </li>
                  </ul>
                </div>
                <!-- error block -->
                <span
                  class="form-label-helper-text text-danger"
                  *ngIf="
                    assetForm.controls['Criticality'].invalid &&
                    (assetForm.controls['Criticality'].dirty ||
                      assetForm.controls['Criticality'].touched)
                  "
                >
                  <span
                    *ngIf="assetForm.controls['Criticality'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Select Asset criticality
                  </span>
                </span>
              </div>
            </div>

            <!-- network tag -->
            <div class="form-group">
              <label class="form-label" for="networkTag">Network Tag:</label>
              <div class="form-control-wrapper">
                <select
                  class="form-control"
                  formControlName="NetworkTag"
                  #NetworkTag
                  [(ngModel)]="assetData.networkTag"
                >
                  <option value="" disabled>Select Network Tag</option>
                  <option *ngFor="let networkTag of networkTags" [ngValue]="networkTag">
                    {{ networkTag }}
                  </option>
                </select>
                <div
                  *ngIf="
                    assetForm.controls['NetworkTag'].invalid &&
                    (assetForm.controls['NetworkTag'].dirty ||
                      assetForm.controls['NetworkTag'].touched)
                  "
                >
                  <div
                    *ngIf="assetForm.controls['NetworkTag'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Network Tag
                  </div>
                </div>
              </div>
            </div>

            <!-- location -->
            <div class="form-group">
              <label class="form-label" for="locationTag">Location:</label>
              <div class="form-control-wrapper">
                <select
                  class="form-control"
                  formControlName="LocationTag"
                  #LocationTag
                  [(ngModel)]="assetData.locationTag"
                >
                  <option value="" disabled>Select Location</option>
                  <option *ngFor="let locationTag of locationTags" [ngValue]="locationTag">
                    {{ locationTag }}
                  </option>
                </select>
                <div
                  *ngIf="
                    assetForm.controls['LocationTag'].invalid &&
                    (assetForm.controls['LocationTag'].dirty ||
                      assetForm.controls['LocationTag'].touched)
                  "
                >
                  <div
                    *ngIf="assetForm.controls['LocationTag'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please select locations
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- cta -->
          <div class="margin-top:110 form-group space-center-20 justify-center">
            <button type="button" class="skewed-button button-link" disabled>
              <span class="skewed-button__label"> Previous </span>
            </button>
            <button
              type="button"
              class="skewed-button"
              [ngClass]="{
                'button-fill-blue': !assetForm.pristine && !assetForm.invalid,
                'button-link': assetForm.pristine || assetForm.invalid
              }"
              (click)="assetInformationAction($event)"
              [disabled]="assetForm.pristine || assetForm.invalid"
            >
              <span class="skewed-button__label"> Next </span>
            </button>
          </div>
        </div>

        <div
          #analysis_information
          class="form-group-fieldset analysis-information-wizard"
        >
          <form [formGroup]="analysisForm" novalidate>
            <!-- analysis type -->
            <div class="form-group align-items-start">
              <label class="form-input-label" for="asset-name">
                Analysis type:
              </label>
              <div class="form-control-wrapper">
                <div class="form-checkbox-collection">
                  <div class="form-checkbox-group">
                    <input
                      class="form-checkbox-input"
                      id="securityanalysis"
                      type="checkbox"
                      value="securityanalysis"
                      [(ngModel)]="assetData.securityAnalysis"
                      formControlName="SecurityAnalysis"
                      #SecurityAnalysis
                    />
                    <label class="form-checkbox-label" for="securityanalysis">
                      Security Analysis
                    </label>
                  </div>
                  <div class="form-checkbox-group">
                    <input
                      class="form-checkbox-input"
                      id="optimizationanlysis"
                      type="checkbox"
                      [(ngModel)]="assetData.optimizationAnalysis"
                      value="optimizationanlysis"
                      formControlName="OptimizationAnalysis"
                      #OptimizationAnalysis
                    />
                    <label
                      class="form-checkbox-label"
                      for="optimizationanlysis"
                    >
                      Optimization Analysis
                    </label>
                  </div>
                  <div class="form-checkbox-group">
                    <input
                      class="form-checkbox-input"
                      id="loganalysis"
                      #LogAnalysis
                      type="checkbox"
                      value="loganalysis"
                      [(ngModel)]="assetData.logAnalysis"
                      formControlName="LogAnalysis"
                    />
                    <label class="form-checkbox-label" for="loganalysis">
                      Log Analysis
                    </label>
                  </div>
                </div>
                <div
                  class="form-label-helper-text form-label-helper-text-error"
                ></div>
              </div>
            </div>
            <div *ngIf="LogAnalysis.checked">
              <div class="form-group">
                <label class="form-label" for="ipAddress">IP address:</label>
                <div class="form-control-wrapper">
                  <input
                    type="text"
                    placeholder="IP Address"
                    class="form-control"
                    formControlName="LogIpAddress"
                    [(ngModel)]="assetData.logIpAddress"
                    #LogIpAddress

                  />
                  <div
                    *ngIf="
                      analysisForm.controls['LogIpAddress'].invalid &&
                      (analysisForm.controls['LogIpAddress'].dirty ||
                        analysisForm.controls['LogIpAddress'].touched)
                    "
                  >
                    <div
                      *ngIf="
                        analysisForm.controls['LogIpAddress'].errors.required
                      "
                      class="form-label-helper-text form-label-helper-text-error"
                    >
                      Oh Snap! Please Enter Logstash IP address
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="protocol">Protocol:</label>
                <div class="form-control-wrapper">
                  <select
                    class="form-control"
                    formControlName="logProtocol"
                    #logProtocol
                    [(ngModel)]="assetData.logProtocol"

                  >
                    <option value="" disabled>Select Network Tag</option>
                    <option
                      *ngFor="let protocols of logProtocols"
                      [ngValue]="protocols"
                    >
                      {{ protocols }}
                    </option>
                  </select>

                  <div
                    *ngIf="
                      analysisForm.controls['logProtocol'].invalid &&
                      (analysisForm.controls['logProtocol'].dirty ||
                        analysisForm.controls['logProtocol'].touched)
                    "
                  >
                    <div
                      *ngIf="
                        analysisForm.controls['logProtocol'].errors.required
                      "
                      class="form-label-helper-text form-label-helper-text-error"
                    >
                      Oh Snap! Please Select Asset Protocol
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" for="logSysLogPort"
                  >Listener Port</label
                >
                <div class="form-control-wrapper">
                  <input
                    type="number"
                    placeholder="SysLog Port"
                    class="form-control"
                    formControlName="logSysLogPort"
                    [(ngModel)]="assetData.logSysLogPort"
                    #logSysLogPort

                  />
                  <div
                    *ngIf="
                      analysisForm.controls['logSysLogPort'].invalid &&
                      (analysisForm.controls['logSysLogPort'].dirty ||
                        analysisForm.controls['logSysLogPort'].touched)
                    "
                  >
                    <div
                      *ngIf="
                        analysisForm.controls['logSysLogPort'].errors.required
                      "
                      class="form-label-helper-text form-label-helper-text-error"
                    >
                      Oh Snap! Please Enter Logstash Port Number
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="logAPIURL">API Url</label>
                <div class="form-control-wrapper">
                  <input
                    type="url"
                    placeholder="API URL"
                    class="form-control"
                    formControlName="logAPIURL"
                    [(ngModel)]="assetData.logAPIURL"
                    #logAPIURL

                  />
                  <div
                    *ngIf="
                      analysisForm.controls['logAPIURL'].invalid &&
                      (analysisForm.controls['logAPIURL'].dirty ||
                        analysisForm.controls['logAPIURL'].touched)
                    "
                  >
                    <div
                      *ngIf="analysisForm.controls['logAPIURL'].errors.required"
                      class="form-label-helper-text form-label-helper-text-error"
                    >
                      Oh Snap! Please Enter Logstash Path
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="margin-top:110 form-group space-center-20 justify-center">
            <button

              type="button"
              class="skewed-button button-link"
              (click)="analysisInformationPrev($event)"
            >
              <span class="skewed-button__label"> Previous </span>
            </button>
            <button
              type="button"
              class="special-remove-disable skewed-button"
              [ngClass]="{
                'button-fill-blue':
                  !analysisForm.pristine && !analysisForm.invalid,
                'button-link': analysisForm.pristine || analysisForm.invalid
              }"
              (click)="analysisInformationNext($event)"
              [disabled]="  analysisForm.invalid"
            >
              <span class="skewed-button__label"> Next </span>
            </button>
          </div>
        </div>

        <div
          #mechanism_information
          class="form-group-fieldset mechanism-information-wizard"
        >
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label class="form-label" for="asset-name">Asset Type:</label>
              <div class="form-control-wrapper">
                <select
                  class="form-control"
                  placeholder="Select Asset Type"
                  [(ngModel)]="assetData.assetType"
                  formControlName="AssetType"
                  #AssetType
                >
                  <option disabled>Select Asset Type</option>
                  <option
                    *ngFor="let assetType of assetTypes"
                    [ngValue]="assetType"
                  >
                    {{ assetType }}
                  </option>
                </select>
                <div
                  *ngIf="
                    registerForm.controls['AssetType'].invalid &&
                    (registerForm.controls['AssetType'].dirty ||
                      registerForm.controls['AssetType'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['AssetType'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Asset Type
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="asset-name">Vendor:</label>
              <div class="form-control-wrapper">
                <select
                  class="form-control"
                  formControlName="Vendor"
                  #Vendor
                  [(ngModel)]="assetData.vendor"
                >
                  <option disabled>Select Vendor</option>
                  <option *ngFor="let vendor of vendors" [ngValue]="vendor">
                    {{ vendor }}
                  </option>
                </select>
                <div
                  *ngIf="
                    registerForm.controls['Vendor'].invalid &&
                    (registerForm.controls['Vendor'].dirty ||
                      registerForm.controls['Vendor'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['Vendor'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Vendor
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="asset-name"
                >Fetch Mechanism:</label
              >
              <div class="form-control-wrapper">
                <select
                  class="form-control"
                  formControlName="FetchMechanism"
                  #FetchMechanism
                  [(ngModel)]="assetData.fetchMechanism"
                >
                  <option disabled>Select Mechanism</option>
                  <option
                    *ngFor="let fetchMechanism of fetchMechanismes"
                    [ngValue]="fetchMechanism"
                  >
                    {{ fetchMechanism }}
                  </option>
                </select>
                <div
                  *ngIf="
                    registerForm.controls['FetchMechanism'].invalid &&
                    (registerForm.controls['FetchMechanism'].dirty ||
                      registerForm.controls['FetchMechanism'].touched)
                  "
                >
                  <div
                    *ngIf="
                      registerForm.controls['FetchMechanism'].errors.required
                    "
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Fetch Mechanism
                  </div>
                </div>
              </div>
            </div>
            <!-- ip address -->
            <div class="form-group">
              <label class="form-label" for="ipaddress">IP address:</label>
              <div class="form-control-wrapper">
                <input
                  class="form-control"
                  type="text"
                  name="asset-name"
                  id="ipaddress"
                  placeholder="192.0.0.0/29"
                  [(ngModel)]="assetData.ipAddress"
                  formControlName="IpAddress"
                  #IpAddress
                />
                <div
                  *ngIf="
                    registerForm.controls['IpAddress'].invalid &&
                    (registerForm.controls['IpAddress'].dirty ||
                      registerForm.controls['IpAddress'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['IpAddress'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide IP address
                  </div>
                </div>
              </div>
            </div>
            <!-- port -->
            <div class="form-group">
              <label class="form-label" for="port">Port:</label>
              <div class="form-control-wrapper">
                <input
                  class="form-control"
                  type="text"
                  name=""
                  id="port"
                  placeholder="Port: 80"
                  [(ngModel)]="assetData.port"
                  formControlName="Port"
                  #Port
                />
                <div
                  *ngIf="
                    registerForm.controls['Port'].invalid &&
                    (registerForm.controls['Port'].dirty ||
                      registerForm.controls['Port'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['Port'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Port
                  </div>
                </div>
              </div>
            </div>
            <!-- username -->
            <div class="form-group">
              <label class="form-label" for="username">Username:</label>
              <div class="form-control-wrapper">
                <input
                  class="form-control"
                  type="text"
                  name=""
                  id="username"
                  placeholder="john smith"
                  [(ngModel)]="assetData.userName"
                  formControlName="UserName"
                  #UserName
                />
                <div
                  *ngIf="
                    registerForm.controls['UserName'].invalid &&
                    (registerForm.controls['UserName'].dirty ||
                      registerForm.controls['UserName'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['UserName'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide User Name
                  </div>
                </div>
              </div>
            </div>
            <!-- password -->
            <div class="form-group">
              <label class="form-label" for="password">Password:</label>
              <div class="form-control-wrapper">
                <input
                  class="form-control"
                  type="password"
                  name=""
                  id="password"
                  [(ngModel)]="assetData.password"
                  formControlName="Password"
                  #Password
                />
                <div
                  *ngIf="
                    registerForm.controls['Password'].invalid &&
                    (registerForm.controls['Password'].dirty ||
                      registerForm.controls['Password'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['Password'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Fetch Mechanism
                  </div>
                </div>
              </div>
            </div>

            <!-- ssh password -->
            <div class="form-group">
              <label class="form-label" for="sshpassword">SSH Password:</label>
              <div class="form-control-wrapper">
                <input
                  class="form-control"
                  type="password"
                  name=""
                  id="sshpassword"
                  [(ngModel)]="assetData.sshPassword"
                  formControlName="SSHPassword"
                  #SSHPassword
                />
                <div
                  *ngIf="
                    registerForm.controls['SSHPassword'].invalid &&
                    (registerForm.controls['SSHPassword'].dirty ||
                      registerForm.controls['SSHPassword'].touched)
                  "
                >
                  <div
                    *ngIf="registerForm.controls['SSHPassword'].errors.required"
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Fetch Mechanism
                  </div>
                </div>
              </div>
            </div>

            <!-- recurrance type -->
            <div class="form-group">
              <label class="form-label" for="recurrancetype"
                >Recurrance Type:</label
              >
              <div class="form-control-wrapper">
                <select
                  class="form-control"
                  [(ngModel)]="assetData.recurranceType"
                  formControlName="RecurranceType"
                  #RecurranceType
                >
                  <option disabled>Recurrance Type..</option>
                  <option
                    *ngFor="let recurranceType of recurranceTypes"
                    [ngValue]="recurranceType"
                  >
                    {{ recurranceType }}
                  </option>
                </select>
                <div
                  *ngIf="
                    registerForm.controls['RecurranceType'].invalid &&
                    (registerForm.controls['RecurranceType'].dirty ||
                      registerForm.controls['RecurranceType'].touched)
                  "
                >
                  <div
                    *ngIf="
                      registerForm.controls['RecurranceType'].errors.required
                    "
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Fetch Mechanism
                  </div>
                </div>
              </div>
            </div>
            <!-- interval value: -->
            <div class="form-group">
              <label class="form-label" for="intervalview"
                >Interval Value:</label
              >
              <div class="form-control-wrapper">
                <input
                  class="form-control"
                  type="number"
                  name=""
                  id="intervalview"
                  placeholder=""
                  [(ngModel)]="assetData.intervalValue"
                  formControlName="IntervalValue"
                  #IntervalValue
                />
                <div
                  *ngIf="
                    registerForm.controls['IntervalValue'].invalid &&
                    (registerForm.controls['IntervalValue'].dirty ||
                      registerForm.controls['IntervalValue'].touched)
                  "
                >
                  <div
                    *ngIf="
                      registerForm.controls['IntervalValue'].errors.required
                    "
                    class="form-label-helper-text form-label-helper-text-error"
                  >
                    Please Provide Fetch Mechanism
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- cta -->

          <div class="margin-top:110 form-group space-center-20 justify-center">
            <button
              type="button"
              class="skewed-button button-link"
              (click)="mechanismInformationPrev($event)"
            >
              <span class="skewed-button__label"> Previous </span>
            </button>
            <button
              type="button"
              class="skewed-button"
              [ngClass]="{
                'button-fill-blue':
                  !registerForm.pristine && !registerForm.invalid,
                'button-link': registerForm.pristine || registerForm.invalid
              }"
              (click)="onSubmit()"
              [disabled]="registerForm.pristine || registerForm.invalid"
            >
              <span class="skewed-button__label"> Save </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
