.page-title {
  font-family : var(--roboto-mono);
  font-size : 32px;
  line-height : 37px;
  display : flex;
  align-items : center;
  color : var(--slate);
}

.close-button {
  display : flex;
  align-items : center;

  .page-close {
    font-size : 16px;
    line-height : 19px;
    color : var(--slate);
    font-family : var(--roboto-mono);
  }
}

.add-asset-title {
  // display : flex;
  // justify-content : space-between;
  // margin : 0 15px 40px;
}

.board-inner {
  display : flex;
  justify-content : center;
  align-items : center;
  width : 100%;
  margin-bottom : 40px;

  ul {
    display : flex;
    justify-content : space-between;
    align-items : center;

    li {
      margin-right : 90px;

      &:last-child {
        margin-right : 0;
      }

      a {
        flex : 1 0 auto;
        display : flex;
        align-items : center;
        color : var(--text-color-700);

        .hexagon {
          background : var(--moonstone-blue);
          color : var(--white);

          &:before {
            border-bottom : 11.55px solid var(--moonstone-blue);
          }

          &:after {
            border-top : 11.55px solid var(--moonstone-blue);
          }
        }

        &.active {
          .hexagon {
            background : var(--tab-active);
            color : var(--white);

            &:before {
              border-bottom-color : var(--tab-active);
            }

            &:after {
              border-top-color : var(--tab-active);
            }
          }

          color : var(--tab-active);
        }
      }
    }
  }
}

.hexagon {
  position : relative;
  width : 40px;
  height : 23.09px;
  margin : 11.55px 0;
  display : flex;
  justify-content : center;
  align-items : center;
  margin-right : 20px;

  &:before ,
  &:after {
    content : '';
    position : absolute;
    width : 0;
    border-left : 20px solid transparent;
    border-right : 20px solid transparent;
  }

  &:before {
    bottom : 100%;
  }

  &:after {
    top : 100%;
    width : 0;
  }
}

.form-group-fieldset {
  display : none;

  &.active {
    display : block;
  }
}

.editForm {
  .form-group-fieldset {
    &.active {
      max-width : 372px;
      margin : 0 auto;
      display : block;
      // background-color : lightblue;
    }

    .form {
      &-group {
        display : flex;
        flex-wrap : nowrap;
        width : unset;
        position : relative;
      }

      &-label {
        flex : 1;
        max-width : 212px;
        text-align : right;

        &-helper-text {
          padding : 0;
          display : block;
          font-family : var(--roboto-400);
          font-size : 12px;
          line-height : 14px;
          color : #eb7d4d;
        }
      }

      &-control {
        width : 100%;
        box-sizing : border-box;

        &-wrapper {
          flex : 0 0 220px;
          max-width : 220px;
          box-sizing : content-box;
        }
      }
    }
  }
}

.form-control-wrapper {
  position : relative;

  .button__dropdown {
    font-family : var(--roboto-400);
    font-size : 16px;
    line-height : 19px;
    padding : 13px 16px;
    border : 1px solid var(--input-border-color);
    border-radius : 2px;
    width : 100%;
  }

  .criticality-input {
    &-list {
      position : absolute;
      top : 100%;
      width : 100%;
      background : var(--white);
      z-index : 5;
      border : 1px solid var(--input-border-color);
      border-top : 0;
      border-bottom-left-radius : 2px;
      border-bottom-right-radius : 2px;

      li {
        color : var(--blue-grey);
        font-size : 16px;
        font-family : var(--roboto-400);
        display : flex;
        align-items : center;
        margin : 0 10px;
        padding : 10px 0;
        border-bottom : 1px solid var(--columbia-blue);
        cursor : pointer;

        &:last-child {
          border-bottom : 0;
        }
      }
    }
  }
}

.selected-value {
  display : flex;
  align-items : center;
  flex : 1;
  z-index : -1;
}

span.indicator {
  display : inline-block;
  border-radius : 2px;
  margin-right : 12px;
  width : 16px;
  height : 16px;
  background : var(--text-paragraph-600);

  &.Critical {
    background : #eb4d4d;
  }

  &.High {
    background : #eb7d4d;
  }

  &.Medium {
    background : #ebb64d;
  }

  &.Low {
    background : #41c303;
  }

  &.Information {
    background : #1393ff;
  }
}


.card-full-sim .form-checkbox-group .form-checkbox-label:before {
  margin-right : 16px;
}