<div class="page-admin-client-component">
  <h2 class="title">Manage Clients</h2>
  <div class="flex-row align-items-center justify-between filter-area">
    <span>10 Clients listed</span>
    <div class="asset-view-search input-search margin-left:40">
      <div class="input-group">
        <label [hidden] for="searchText"></label>
        <i class="uil uil-white uil-search"></i>
        <input
          type="text"
          name="searchText"
          id="searchText"
          placeholder="Search"
        />
      </div>
    </div>
    <button id="addAsset" class="skewed-button button-fill-blue" type="button">
      <i class="skewed-button__icon material-icons"> add </i
      ><span class="skewed-button__label">Add Asset</span>
    </button>
    <button
      id="fileCompare"
      class="skewed-button button-fill-blue d-none"
      type="button"
    >
      <i class="skewed-button__icon uil uil-trash"> </i>
      <span class="skewed-button__label">Delete</span>
    </button>
  </div>

  <!-- page data title -->
  <div class="page-data-content">
    <ul
      class="margin-top:40 padding-left:20 padding-right:20 d-grid grid-list-items grid-template-title"
    >
      <li></li>
      <li class="cursor:pointer">
        <ul class="flex-row justify-between align-items-center width:100">
          <li>
            Name
          </li>
          <li>
            Email ID
          </li>
          <li>
            Phone No
          </li>
          <li>
            <span class="">
              License
            </span>
          </li>
        </ul>
      </li>
    </ul>

    <!-- load the data form card component -->
    <app-card bg_color="white" card_type="card-sim-1170">
      <ul
        class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
      >
        <li>
          <div class="card-selector">
            <div class="form-checkbox-group">
              <input
                (click)="checkme($event)"
                class="form-checkbox-input"
                type="checkbox"
                id="input1"
                value="input1"
              />
              <label class="form-checkbox-label" for="input1"></label>
            </div>
          </div>
        </li>
        <li class="cursor:pointer">
          <ul class="flex-row justify-between align-items-center width:100">
            <li>
              <div class="avatar-small">
                <a href="#" class="link-text">
                  <div class="" aria-label="Rillusion UX">R</div>
                  <span>Rillusion</span>
                </a>
              </div>
            </li>
            <li>
              Rill@gmail.com
            </li>
            <li>
              +91 9654781541
            </li>
            <li>
              <span class="button-chip  bg-alert-color:medium "> Active </span>
              <span class=""> 365 Days </span>
              <span class="">
                <i class="uil uil-edit-alt"></i>
                Update
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </app-card>
    <app-card bg_color="white" card_type="card-sim-1170">
      <ul
        class="padding-left:20 padding-right:20 d-grid grid-list-items grid-last-child-m-b-0 grid-template"
      >
        <li>
          <div class="card-selector">
            <div class="form-checkbox-group">
              <input
                (click)="checkme($event)"
                class="form-checkbox-input"
                type="checkbox"
                id="input2"
                value="input2"
              />
              <label class="form-checkbox-label" for="input2"></label>
            </div>
          </div>
        </li>
        <li class="cursor:pointer">
          <ul class="flex-row justify-between align-items-center width:100">
            <li>
              <div class="avatar-small">
                <a href="#" class="link-text">
                  <div class="" aria-label="Rillusion UX">R</div>
                  <span>Rillusion</span>
                </a>
              </div>
            </li>
            <li>
              Rill@gmail.com
            </li>
            <li>
              +91 9654781541
            </li>
            <li>
              <span class="button-chip  bg-alert-color:medium "> Active </span>
              <span class=""> 365 Days </span>
              <span class="">
                <i class="uil uil-edit-alt"></i>
                Update
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </app-card>
    <app-card bg_color="white" card_type="card-sim-1170">
      <ul
        class="padding-left:20 padding-right:20 d-grid grid-list-items grid-last-child-m-b-0 grid-template"
      >
        <li>
          <div class="card-selector">
            <div class="form-checkbox-group">
              <input
                (click)="checkme($event)"
                class="form-checkbox-input"
                type="checkbox"
                id="input3"
                value="input3"
              />
              <label class="form-checkbox-label" for="input3"></label>
            </div>
          </div>
        </li>
        <li class="cursor:pointer">
          <ul class="flex-row justify-between align-items-center width:100">
            <li>
              <div class="avatar-small">
                <a href="#" class="link-text">
                  <div class="" aria-label="Rillusion UX">R</div>
                  <span>Rillusion</span>
                </a>
              </div>
            </li>
            <li>
              Rill@gmail.com
            </li>
            <li>
              +91 9654781541
            </li>
            <li>
              <span class="">*No License Available </span>
              <span class="">
                <i class="uil uil-file-upload"></i>
                Upload
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </app-card>
    <app-card bg_color="white" card_type="card-sim-1170">
      <ul
        class="padding-left:20 padding-right:20 d-grid grid-list-items grid-last-child-m-b-0 grid-template"
      >
        <li>
          <div class="card-selector">
            <div class="form-checkbox-group">
              <input
                (click)="checkme($event)"
                class="form-checkbox-input"
                type="checkbox"
                id="input4"
                value="input4"
              />
              <label class="form-checkbox-label" for="input4"></label>
            </div>
          </div>
        </li>
        <li class="cursor:pointer">
          <ul class="flex-row justify-between align-items-center width:100">
            <li>
              <div class="avatar-small">
                <a href="#" class="link-text">
                  <div class="" aria-label="Rillusion UX">R</div>
                  <span>Rillusion</span>
                </a>
              </div>
            </li>
            <li>
              Rill@gmail.com
            </li>
            <li>
              +91 9654781541
            </li>
            <li>
              <span class="">*No License Available </span>
              <span class="">
                <i class="uil uil-file-upload"></i>
                Upload
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </app-card>
    <app-card bg_color="white" card_type="card-sim-1170">
      <ul
        class="padding-left:20 padding-right:20 d-grid grid-list-items grid-last-child-m-b-0 grid-template"
      >
        <li>
          <div class="card-selector">
            <div class="form-checkbox-group">
              <input
                (click)="checkme($event)"
                class="form-checkbox-input"
                type="checkbox"
                id="input5"
                value="input5"
              />
              <label class="form-checkbox-label" for="input5"></label>
            </div>
          </div>
        </li>
        <li class="cursor:pointer">
          <ul class="flex-row justify-between align-items-center width:100">
            <li>
              <div class="avatar-small">
                <a href="#" class="link-text">
                  <div class="" aria-label="Rillusion UX">R</div>
                  <span>Rillusion</span>
                </a>
              </div>
            </li>
            <li>
              Rill@gmail.com
            </li>
            <li>
              +91 9654781541
            </li>
            <li>
              <span class="button-chip  bg-alert-color:medium "> Active </span>
              <span class=""> 365 Days </span>
              <span class="">
                <i class="uil uil-edit-alt"></i>
                Update
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </app-card>
    <app-card bg_color="white" card_type="card-sim-1170">
      <ul
        class="padding-left:20 padding-right:20 d-grid grid-list-items grid-last-child-m-b-0 grid-template"
      >
        <li>
          <div class="card-selector">
            <div class="form-checkbox-group">
              <input
                (click)="checkme($event)"
                class="form-checkbox-input"
                type="checkbox"
                id="input6"
                value="input6"
              />
              <label class="form-checkbox-label" for="input6"></label>
            </div>
          </div>
        </li>
        <li class="cursor:pointer">
          <ul class="flex-row justify-between align-items-center width:100">
            <li>
              <div class="avatar-small">
                <a href="#" class="link-text">
                  <div class="" aria-label="Rillusion UX">R</div>
                  <span>Rillusion</span>
                </a>
              </div>
            </li>
            <li>
              Rill@gmail.com
            </li>
            <li>
              +91 9654781541
            </li>
            <li>
              <span class="button-chip  bg-alert-color:medium "> Active </span>
              <span class=""> 365 Days </span>
              <span class="">
                <i class="uil uil-edit-alt"></i>
                Update
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </app-card>
  </div>
</div>
