app-client {
  flex : 1;
  .title {
    font-family : var(--roboto-mono);
    font-size : 32px;
    line-height : 37px;
    color : var(--text-color-800);
    margin-bottom : 27px;
  }
  .filter-area {
    span {
      font-family : var(--roboto-mono);
      font-size : 18px;
      line-height : 21px;
      color : var(--text-color-500);
    }
    .input-search {
      margin-left : 60px;
      margin-right : 30px;
      flex : 1 0 auto;
    }
    .button-fill-blue {
      .skewed-button__label {
        color : var(--white);
      }
    }
  }
  .page-data-content {
    .grid-template-title {
      grid-template-columns : 40px 220px;
      li.cursor\:pointer {
        ul {
          li {
            &:nth-child(1) {
              flex : 0 0 190px;
              justify-content : flex-start;
            }
            &:nth-child(2) {
              flex : 0 0 210px;
            }
            &:nth-child(3) {
              flex : 0 0 220px;
            }
            &:nth-child(4) {
              flex : 1 0 auto;
            }
          }
        }
      }
    }
    .grid-list-items {
      grid-template-columns : 40px 1fr;
      li {
        &:first-child {
          display : flex;
          justify-content : center;
          align-items : center;
        }
        &:last-child {
          white-space : nowrap;
          text-overflow : ellipsis;
          overflow : hidden;
          li {
            &:nth-child(1) {
              flex : 0 0 190px;
              justify-content : flex-start;
            }
            &:nth-child(2) {
              flex : 0 0 210px;
            }
            &:nth-child(3) {
              flex : 0 0 220px;
            }
            &:nth-child(4) {
              flex : 1 0 auto;
            }
          }
          span {
            margin-right : 25px;
            &:last-child {
              margin-right : 0;
            }
          }
        }
      }
      .card-selector {
        .form-checkbox-group ,
        .form-checkbox-label {
          margin-bottom : 0;
        }
        .form-checkbox-label:before {
          margin-right : 0;
        }
      }
    }
  }
}
