<div class="d-container">
  <!-- page content filter -->
  <div class="flex-row align-items-center margin-top:40">
    <div class="margin-right:40 font:24:mono">
      <h2 class="text-header:200 font:32:mono text-color:800">
        {{pageTitle}}
      </h2>
    </div>
    <!-- Sort By -->
    <div class="font:14:400 z-index:3 button__dropdown">
      <div
          type="button"
          class="button__dropdown--item min-width:300 border:1 text-color:500"
          id="sortAssetContentShow"
          (click)="[sortAssetContentToggle($event)]">
          Large Subnets
      </div>
      <div
          class="button__dropdown--expand expand-bottom"
          *ngIf="sortAssetContent">
          <div class="list-items">
              <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
              <li class="list-item" [routerLink]="['/assets/rule/optimization/shadow-rule']">
                Shadow Rules
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/redundant-rules']">
                Redundant Rules
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/source-grouping']">
                Source Grouping
              </li>
              <li class="list-item active" [routerLink]="['/assets/rule/optimization/destination-grouping']">
                Destination Grouping
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/service-grouping']">
                Service Grouping
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/large-subnets']">
                Large Subnets
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/unused-objects']">
                Unused Objects
              </li>
              </ul>
          </div>
      </div>
  </div>
  </div>
  <div class="flex-row justify-between align-items-center margin-top:40">
    <div class=" text-color:500  font:18:mono text-subtext:100">
      {{ totalItems }} Overly Permissive
    </div>

    <div class="flex-row justify-between align-items-center">
      <div class="margin-right:30 input-search">
        <div class="input-group">
          <label [hidden] for="searchText"></label>
          <i class="uil uil-white uil-search"></i>
          <input
            [(ngModel)]="searchText"
            type="text"
            name="searchText"
            id="searchText"
            placeholder="Search"
          />
        </div>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-white" type="button">
          <i class="skewed-button__icon uil uil-filter"> </i>
          <span class="skewed-button__label">Filter</span>
        </button>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-blue" type="button">
          <i class="skewed-button__icon uil uil-arrow-up-right"> </i>
          <span class="skewed-button__label"> Export as CSV</span>
        </button>
      </div>
    </div>
  </div>

  <section class="page--large-subnets">

    <!-- data -->
    <div class="block-container">
      <div
      class="margin-top:40 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title"
    >
      <span class="tablet--grid-col">Host</span>
      <span class="tablet--grid-col">Networking ID</span>
      <span class="tablet--grid-col">Subnet Mask</span>
    </div>

        <div
            *ngIf="LargeSubnetDataLoaded; else skeleton"
            [@fadeIn]>
            <div
                class="card-full-sim margin-bottom:20"
                *ngFor="let repo of LargeSubnetData | filter: searchText">
                <ul

                class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
              >
                  <li class="tablet--grid-col">
                    <span class="table-text">{{repo.host}}</span>
                  </li>
                  <li class="tablet--grid-col">
                    <span class="table-text">
                      {{repo.service_protocol}}
                    </span>
                  </li>
                  <li class="tablet--grid-col">
                    <span class="table-text">
                      {{repo.subnet_mask}}
                    </span>
                  </li>
                </ul>


            </div>
        </div>
        <!-- TODO: pagination need to update onChange search input -->
        <div
            [hidden]="noResults"
            *ngIf="LargeSubnetData">
            <pagination-template
                #pApi="paginationApi"
                (pageChange)="p = $event">
                <div class="margin-top:40 d-flex justify-center align-items-center pagination-wrapper">
                    <div class="d-flex justify-center align-items-center pagination-area">
                        <div
                            class="pagination-first"
                            *ngIf="!pApi.isFirstPage()"
                            [class.disabled]="pApi.isFirstPage()">
                            <span
                                class="pagination-icon"
                                (click)="pApi.setCurrent(1)">
                                <svg
                                    class="icon icon--forward"
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14 14L5.477 8L14 2L14 14Z"
                                        fill="#D9DADF"></path>
                                    <path
                                        d="M2 13L2 2.636"
                                        stroke="#D9DADF"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </div>

                        <div
                            class="pagination-previous"
                            *ngIf="!pApi.isFirstPage()"
                            [class.disabled]="pApi.isFirstPage()">
                            <span
                                class="pagination-icon"
                                (click)="pApi.previous()">
                                <svg
                                    class="icon icon--next"
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.29279 8.12121C5.10532 7.93369 5 7.67938 5 7.41421C5 7.14905 5.10532 6.89474 5.29279 6.70721L8.87879 3.12121C9.01864 2.9814 9.1968 2.8862 9.39075 2.84763C9.58471 2.80906 9.78574 2.82887 9.96844 2.90454C10.1511 2.98021 10.3073 3.10835 10.4172 3.27275C10.5271 3.43716 10.5857 3.63046 10.5858 3.82821V11.0002C10.5857 11.198 10.5271 11.3913 10.4172 11.5557C10.3073 11.7201 10.1511 11.8482 9.96844 11.9239C9.78574 11.9996 9.58471 12.0194 9.39075 11.9808C9.1968 11.9422 9.01864 11.847 8.87879 11.7072L5.29279 8.12121Z"
                                        fill="#A1A3AE"></path>
                                </svg>
                            </span>
                        </div>

                        <div
                            class="pagination-number"
                            *ngFor="let page of pApi.pages"
                            [class.current]="pApi.getCurrent() === page.value">
                            <span
                                class
                                (click)="pApi.setCurrent(page.value)"
                                *ngIf="pApi.getCurrent() !== page.value">
                                {{ page.label }}
                            </span>
                            <span
                                class="current"
                                *ngIf="pApi.getCurrent() === page.value">
                                {{
                page.label
              }}
                            </span>
                        </div>

                        <div
                            class="pagination-next"
                            *ngIf="!pApi.isLastPage()"
                            [class.disabled]="pApi.isLastPage()">
                            <span
                                class="pagination-icon"
                                (click)="pApi.next()">
                                <svg
                                    class="icon icon--next"
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.29279 8.12121C5.10532 7.93369 5 7.67938 5 7.41421C5 7.14905 5.10532 6.89474 5.29279 6.70721L8.87879 3.12121C9.01864 2.9814 9.1968 2.8862 9.39075 2.84763C9.58471 2.80906 9.78574 2.82887 9.96844 2.90454C10.1511 2.98021 10.3073 3.10835 10.4172 3.27275C10.5271 3.43716 10.5857 3.63046 10.5858 3.82821V11.0002C10.5857 11.198 10.5271 11.3913 10.4172 11.5557C10.3073 11.7201 10.1511 11.8482 9.96844 11.9239C9.78574 11.9996 9.58471 12.0194 9.39075 11.9808C9.1968 11.9422 9.01864 11.847 8.87879 11.7072L5.29279 8.12121Z"
                                        fill="#A1A3AE"></path>
                                </svg>
                            </span>
                        </div>

                        <div
                            class="pagination-last"
                            *ngIf="!pApi.isLastPage()"
                            [class.disabled]="pApi.isLastPage()">
                            <span
                                class="pagination-icon"
                                (click)="pApi.setCurrent(pApi.getLastPage())">
                                <svg
                                    class="icon icon--forward"
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14 14L5.477 8L14 2L14 14Z"
                                        fill="#D9DADF"></path>
                                    <path
                                        d="M2 13L2 2.636"
                                        stroke="#D9DADF"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="pagination-itemsPerPage z-index:3 button__dropdown margin-left:20">
                        <div
                            type="button"
                            class="button__dropdown--item border:1 text-color:500"
                            id="totalRow_show"
                            (click)="[totalRowToggle($event)]">
                            {{ totalRow_show }} Rows
                        </div>
                        <div
                            class="button__dropdown--expand expand-top"
                            *ngIf="totalRowContent">
                            <div class="list-items">
                                <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                    <li
                                        class="list-item"
                                        *ngFor="let totalRow of totalRows"
                                        (click)="[totalRowToggle($event), ontotalRow(totalRow)]">
                                        {{ totalRow }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="margin-left:20 pagination-range">
                        {{ p * totalRow_show + 1 }} - {{ p * totalRow_show }} of
            {{ totalItems }}
                    </div>
                </div>
            </pagination-template>
        </div>

        <!-- skeleton -->
        <ng-template #skeleton>
          <div class="card--group tabled:grid-col-4">
              <div class="card-full-sim margin-bottom:20">
              </div>
              <div class="card-full-sim margin-bottom:20">
              </div>
              <div class="card-full-sim margin-bottom:20">
              </div>
              <div class="card-full-sim margin-bottom:20">
              </div>
          </div>
      </ng-template>
        <!-- skeleton -->
    </div>
  </section>
</div>





<app-bottom-sheet
    id="source-address"
    modalType="small"
    modalTitle="Sources">
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">6 Sources</div>
    <section class="padding-bottom:30">
        <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
            <span class="tablet--grid-col">Name</span>
            <span class="tablet--grid-col">Type</span>
            <span class="tablet--grid-col">Address</span>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">FP</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('source-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">ind-sap032</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
    </section>
</app-bottom-sheet>

<app-bottom-sheet
    id="source-where-used"
    modalType="small"
    modalTitle="Source Address: FP">
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">
        <button
            class="btn-back"
            (click)="closeModal('source-where-used')">
            <i class="uil uil-arrow-left"></i>
            Back
        </button>
    </div>
    <div class="d-flex justify-between ng-tns-c2-1 padding-left:30 padding-right:30 text-subtext:100">
        <dl class="margin-bottom:0">
            <dt>Type</dt>
            <dd>Host</dd>
        </dl>
        <dl class="margin-bottom:0">
            <dt>Address</dt>
            <dd>192.168.87.17</dd>
        </dl>
    </div>
    <ul
        class="tab-list padding-left:0 padding-right:0 padding-bottom:0 padding-top:20"
        role="tablist">
        <li
            class="tab-list-item"
            [class.active]="viewModeSourceWhereUsed == 'source-where-used-whereGroups'"
            rel="source-where-used-whereGroups"
            (click)="viewModeSourceWhereUsed = 'source-where-used-whereGroups'">
            Groups
        </li>
        <li
            class="tab-list-item"
            [class.active]="viewModeSourceWhereUsed == 'source-where-used-whereUsed'"
            rel="source-where-used-whereUsed"
            (click)="viewModeSourceWhereUsed = 'source-where-used-whereUsed'">
            Where used
        </li>
    </ul>
    <div [ngSwitch]="viewModeSourceWhereUsed">
        <div *ngSwitchCase="'source-where-used-whereGroups'">
            <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
                <span class="tablet--grid-col">Name</span>
                <span class="tablet--grid-col">Type</span>
                <span class="tablet--grid-col">Address</span>
            </div>

            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">FP</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Host</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">OV</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Mask</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">ind-sap03-p</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Group</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">ind-sap032</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Group</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngSwitchCase="'source-where-used-whereUsed'">
            <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
                <strong class="tablet--grid-col">Policy Name</strong>
                <strong class="tablet--grid-col">Rule Column</strong>
            </div>

            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Destination</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Service/Protocol</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-bottom-sheet>

<app-bottom-sheet
    id="destination-address"
    modalType="small"
    modalTitle="Destination Address">
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">6 Sources</div>
    <section class="padding-bottom:30">
        <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
            <span class="tablet--grid-col">Name</span>
            <span class="tablet--grid-col">Type</span>
            <span class="tablet--grid-col">Address</span>
        </div>

        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('destination-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">ind-sap032</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('destination-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">ind-sap032</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
    </section>
</app-bottom-sheet>

<app-bottom-sheet
    id="destination-where-used"
    modalType="small"
    modalTitle="Destination Address Where Used">
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">
        <button
            class="btn-back"
            (click)="closeModal('destination-where-used')">
            <i class="uil uil-arrow-left"></i>
            Back
        </button>
    </div>
    <div class="d-flex justify-between ng-tns-c2-1 padding-left:30 padding-right:30 text-subtext:100">
        <dl class="margin-bottom:0">
            <dt>Type</dt>
            <dd>Host</dd>
        </dl>
        <dl class="margin-bottom:0">
            <dt>Address</dt>
            <dd>192.168.87.17</dd>
        </dl>
    </div>
    <ul
        class="tab-list padding-left:0 padding-right:0 padding-bottom:0 padding-top:20"
        role="tablist">
        <li
            class="tab-list-item"
            [class.active]="viewModeDestinationWhereUsed == 'destination-where-used-whereGroups'"
            rel="destination-where-used-whereGroups"
            (click)="viewModeDestinationWhereUsed = 'destination-where-used-whereGroups'">
            Groups
        </li>
        <li
            class="tab-list-item"
            [class.active]="viewModeDestinationWhereUsed == 'destination-where-used-whereUsed'"
            rel="destination-where-used-whereUsed"
            (click)="viewModeDestinationWhereUsed = 'destination-where-used-whereUsed'">
            Where used
        </li>
    </ul>
    <div [ngSwitch]="viewModeDestinationWhereUsed">
        <div *ngSwitchCase="'destination-where-used-whereGroups'">
            <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
                <span class="tablet--grid-col">Name</span>
                <span class="tablet--grid-col">Type</span>
                <span class="tablet--grid-col">Address</span>
            </div>

            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">FP</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Host</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">OV</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Mask</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">ind-sap03-p</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Group</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">ind-sap032</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Group</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngSwitchCase="'destination-where-used-whereUsed'">
            <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
                <strong class="tablet--grid-col">Policy Name</strong>
                <strong class="tablet--grid-col">Rule Column</strong>
            </div>

            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Destination</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Service/Protocol</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-bottom-sheet>

<app-bottom-sheet
    id="service-address"
    modalType="small"
    modalTitle="Service Address">
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">6 Sources</div>
    <section class="padding-bottom:30">
        <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
            <span class="tablet--grid-col">Name</span>
            <span class="tablet--grid-col">Type</span>
            <span class="tablet--grid-col">Address</span>
        </div>

        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('service-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">ind-sap032</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
        <div
            class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20"
            (click)="openModal('service-where-used')">
            <ul class="card-sim cursor:pointer d-grid padding-bottom:15 padding-left:20 padding-right:38 padding-top:15 table-column:3fr">
                <li class="tablet--grid-col">
                    <span class="table-text">ind-sap032</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">Group</span>
                </li>
                <li class="tablet--grid-col">
                    <span class="table-text">192.168.87.17</span>
                </li>
            </ul>
        </div>
    </section>
</app-bottom-sheet>

<app-bottom-sheet
    id="service-where-used"
    modalType="small"
    modalTitle="Service Address Where Used">
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">
        <button
            class="btn-back"
            (click)="closeModal('service-where-used')">
            <i class="uil uil-arrow-left"></i>
            Back
        </button>
    </div>
    <div class="d-flex justify-between ng-tns-c2-1 padding-left:30 padding-right:30 text-subtext:100">
        <dl class="margin-bottom:0">
            <dt>Type</dt>
            <dd>Host</dd>
        </dl>
        <dl class="margin-bottom:0">
            <dt>Address</dt>
            <dd>192.168.87.17</dd>
        </dl>
    </div>
    <ul
        class="tab-list padding-left:0 padding-right:0 padding-bottom:0 padding-top:20"
        role="tablist">
        <li
            class="tab-list-item"
            [class.active]="viewModeServiceWhereUsed == 'service-where-used-whereGroups'"
            rel="destination-where-used-whereGroups"
            (click)="viewModeServiceWhereUsed = 'service-where-used-whereGroups'">
            Groups
        </li>
        <li
            class="tab-list-item"
            [class.active]="viewModeServiceWhereUsed == 'service-where-used-whereUsed'"
            rel="destination-where-used-whereUsed"
            (click)="viewModeServiceWhereUsed = 'service-where-used-whereUsed'">
            Where used
        </li>
    </ul>
    <div [ngSwitch]="viewModeServiceWhereUsed">
        <div *ngSwitchCase="'service-where-used-whereGroups'">
            <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
                <span class="tablet--grid-col">Name</span>
                <span class="tablet--grid-col">Type</span>
                <span class="tablet--grid-col">Address</span>
            </div>

            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">FP</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Host</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">OV</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Mask</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">ind-sap03-p</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Group</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">ind-sap032</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Group</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">192.168.87.17</span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngSwitchCase="'service-where-used-whereUsed'">
            <div class="padding-left:40 padding-right:20 margin-bottom:20 flex-row">
                <strong class="tablet--grid-col">Policy Name</strong>
                <strong class="tablet--grid-col">Rule Column</strong>
            </div>

            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Destination</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Service/Protocol</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
            <div class="card-nano-sim margin-bottom:10 margin-left:20 margin-right:20">
                <ul class="card-sim flex-row padding-top:15 padding-bottom:15 padding-right:38 padding-left:20">
                    <li class="tablet--grid-col">
                        <span class="table-text">Outside_access_in</span>
                    </li>
                    <li class="tablet--grid-col">
                        <span class="table-text">Source</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-bottom-sheet>

<!-- legends -->
<app-bottom-sheet
    id="legends"
    modalType="full"
    modalTitle="Legends">
    <div class="padding-left:20 padding-right:20 padding-top:20 padding-bottom:40">
    <div class="legends-information">
      <p class="">Actions : </p>
        <dl>
          <dt> <i class="uil uil-check-circle"></i> </dt>
          <dd>Permitted</dd>
          <dt> <i class="uil uil-times-circle"></i> </dt>
          <dd>Denied</dd>
      </dl>
    </div>
    <div class="legends-information">
      <p class="">Log Traffic : </p>
        <dl>
          <dt> <i class="uil uil-file-alt"></i> </dt>
          <dd>Enabled</dd>
          <dt> <i class="uil uil-file-alt"></i> </dt>
          <dd>Disabled</dd>
      </dl>
    </div>
    <div class="legends-information">
      <p class="">Exception : </p>
        <dl>
          <dt> <i class="uil uil-exclamation-triangle"></i> </dt>
          <dd>Temporary</dd>
          <dt> <i class="uil uil-exclamation-triangle"></i> </dt>
          <dd>Permanent</dd>
          <dt> <i class="uil uil-exclamation-triangle"></i> </dt>
          <dd>No</dd>
      </dl>
    </div>
    <div class="legends-information">
      <p class="">Optimization Issue : </p>
        <dl>
          <dt> <i class="uil uil-tachometer-fast"></i> </dt>
          <dd>Yes</dd>
          <dt> <i class="uil uil-tachometer-fast"></i> </dt>
          <dd>No</dd>
      </dl>
    </div>
    <div class="legends-information">
      <p class="">Security Issue : </p>
        <dl>
          <dt> <i class="custom-icon progress-bar"></i> </dt>
          <dd>Secured</dd>
          <dt> <i class="custom-icon progress-bar"></i> </dt>
          <dd>Insecured</dd>
      </dl>
    </div>
    <div class="d-flex">
    <div class="legends-information">
      <p class="">Performance Issue : </p>
        <dl>
          <dt> <i class="uil uil-chart-down"></i> </dt>
          <dd>Secured</dd>
          <dt> <i class="uil uil-arrow-growth"></i> </dt>
          <dd>High</dd>
      </dl>
    </div>
    <div class="performance-hint d-flex align-items-start margin-left:20 padding-top:10 padding-left:10 padding-right:10 padding-bottom:10">
      <i class="uil uil-info-circle"></i>
      <span class="margin-left:10 font:12:400 text-color:500 ">
          For Performance issue, the previous performance will be followed by
current performance in the list view
      </span>
  </div>
    </div>
    <div class="legends-information">
      <p class="">Status : </p>
         <div class="margin-bottom:20">
           <button class="margin-right:40 padding-top:15 padding-bottom:15 padding-left:20 padding-right:20 btn-action yes"> Active </button>
           <button class="padding-top:15 padding-bottom:15 padding-left:20 padding-right:20 btn-action no"> Inactive </button>
         </div>
    </div>
    <div class="legends-information">
      <p class="">Interface : </p>
        <dl>
          <dt> <i class="uil uil-arrow-right"></i> </dt>
          <dd>In Interface</dd>
          <dt> <i class="uil uil-arrow-left"></i> </dt>
          <dd>Out Interface</dd>
      </dl>
    </div>
    <div class="legends-information">
      <p class="">Entities : </p>
        <dl>
          <dt> <i class="uil uil-entry"></i> </dt>
          <dd>Source</dd>
          <dt> <i class="uil uil-exit"></i> </dt>
          <dd>Destination</dd>
      </dl>
    </div>
  </div>
</app-bottom-sheet>
