.grid-row {
  display : grid;
  column-gap : 30px;
  grid-template-columns : 1fr 1fr 1fr;
}

/* TODO: need to discuss with design team is not completed */

.button__dropdown--custom {
  // width : 250px;
  border : 1px solid #c4d9ec;
  padding : 11px 24px;
  border-radius : 2px;

  .selected-value {
    flex : 1 0 auto;
    text-align : left;
  }
}