<div class="d-container">
  <section class="page--whatif-shadow">
    <div class="flex-row align-items-center font:24:mono margin-bottom:40">
      <button class="btn-back"><i class="uil uil-arrow-left"></i> Back</button>
      <h2
        class="font:32:mono text-color:800 margin-left:20 font:24:mono  text-header:200 "
      >
        Rule Impact
      </h2>
    </div>
    <div class="flex-row margin-bottom:30 padding-bottom:30 border-bottom:1">
      <div class="tablet--grid-col flex-row flex-direction:column">
        <dl>
          <dt>Rule Name</dt>
          <dd>
            Outside_access
          </dd>
        </dl>
        <dl>
          <dt>Protocol</dt>
          <dd>
            TCP
          </dd>
        </dl>
      </div>
      <div class="tablet--grid-col">
        <dl>
          <dt>Description</dt>
          <dd>Demo Rule</dd>
        </dl>
        <dl>
          <dt>Date Modified</dt>
          <dd>12/11/2019</dd>
        </dl>
      </div>
      <div class="grid-col-5">
        <div class="flex-row justify-between">
          <dl>
            <dt>Action</dt>
            <dd><i class="uil uil-check-circle margin-right:10"></i> Permit</dd>
          </dl>
          <dl>
            <dt>Service Name</dt>
            <dd>Demo Rule</dd>
          </dl>
        </div>
        <div
          class="padding-top:10 padding-bottom:10 padding-left:20 padding-right:20 styleMe flex-row"
        >
          <span class="font:12:400 button-chip  bg-alert-color:medium ">
            <i class="uil uil-check"></i>
            Can be Added
          </span>
          <p class="margin-left:20">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>

    <div class="flex-row align-items-center font:24:mono margin-bottom:40">
      <button class="btn-back">
        <i class="uil uil-arrow-left"></i> Go to Stats
      </button>
      <h2
        class="font:32:mono text-color:800 margin-left:20 font:24:mono  text-header:200 "
      >
        Shadow Rules
      </h2>
      <span class="font:18:mono text-subtext:100 margin-left:20"
        >3 Shadow Rules</span
      >
    </div>

    <div
      class="padding-left:60 padding-right:20 margin-top:40 margin-bottom:40 flex-row table-title"
    >
      <span class="tablet--grid-col">Attribute</span>
      <span class="tablet--grid-col">Inference</span>
      <span class="tablet--grid-col">Entities</span>
      <span class="tablet--grid-col">Service/ Protocol</span>
    </div>

    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:60"
      >
        <li class="tablet--grid-col">
          <span class="table-text d-block margin-bottom:10"
            >Outside_access_in</span
          ><span class="table-text d-block margin-bottom:10">Extended</span>
          <span class="flex-row margin-top:10 icon-size:20 icon-space-right:15">
            <i class="uil uil-check-circle   icon-color:incompleted  "></i>
            <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
            <i class="uil uil-exclamation-triangle status-icon-high"></i>
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block margin-bottom:10">
            <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
            Outside
          </span>
          <span class="table-text d-block">
            <i class="table-icon uil uil-arrow-right status-icon-critical"></i>
            dns_server
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block">
            <i class="table-icon uil uil-exit status-icon-critical"></i>
            FP,
          </span>
          <span class="table-text d-block margin-top:10">
            <i class="table-icon uil uil-entry status-icon-critical"></i>
            ind_sap03_p
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block"> DM_IN_SRV_1 </span>
        </li>
      </ul>
    </div>

    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:60"
      >
        <li class="tablet--grid-col">
          <span class="table-text d-block margin-bottom:10"
            >Outside_access_in</span
          ><span class="table-text d-block margin-bottom:10">Extended</span>
          <span class="flex-row margin-top:10 icon-size:20 icon-space-right:15">
            <i class="uil uil-check-circle   icon-color:incompleted  "></i>
            <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
            <i class="uil uil-exclamation-triangle status-icon-high"></i>
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block margin-bottom:10">
            <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
            Outside
          </span>
          <span class="table-text d-block">
            <i class="table-icon uil uil-arrow-right status-icon-critical"></i>
            dns_server
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block">
            <i class="table-icon uil uil-entry status-icon-critical"></i>
            Any,
          </span>
          <span class="table-text d-block margin-top:10">
            <i class="table-icon uil uil-exit status-icon-critical"></i>
            ind_sap03_p
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block"> DM_IN_SRV_1, </span>
          <span class="table-text d-block"> dm_vrv_01, </span>
        </li>
      </ul>
    </div>
  </section>
</div>
