.block-list {
  position : relative;
  display : flex;
  padding-bottom : 30px;

  &:first-child {
    .selector:before {
      content : none;
    }
  }
  .selector {
    &:before {
      content : '';
      display : block;
      width : 2px;
      height : calc(100% - 2px);
      margin-left : auto;
      margin-right : auto;
      background : rgba(1, 88, 162, 0.2);
      position : absolute;
      top : -63%;
      left : 17px;
      z-index : 5;
    }

    display : flex;
    align-items : center;
    position : relative;
    &-indicator {
      .uil {
        position : relative;
        width : 34px;
        height : 34px;
        display : flex;
        align-content : center;
        align-items : center;
        border-radius : 50%;
        background : var(--text-color-500);
        opacity : 0.5;
        &:before {
          opacity : 0;
          color : #fff;
          margin-left : auto;
          margin-right : auto;
          font-size : 20px;
          z-index : 1;
        }
        &:after {
          content : none;
          display : inline-block;
          width : 24px;
          height : 24px;
          border-radius : 50%;
          background : #1393ff;
          position : absolute;
          left : 0;
          right : 0;
          margin : 0 auto;
        }
      }
    }

    .date-time {
      width : 100px;
      border-radius : 3px;
      padding : 7px;
      margin-left : 15px;
      margin-right : 15px;
      position : relative;

      &:before {
        display : inline-block;
        width : 10px;
        height : 10px;
        border-top : 5px solid transparent;
        border-bottom : 5px solid transparent;
        border-right : 5px solid var(--bg-card);
        position : absolute;
        left : -10px;
        top : calc(50% - 5px);
      }

      .date ,
      .time {
        display : block;
        font-size : 14px;
        font-family : var(--roboto-400);
        line-height : 21px;
        color : var(--text-color-500);
      }

      .time {
        color : var(--text-color-500);
        opacity : 0.8;
      }
    }
  }
  &:hover ,
  &.active {
    .selector-indicator {
      .uil {
        opacity : 1;
        background : #c6e4fe;
        &:before {
          opacity : 1;
        }
        &:after {
          content : '';
        }
      }
    }

    .date-time {
      background-color : var(--bg-card);
      box-shadow : 0px 2px 5px rgba(1, 88, 162, 0.2);

      &:before {
        content : '';
      }
    }
  }
  .card-nano-sim {
    width : 100%;
  }
  .card-full-sim {
    margin-right : 10px;
    &:empty {
      height : 108px;
      margin-left : 130px;
    }
  }
  .card-sim {
    .form-checkbox-group ,
    .form-checkbox-label {
      margin : 0;
    }

    .tablet--grid-col {
      padding-right : 0;
    }
    table {
      width : 100%;
      border-spacing : 8px 7px;
      border-collapse : separate;
      tr {
        td {
          vertical-align : top;
          font-family : var(--roboto-400);
          font-size : 14px;
          line-height : 21px;
          color : var(--slate);
          &:first-child {
            &:after {
              content : ':';
              display : inline-block;
            }
          }
        }
      }
    }
  }
}

.tablet--grid-col {
  flex : 1 1 0;
  .progress {
    &-bar {
      top : -3px;
      position : relative;
    }
    &-value {
      font-family : var(--roboto-400);
      font-size : 10px;
      line-height : 12px;
      color : var(--text-color-800);
      vertical-align : sub;
    }
  }
}

cdk-virtual-scroll-viewport {
  height : 100vh;
}