<div class="d-container margin-top:40">
    <div class="font:32:mono text-color:800">Cisco ASA - Configurations</div>
    <div class="margin-top:30 flex-row justify-between align-items-center">
        <div class="font:18:mono text-subtext:100">12 Configurations</div>
        <div class="flex-row align-items-center">
            <div class="margin-right:30">
                <div id="uploadAssetButton">
                    <button
                        (click)="openModal('uploadConfigModal')"
                        class="skewed-button button-fill-blue"
                        type="button">
                        <i class="skewed-button__icon uil uil-plus"></i>
                        <span class="skewed-button__label">Add Config</span>
                    </button>
                </div>
                <div
                    id="fileCompareButton"
                    class="d-none">
                    <button
                        (click)="compareConfig()"
                        class="skewed-button button-fill-blue"
                        type="button">
                        <span class="skewed-button__label">Compare Config</span>
                    </button>
                </div>
            </div>
            <div class="margin-right:30 input-search">
                <div class="input-group">
                    <label
                        [hidden]
                        for="searchText"></label>
                    <i class="uil uil-white uil-search"></i>
                    <input
                        [(ngModel)]="searchText"
                        type="text"
                        name="searchText"
                        id="searchText"
                        placeholder="Search">
                </div>
            </div>

            <!-- Sort By -->
            <div class="font:14:400 z-index:3 button__dropdown margin-left:30">
                <div
                    type="button"
                    class="button__dropdown--item border:0 text-color:500"
                    id="sortAssetContentShow"
                    (click)="[sortAssetContentToggle($event)]">
                    <span class="selected-label">Sort by:</span>
                    {{ sortAsset }}
                </div>
                <div
                    class="button__dropdown--expand expand-bottom"
                    *ngIf="sortAssetContent">
                    <div class="list-items">
                        <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                            <li
                                class="list-item"
                                *ngFor="let sortAssetList of sortAssetLists"
                                (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                {{ sortAssetList }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- data -->
    <div class="block-container margin-top:30">
        <cdk-virtual-scroll-viewport [itemSize]="5">
            <div
                *ngIf="AssetViewDataLoaded; else skeleton"
                [@fadeIn]>

      <!-- no search data -->
      <div class="search-data-nope" *ngIf="(AssetViewData |  filter: searchText).length === 0">
        No matches for : {{searchText}}
      </div>
      <!-- no search data -->

                <div
                    class="block-list"
                    *ngFor="let repo of AssetViewData | filter: searchText">
                    <span class="selector">
                        <span class="selector-indicator">
                            <i class="uil uil-direction"></i>
                        </span>
                        <!-- TODO : Need to check with team -->
                        <div class="date-time">
                            <span class="date">{{ repo.addedOn | date: "d MMM y" }}</span>
                            <span class="time">{{ repo.addedOn | date: "h:mm a" }}</span>
                        </div>
                    </span>
                    <div class="card-full-sim">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="align-items-center flex-row grid-col-20px justify-center">
                                <div class="form-checkbox-group">
                                    <input
                                        (click)="assetViewCheckMe($event)"
                                        class="form-checkbox-input"
                                        id="asset-view-component-{{ repo.index }}"
                                        type="checkbox"
                                        value>
                                    <label
                                        class="form-checkbox-label"
                                        for="asset-view-component-{{ repo.index }}"></label>
                                </div>
                            </li>
                            <li
                                class="cursor:pointer grid-col-link"
                                (click)="go($event, repo.index)">
                                <ul class="flex-row">
                                    <li class="tablet--grid-col">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Host Name</td>
                                                    <td>{{ repo.hostName }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Totals</td>
                                                    <td>
                                                        {{ repo.totals.codeChanged }}
                                                        <!-- TODO: Need to check with team -->
                                                        <i class="uil uil-arrow-growth"></i>
                                                        + {{ repo.totals.codeGiven }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li class="tablet--grid-col">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Added on</td>
                                                    <td>{{ repo.addedOn | date: "d MMM y" }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Mechanism</td>
                                                    <td>
                                                        <i
                                                            *ngIf="repo.mechanism === 'manual'"
                                                            class="uil uil-pen">
                                                        </i>
                                                        <i
                                                            *ngIf="repo.mechanism === 'automatic'"
                                                            class="uil uil-repeat">
                                                        </i>
                                                        {{ repo.mechanism | titlecase }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li class="tablet--grid-col border-left-after:1">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Parsing</td>
                                                    <td>
                                                        <i class="uil uil-file-check icon-color:{{
repo.parsing
}}"></i>
                                                        {{ repo.parsing | titlecase }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Security</td>
                                                    <td>
                                                        <i class="uil uil-shield-check icon-color:{{
repo.security
}}"></i>
                                                        {{ repo.security | titlecase }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li class="tablet--grid-col">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Optimize</td>
                                                    <td>
                                                        <i class="uil uil-file-check-alt icon-color:{{
repo.optimize
}}"></i>
                                                        {{ repo.optimize | titlecase }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Log</td>
                                                    <td *ngIf="repo.log === 'not selected'; else elseBlock">
                                                        <i class="uil uil-file-check icon-color:none"></i>
                                                        {{ repo.log | titlecase }}
                                                    </td>
                                                    <ng-template #elseBlock>
                                                        <div class="progress-bar">
                                                            <progress
                                                                max="200"
                                                                value="{{ repo.log }}">
                                                                {{ repo.log }}
                                                            </progress>
                                                            <span class="progress-value">{{ repo.log }} Rules</span>
                                                        </div>
                                                    </ng-template>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
        <!-- skeleton -->
        <ng-template #skeleton>
            <div class="block-list">
                <span class="selector">
                    <span class="selector-indicator">
                        <i class="uil uil-direction"></i>
                    </span>
                </span>
                <div class="card-full-sim"></div>
            </div>
            <div class="block-list">
                <span class="selector">
                    <span class="selector-indicator">
                        <i class="uil uil-direction"></i>
                    </span>
                </span>
                <div class="card-full-sim"></div>
            </div>
            <div class="block-list">
                <span class="selector">
                    <span class="selector-indicator">
                        <i class="uil uil-direction"></i>
                    </span>
                </span>
                <div class="card-full-sim"></div>
            </div>
            <div class="block-list">
                <span class="selector">
                    <span class="selector-indicator">
                        <i class="uil uil-direction"></i>
                    </span>
                </span>
                <div class="card-full-sim"></div>
            </div>
        </ng-template>
        <!-- skeleton -->
    </div>
</div>

<app-bottom-sheet
    id="uploadConfigModal"
    modalType="small">
    <div class="modal-header">
        <div class="modal-header-name font:16:mono  text-color:500 "></div>
        <div class="modal-header-actions">
            <button (click)="closeModal('uploadConfigModal')">
                <i class="uil uil-times"></i>
            </button>
        </div>
    </div>
    <div class="padding-top:20 padding-bottom:20 font:18:mono text-subtext:100 padding-left:30 padding-right:30">
        <div class="form-group">
            <label class="form-label d-block margin-bottom:20">Add Manual Config:</label>
            <form
                class="d-block width:100"
                action="/api/upload"
                method="post"
                enctype="multipart/form-data">
                <input
                    type="file"
                    class="form-control custom-file-input"
                    id="manualConfigUpload"
                    required>
                <button
                    class="skewed-button button-fill-blue margin-top:20"
                    type="button">
                    <span class="skewed-button__label">Add</span>
                </button>
            </form>
        </div>

    </div>
</app-bottom-sheet>
