//   @include opacity(.4);

@mixin opacity($opacity) {
  opacity : $opacity;
  $opacity-ie : $opacity * 100;
  filter : alpha(opacity=$opacity-ie); //IE8
}


.opacity-2 {
  @include opacity(0.2);
}

.opacity-5 {
  @include opacity(0.5);
}