$z-index: (
  modal: 200,
  button: 200,
  navigation: 100,
  custom-dropdown: 99,
  outer-card: -1,
  inner-card: -1,
  tooltip: 1000,
  right-fixed: 1500,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
