<div class="d-container">
  <!-- page content filter -->
  <div class="flex-row align-items-center margin-top:40">
    <div class="margin-right:40 font:24:mono">
      <h2 class="text-header:200 font:32:mono text-color:800">
        {{pageTitle}}
      </h2>
    </div>
    <!-- Sort By -->
    <div class="font:14:400 z-index:3 button__dropdown">
      <div
          type="button"
          class="button__dropdown--item min-width:300 border:1 text-color:500"
          id="sortAssetContentShow"
          (click)="[sortAssetContentToggle($event)]">
          Unused Objects
      </div>
      <div
          class="button__dropdown--expand expand-bottom"
          *ngIf="sortAssetContent">
          <div class="list-items">
              <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
              <li class="list-item" [routerLink]="['/assets/rule/optimization/shadow-rule']">
                Shadow Rules
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/redundant-rules']">
                Redundant Rules
              </li>
              <li class="list-item active" [routerLink]="['/assets/rule/optimization/source-grouping']">
                Source Grouping
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/destination-grouping']">
                Destination Grouping
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/service-grouping']">
                Service Grouping
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/large-subnets']">
                Large Subnets
              </li>
              <li class="list-item" [routerLink]="['/assets/rule/optimization/unused-objects']">
                Unused Objects
              </li>
              </ul>
          </div>
      </div>
  </div>
  </div>
  <div class="flex-row justify-end align-items-center margin-top:40 margin-bottom:40">
    <!-- <div class=" text-color:500  font:18:mono text-subtext:100">
      {{ totalItems }} Overly Permissive
    </div> -->

    <div class="flex-row justify-between align-items-center">
      <div class="margin-right:30 input-search">
        <div class="input-group">
          <label [hidden] for="searchText"></label>
          <i class="uil uil-white uil-search"></i>
          <input
            [(ngModel)]="searchText"
            type="text"
            name="searchText"
            id="searchText"
            placeholder="Search"
          />
        </div>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-white" type="button">
          <i class="skewed-button__icon uil uil-filter"> </i>
          <span class="skewed-button__label">Filter</span>
        </button>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-blue" type="button">
          <i class="skewed-button__icon uil uil-arrow-up-right"> </i>
          <span class="skewed-button__label"> Export as CSV</span>
        </button>
      </div>
    </div>
  </div>

  <section class="page--unused-object">
    <my-tabs>
      <my-tab [tabTitle]="'Unused Hosts'">
        <div
          class="margin-top:20 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title"
        >
          <span class="tablet--grid-col">Name</span>
          <span class="tablet--grid-col">Type</span>
          <span class="tablet--grid-col">Address</span>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Host
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                192.168.87.17
              </span>
            </li>
          </ul>
        </div>
      </my-tab>
      <my-tab tabTitle="Unused Hosts Group">
        <div class="grid-row table-column:4">
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </my-tab>
      <my-tab tabTitle="Unused Services">
       <div
          class="margin-top:20 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title"
        >
          <span class="tablet--grid-col">Name</span>
          <span class="tablet--grid-col">Protocol</span>
          <span class="tablet--grid-col">Source Port</span>
          <span class="tablet--grid-col">Destination Port</span>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
          >
            <li class="tablet--grid-col">
              <span class="table-text"> ind_anxplp636</span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                TCP
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                53
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                53
              </span>
            </li>
          </ul>
        </div>

      </my-tab>
      <my-tab tabTitle="Unused Services Group">

        <div class="grid-row table-column:4">
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </my-tab>
      <my-tab tabTitle="Unused Interface">
        <div
        class="margin-top:20 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title"
      >
        <span class="tablet--grid-col">Name</span>
        <span class="tablet--grid-col">IP Address	</span>
        <span class="tablet--grid-col">Netmask</span>
      </div>

      <div class="card-full-sim margin-bottom:20">
        <ul
          class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60"
        >
          <li class="tablet--grid-col">
            <span class="table-text"> ind_anxplp636</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              192.168.87.17
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              255.255.255.0

            </span>
          </li>
        </ul>
      </div>

      </my-tab>
      <my-tab tabTitle="Unused Zones">

        <div class="grid-row table-column:4">
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-full-sim margin-bottom:20">
            <ul
              class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
            >
              <li class="tablet--grid-col">
                <span class="table-heading">DM_INLINE_NETWORK_1</span>
                <span class="table-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                  <a class="link-text" href="#">Show more</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </my-tab>
    </my-tabs>
  </section>
</div>
