.grid-row {
  .table-text {
    font-family : var(--roboto-400);
    font-size : 14px;
    line-height : 21px;
    color : #8094a5;
  }
  .table-heading {
    display : block;
    margin-bottom : 10px;
    font-family : var(--roboto-500);
    font-size : 16px;
    line-height : 19px;
    color : var(--text-paragraph-800);
  }
  a {
    display : inline-block;
  }
}

/* TODO: need to discuss with design team is not completed */

.button__dropdown--custom {
  // width : 250px;
  border : 1px solid #c4d9ec;
  padding : 11px 24px;
  border-radius : 2px;

  .selected-value {
    flex : 1 0 auto;
    text-align : left;
  }
}