<div
  class="d-container-full margin-top:40 margin-bottom:30 padding-left:30 flex-row"
>
  <div class="profile-sidebar">
    <div class="profile-icon margin-bottom:40">
      <div class="" aria-label="Rillusion UX">R</div>
    </div>
    <div class="profile-detail">
      <h2 class="profile-detail-name">Rillusion UX</h2>
      <p class="profile-detail-handler">Client Admin</p>
    </div>
    <div class="profile-navigation">
      <ul class="profile-navigation-lists">
        <li routerLink="/admin/overview" routerLinkActive="active">
          <span><i class="uil uil-desktop"></i></span>
          <span>Overview</span>
        </li>
        <li routerLink="/admin/client" routerLinkActive="active">
          <span><i class="uil uil-users-alt"></i></span>
          <span>Clients</span>
        </li>
        <li routerLink="/admin/license" routerLinkActive="active">
          <span><i class="uil uil-postcard"></i></span>
          <span>License</span>
        </li>
        <li routerLink="/admin/setting" routerLinkActive="active">
          <span><i class="uil uil-cog"></i></span>
          <span>Settings</span>
        </li>
        <li routerLink="/admin/users" routerLinkActive="active">
          <span><i class="uil uil-user-circle"></i></span>
          <span>Users</span>
        </li>
        <li routerLink="/admin/event-log" routerLinkActive="active">
          <span><i class="uil uil-file-info-alt"></i></span>
          <span>Event Logs</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="width:100  flex-row "> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
</div>
