<div class="right-fixed">
    <ul>
        <li
            [routerLink]="['/assets/rule/overview']"
            routerLinkActive="active">
            <i class="uil uil-home-alt"></i>
        </li>
        <li
            [routerLink]="['/assets/rule/base']"
            routerLinkActive="active">
            <i class="uil uil-book"></i>
        </li>
        <li
            [routerLink]="['/assets/rule/security']"
            routerLinkActive="active">
            <i class="uil uil-shield"></i>
        </li>
        <li
            [routerLink]="['/assets/rule/optimization/shadow-rule']"
            routerLinkActive="active">
            <i class="uil uil-tachometer-fast"></i>
        </li>
        <li
            [routerLink]="['/topology']"
            routerLinkActive="active">
            <i class="uil uil-atom"></i>
        </li>
        <li
            [routerLink]="['/assets/rule/review']"
            routerLinkActive="active">
            <i class="uil uil-file-edit-alt"></i>
        </li>
    </ul>
</div>

<div class="asset-rule--header">
 <!-- <ng-template
        ngFor
        let-repo
        [ngForOf]="AssetViewData">

        <div
            *ngIf="repo.index=== demo"
            class="d-container padding-top:40 padding-bottom:30 margin-bottom:40 d-flex justify-between align-items-center">
            <h2 class="font:32:mono text-color:800">Host - {{ repo.hostName }}</h2>
            <div class="flex-row justify-center host-mini-information">
                <div class="flex-row flex-direction:column">
                    <dl>
                        <dt>Parsing</dt>
                        <dd>
                            <i class="uil uil-file-check icon-color:{{repo.parsing}}"></i>
                            {{ repo.parsing | titlecase }}
                        </dd>
                    </dl>

                    <dl>
                        <dt>Security</dt>
                        <dd>
                            <i class="uil uil-shield-check icon-color:{{repo.security}}"></i>
                            {{ repo.security | titlecase }}
                        </dd>
                    </dl>
                </div>
                <div class="flex-row margin-left:30 flex-direction:column">
                    <dl>
                        <dt>Optimize</dt>
                        <dd>
                            <i class="uil uil-file-check-alt icon-color:{{repo.optimize}}"></i>
                            {{ repo.optimize | titlecase }}
                        </dd>
                    </dl>
                    <dl class="flex-row">
                        <dt>Log</dt>
                        <dd class="flex-row align-items-center">
                            <div *ngIf="repo.log === 'not selected'; else elseBlock">
                                <i class="uil uil-file-check icon-color:none"></i>
                                {{ repo.log | titlecase }}
                            </div>
                            <ng-template #elseBlock>
                                <div class="progress-bar">
                                    <progress
                                        max="200"
                                        value="{{ repo.log }}">
                                        {{ repo.log }}
                                    </progress>
                                    <span class="progress-value">{{ repo.log }} Rules</span>
                                </div>
                            </ng-template>
                        </dd>
                    </dl>
                </div>
                <div class="flex-row margin-left:30 flex-direction:column">
                  <dl>
                    <dt>Total Rules</dt>
                    <dd>
                        {{ repo.totals.codeChanged }}
                        <i class="uil uil-arrow-growth"></i>
                        + {{ repo.totals.codeGiven }}
                    </dd>
                </dl>
                <dl>
                  <dt>Mechanism</dt>
                  <dd>
                      <i
                          *ngIf="repo.mechanism === 'manual'"
                          class="uil uil-pen">
                      </i>
                      <i
                          *ngIf="repo.mechanism === 'automatic'"
                          class="uil uil-repeat">
                      </i>
                      {{ repo.mechanism | titlecase }}
                  </dd>
              </dl>
              </div>
            </div>
            <div class="flex-row align-items-center">
                <div class="timestamp">
                    <span class="timestamp-label">Added on:</span>
                    <span class="timestamp-value" >Sep 25 2019 6:10AM</span>
                </div>
            </div>
        </div>
    </ng-template> -->
<!-- TODO : Need to add the data via json -->
    <div class="asset-rule--header">
      <div
        class="d-container padding-top:40 padding-bottom:30 margin-bottom:40 d-flex justify-between align-items-center"
      >
        <h2 class="font:32:mono text-color:800">Host - Gray</h2>
        <div class="flex-row justify-center host-mini-information">
          <div class="flex-row flex-direction:column">
            <dl>
              <dt>Parsing</dt>
              <dd>
                <i class="uil uil-file-check icon-color:completed"></i> Completed
              </dd>
            </dl>
            <dl>
              <dt>Security</dt>
              <dd>
                <i class="uil uil-shield-check icon-color:completed"></i> Completed
              </dd>
            </dl>
          </div>
          <div class="flex-row margin-left:30 flex-direction:column">
            <dl>
              <dt>Optimize</dt>
              <dd>
                <i class="uil uil-file-check-alt icon-color:completed"></i>
                Completed
              </dd>
            </dl>
            <dl class="flex-row">
              <dt>Log</dt>
              <dd class="flex-row align-items-center">
                <div >
                  <i class="uil uil-file-check icon-color:none"></i> Not Selected
                </div>
              </dd>
            </dl>
          </div>
          <div class="flex-row margin-left:30 flex-direction:column">
            <dl>
              <dt>Total Rules</dt>
              <dd>238 <i class="uil uil-arrow-growth"></i> + 601</dd>
            </dl>
            <dl>
              <dt>Mechanism</dt>
              <dd>
                <i class="uil uil-repeat "></i>
                Automatic
              </dd>
            </dl>
          </div>
        </div>
        <div class="flex-row align-items-center">
          <div class="timestamp">
            <span class="timestamp-label">Added on:</span
            ><span class="timestamp-value">Sep 25 2019 6:10AM</span>
          </div>
        </div>
      </div>
    </div>


</div>

<router-outlet></router-outlet>
