.asset-rule--header {
  > div {
    position : relative;
  }
  .header__read_more-list {
    z-index : 5;
    position : absolute;
    top : 100px;
    right : 0;
    width : 248px;
    .title-card {
      font-family : var(--roboto-mono);
      font-size : 16px;
      line-height : 19px;
      font-weight : 400;
      color : var(--text-color-800);
      margin-bottom : 20px;
      display : block;
    }
    dl {
      dt {
        font-family : var(--roboto-400);
        font-style : normal;
        font-weight : 500;
        font-size : 14px;
        line-height : 16px;
        color : var(--text-paragraph-600);
      }
      dd {
        font-family : var(--roboto-400);
        font-weight : 400;
        font-size : 14px;
        line-height : 21px;
        color : var(--text-paragraph-700);
      }
      margin-bottom : 20px;
      + dl {
        margin-bottom : 0;
      }
    }
  }
}

.progress-bar {
  progress {
    vertical-align : middle;
  }
}