<div class="d-container">
  <div class="flex-row font:24:mono">
    <button class="btn-back"><i class="uil uil-arrow-left"></i> Back</button>
    <h2
      class="font:32:mono text-color:800 margin-left:20  text-header:200 "
    >
      Change Management
    </h2>
  </div>

  <div class="margin-top:30">
    <ul class="tab-list" role="tablist">
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'nominatedrule'"
        rel="nominatedrule"
        (click)="viewMode = 'nominatedrule'"
      >
        Nominated Rules
      </li>
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'crscheduled'"
        rel="crscheduled"
        (click)="viewMode = 'crscheduled'"
      >
        CR Scheduled
      </li>
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'crcompleted'"
        rel="crcompleted"
        (click)="viewMode = 'crcompleted'"
      >
        CR Completed
      </li>
    </ul>

    <div [ngSwitch]="viewMode">
      <div *ngSwitchCase="'nominatedrule'">
        <div class="flex-row justify-between align-items-center margin-top:30">
          <h2 class="font:18:mono text-subtext:100 darkish-blue">
            200 Nominated Rules
          </h2>

          <div id="search-filter-export" class="flex-row">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
            <div class="margin-right:30">
              <button class="skewed-button button-fill-white" type="button">
                <i class="skewed-button__icon uil uil-filter"> </i>
                <span class="skewed-button__label">Filter</span>
              </button>
            </div>
            <div class="">
              <button class="skewed-button button-fill-blue" type="button">
                <i class="skewed-button__icon uil uil-arrow-up-right"> </i>
                <span class="skewed-button__label"> Export as CSV</span>
              </button>
            </div>
          </div>

          <div hidden id="rule-link-review" class="flex-row">
            <div class="margin-right:30">
              <button class="skewed-button button-fill-white" type="button">
                <span class="skewed-button__label">Rule Definations</span>
              </button>
            </div>
            <div class="margin-right:30">
              <button
                class="skewed-button button-fill-transparent"
                type="button"
              >
                <span class="skewed-button__label">CR Details</span>
              </button>
            </div>
            <div class="">
              <button class="skewed-button button-fill-blue" type="button">
                <span class="skewed-button__label">Create CR</span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="table-title margin-left:30 padding-left:20 padding-right:20 margin-top:40 margin-bottom:40 flex-row table-title"
        >
          <span class="grid-col-20px"></span>
          <span class="tablet--grid-col">Attribute</span>
          <span class="tablet--grid-col">Full Name</span>
          <span class="tablet--grid-col">Date Created</span>
          <span class="tablet--grid-col">Justification</span>
          <span class="tablet--grid-col">Change Request ID</span>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="grid-col-20px">
              <div class="form-checkbox-group">
                <input
                  (click)="checkme($event)"
                  class="form-checkbox-input"
                  id="cmnominatedrule-2"
                  type="checkbox"
                  value=""
                /><label
                  class="form-checkbox-label"
                  for="cmnominatedrule-2"
                ></label>
              </div>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              >
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Ram Subramaniyam
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text"> 12/11/2019 </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Lorem Ipsum is simply dummy text<a href="#" class="link-text">
                  View more
                </a>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                <a href="#" class="link-text">3954288621USA8601034</a>
              </span>
            </li>
          </ul>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="grid-col-20px">
              <div class="form-checkbox-group">
                <input
                  (click)="checkme($event)"
                  class="form-checkbox-input"
                  id="cmnominatedrule-1"
                  type="checkbox"
                  value=""
                /><label
                  class="form-checkbox-label"
                  for="cmnominatedrule-1"
                ></label>
              </div>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              >
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Ram Subramaniyam
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text"> 12/11/2019 </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Lorem Ipsum is simply dummy text<a href="#" class="link-text">
                  View more
                </a>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10 font:14:400">
                *Change Request is not created.
              </span>
              <span class="d-block">
                <a href="#" class="link-text">
                  <i class="uil uil-plus margin-right:10"></i> Create CR
                </a>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div *ngSwitchCase="'crscheduled'">
        <div class="flex-row justify-between align-items-center margin-top:30">
          <h2 class="font:18:mono text-subtext:100 darkish-blue">
            200 Change Request Scheduled
          </h2>

          <div id="search-filter-export" class="flex-row">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
            <div class="margin-right:30">
              <button class="skewed-button button-fill-white" type="button">
                <i class="skewed-button__icon uil uil-filter"> </i>
                <span class="skewed-button__label">Filter</span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="padding-left:20 padding-right:20 margin-top:40 margin-bottom:40 flex-row table-title"
        >
          <span class="tablet--grid-col">Change Request ID</span>
          <span class="tablet--grid-col">Change State</span>
          <span class="tablet--grid-col">Change Status</span>
          <span class="tablet--grid-col">Justification</span>
          <span class="tablet--grid-col">Planned Start Date</span>
          <span class="tablet--grid-col">Planned End Date</span>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                <a href="#" class="link-text">3954288621USA8601034</a>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Planning
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Planning to Start
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Lorem Ipsum is simply dummy text<a href="#" class="link-text">
                  View more
                </a>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text"> 12/11/2019 </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text"> 12/11/2019 </span>
            </li>
          </ul>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="tablet--grid-col">
              <span class="table-text">
                <a href="#" class="link-text">3954288621USA8601034</a>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Planning
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Planning to Start
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text">
                Lorem Ipsum is simply dummy text<a href="#" class="link-text">
                  View more
                </a>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text"> 12/11/2019 </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text"> 12/11/2019 </span>
            </li>
          </ul>
        </div>
      </div>

      <div *ngSwitchCase="'crcompleted'"></div>
    </div>
  </div>
</div>
