.management-console {
  margin-left : 6vw;
  display : flex;
  flex-wrap : nowrap;
  overflow-x : scroll;
  padding-bottom : 30px;
  .card__container {
    // to make the card without wrap the data
    min-width : 270px;
  }
  .asset-console {
    margin-left : 30px;
    margin-right : 50px;
    padding-right : 6vw;
    display : flex;
    &-list {
      min-width : 50px;
      min-height : 50px;
      margin-left : 30px;
      padding-bottom : 30px;
      background : rgba(204, 222, 236, 0.5);
      border-radius : 0px 0px 10px 10px;
      &:first-child {
        margin-left : 0;
      }
      .card-mini {
        margin-bottom : 20px;
        .card-wrapper {
          padding : 1.7vw;
        }
      }
      .card {
        margin : 0 10px 20px;
        width : calc(100% - 20px);
        &:last-child {
          margin-bottom : 0;
        }
      }
    }
  }
}