<div class="page-admin-setting-component">
  <h2 class="title">Settings</h2>
  <div class="page-data-content">
    <my-tabs>
      <my-tab [tabTitle]="'Email'">
        <!-- <pre>
        <code>Value: {{ this.smptFormData | json }}<br /></code>
      </pre> -->

        <form [formGroup]="smptForm" novalidate>
          <div class="content-header flex-row justify-between">
            <div class="content-title">Email Settings</div>
            <div class="form-group space-center-20 justify-center">
              <button
                type="button"
                class="skewed-button"
                [ngClass]="{
                  'button-fill-blue': !smptForm.pristine && !smptForm.invalid,
                  'button-link': smptForm.pristine || smptForm.invalid
                }"
                [disabled]="smptForm.pristine || smptForm.invalid"
              >
                <span class="skewed-button__label"> Save </span>
              </button>
            </div>
          </div>

          <!-- SMPT Server -->
          <div class="form-group">
            <label class="form-label">SMTP Server:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptServer"
                formControlName="smptServer"
                #smptServer
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptServer'].invalid &&
                  (smptForm.controls['smptServer'].dirty ||
                    smptForm.controls['smptServer'].touched)
                "
              >
                <div
                  *ngIf="smptForm.controls['smptServer'].errors.required"
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Server
                </div>
              </div>
            </div>
          </div>

          <!-- SMPT Username -->
          <div class="form-group">
            <label class="form-label">SMTP Username:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptUsername"
                formControlName="smptUsername"
                #smptUsername
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptUsername'].invalid &&
                  (smptForm.controls['smptUsername'].dirty ||
                    smptForm.controls['smptUsername'].touched)
                "
              >
                <div
                  *ngIf="smptForm.controls['smptUsername'].errors.required"
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Username
                </div>
              </div>
            </div>
          </div>

          <!-- SMPT Password -->
          <div class="form-group">
            <label class="form-label">SMTP Password:</label>
            <div class="form-control-wrapper">
              <input
                type="new-password"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptPassword"
                formControlName="smptPassword"
                #smptPassword
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptPassword'].invalid &&
                  (smptForm.controls['smptPassword'].dirty ||
                    smptForm.controls['smptPassword'].touched)
                "
              >
                <div
                  *ngIf="smptForm.controls['smptPassword'].errors.required"
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Password
                </div>
              </div>
            </div>
          </div>

          <!-- SMPT SSL -->
          <div class="form-group">
            <label class="form-label">SMTP SSL:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptSSL"
                formControlName="smptSSL"
                #smptSSL
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptSSL'].invalid &&
                  (smptForm.controls['smptSSL'].dirty ||
                    smptForm.controls['smptSSL'].touched)
                "
              >
                <div
                  *ngIf="smptForm.controls['smptSSL'].errors.required"
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT SSL
                </div>
              </div>
            </div>
          </div>

          <!-- SMPT Timeout -->
          <div class="form-group">
            <label class="form-label">SMTP Timeout:</label>
            <div class="form-control-wrapper">
              <input
                type="number"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptTimeout"
                formControlName="smptTimeout"
                #smptTimeout
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptTimeout'].invalid &&
                  (smptForm.controls['smptTimeout'].dirty ||
                    smptForm.controls['smptTimeout'].touched)
                "
              >
                <div
                  *ngIf="smptForm.controls['smptTimeout'].errors.required"
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Timeout
                </div>
              </div>
            </div>
          </div>

          <!-- SMTP Sendername -->
          <div class="form-group">
            <label class="form-label">SMTP Sendername:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptSendername"
                formControlName="smptSendername"
                #smptSendername
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptSendername'].invalid &&
                  (smptForm.controls['smptSendername'].dirty ||
                    smptForm.controls['smptSendername'].touched)
                "
              >
                <div
                  *ngIf="smptForm.controls['smptSendername'].errors.required"
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Sendername
                </div>
              </div>
            </div>
          </div>

          <!-- SMPT smptEmailRemainderDays -->
          <div class="form-group">
            <label class="form-label">Email Remainder (In Days):</label>
            <div class="form-control-wrapper">
              <input
                type="number"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptEmailRemainderDays"
                formControlName="smptEmailRemainderDays"
                #smptEmailRemainderDays
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptEmailRemainderDays'].invalid &&
                  (smptForm.controls['smptEmailRemainderDays'].dirty ||
                    smptForm.controls['smptEmailRemainderDays'].touched)
                "
              >
                <div
                  *ngIf="
                    smptForm.controls['smptEmailRemainderDays'].errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Server
                </div>
              </div>
            </div>
          </div>

          <!-- SMPT Email Remainder Limit: -->
          <div class="form-group">
            <label class="form-label">Email Remainder Limit:</label>
            <div class="form-control-wrapper">
              <input
                type="number"
                placeholder=""
                class="form-control"
                [(ngModel)]="smptFormData.smptRemainderLimit"
                formControlName="smptRemainderLimit"
                #smptRemainderLimit
                required
              />
              <div
                *ngIf="
                  smptForm.controls['smptRemainderLimit'].invalid &&
                  (smptForm.controls['smptRemainderLimit'].dirty ||
                    smptForm.controls['smptRemainderLimit'].touched)
                "
              >
                <div
                  *ngIf="
                    smptForm.controls['smptRemainderLimit'].errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide SMPT Server
                </div>
              </div>
            </div>
          </div>
        </form>
      </my-tab>

      <my-tab tabTitle="Active Directory">
        <!-- <pre>
          <code>Value: {{ this.activeDirectoryFormData | json }}<br /></code>
        </pre> -->
        <form [formGroup]="activeDirectoryForm" novalidate>
          <div class="content-header flex-row justify-between">
            <div class="content-title">Active Directory</div>
            <div class="form-group space-center-20 justify-center">
              <button
                type="button"
                class="skewed-button"
                [ngClass]="{
                  'button-fill-blue':
                    !activeDirectoryForm.pristine &&
                    !activeDirectoryForm.invalid,
                  'button-link':
                    activeDirectoryForm.pristine || activeDirectoryForm.invalid
                }"
                [disabled]="
                  activeDirectoryForm.pristine || activeDirectoryForm.invalid
                "
              >
                <span class="skewed-button__label"> Save </span>
              </button>
            </div>
          </div>

          <!-- Domain Name -->
          <div class="form-group">
            <label class="form-label">Domain Name:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="activeDirectoryFormData.activeDirectoryDomainName"
                formControlName="activeDirectoryDomainName"
                #activeDirectoryDomainName
                required
              />
              <div
                *ngIf="
                  activeDirectoryForm.controls['activeDirectoryDomainName']
                    .invalid &&
                  (activeDirectoryForm.controls['activeDirectoryDomainName']
                    .dirty ||
                    activeDirectoryForm.controls['activeDirectoryDomainName']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    activeDirectoryForm.controls['activeDirectoryDomainName']
                      .errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide domain name
                </div>
              </div>
            </div>
          </div>

          <!-- Domain Username -->
          <div class="form-group">
            <label class="form-label">Domain User Name:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="
                  activeDirectoryFormData.activeDirectorDomainUserName
                "
                formControlName="activeDirectorDomainUserName"
                #activeDirectorDomainUserName
                required
              />
              <div
                *ngIf="
                  activeDirectoryForm.controls['activeDirectorDomainUserName']
                    .invalid &&
                  (activeDirectoryForm.controls['activeDirectorDomainUserName']
                    .dirty ||
                    activeDirectoryForm.controls['activeDirectorDomainUserName']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    activeDirectoryForm.controls['activeDirectorDomainUserName']
                      .errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide domain user name
                </div>
              </div>
            </div>
          </div>

          <!-- Domain Password -->
          <div class="form-group">
            <label class="form-label">Domain Password:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="
                  activeDirectoryFormData.activeDirectorDomainPassword
                "
                formControlName="activeDirectorDomainPassword"
                #activeDirectorDomainPassword
                required
              />
              <div
                *ngIf="
                  activeDirectoryForm.controls['activeDirectorDomainPassword']
                    .invalid &&
                  (activeDirectoryForm.controls['activeDirectorDomainPassword']
                    .dirty ||
                    activeDirectoryForm.controls['activeDirectorDomainPassword']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    activeDirectoryForm.controls['activeDirectorDomainPassword']
                      .errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide domain password
                </div>
              </div>
            </div>
          </div>
        </form>
      </my-tab>

      <my-tab tabTitle="Change Management">
        <!-- <pre>
          <code>Value: {{ this.changeManagementFormData | json }}<br /></code>
        </pre> -->
        <form [formGroup]="changeManagementForm" novalidate>
          <div class="content-header flex-row justify-between">
            <div class="content-title">Change Management</div>
            <div class="form-group space-center-20 justify-center">
              <button
                type="button"
                class="skewed-button"
                [ngClass]="{
                  'button-fill-blue':
                    !changeManagementForm.pristine &&
                    !changeManagementForm.invalid,
                  'button-link':
                    changeManagementForm.pristine ||
                    changeManagementForm.invalid
                }"
                [disabled]="
                  changeManagementForm.pristine || changeManagementForm.invalid
                "
              >
                <span class="skewed-button__label"> Change Connection </span>
              </button>
            </div>
          </div>

          <!-- Site Tool -->
          <div class="form-group">
            <label class="form-label">Site Tool:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="changeManagementFormData.changeManagementSiteTool"
                formControlName="changeManagementSiteTool"
                #changeManagementSiteTool
                required
              />
              <div
                *ngIf="
                  changeManagementForm.controls['changeManagementSiteTool']
                    .invalid &&
                  (changeManagementForm.controls['changeManagementSiteTool']
                    .dirty ||
                    changeManagementForm.controls['changeManagementSiteTool']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    changeManagementForm.controls['changeManagementSiteTool']
                      .errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide Site Tool
                </div>
              </div>
            </div>
          </div>

          <!-- URL -->
          <div class="form-group">
            <label class="form-label">URL:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="changeManagementFormData.changeManagementUrl"
                formControlName="changeManagementUrl"
                #changeManagementUrl
                required
              />
              <div
                *ngIf="
                  changeManagementForm.controls['changeManagementUrl']
                    .invalid &&
                  (changeManagementForm.controls['changeManagementUrl'].dirty ||
                    changeManagementForm.controls['changeManagementUrl']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    changeManagementForm.controls['changeManagementUrl'].errors
                      .required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide URL
                </div>
              </div>
            </div>
          </div>

          <!--  Authentication Type -->
          <div class="form-group">
            <label class="form-label"> Authentication Type:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="
                  changeManagementFormData.changeManagementAuthenticationType
                "
                formControlName="changeManagementAuthenticationType"
                #changeManagementAuthenticationType
                required
              />
              <div
                *ngIf="
                  changeManagementForm.controls[
                    'changeManagementAuthenticationType'
                  ].invalid &&
                  (changeManagementForm.controls[
                    'changeManagementAuthenticationType'
                  ].dirty ||
                    changeManagementForm.controls[
                      'changeManagementAuthenticationType'
                    ].touched)
                "
              >
                <div
                  *ngIf="
                    changeManagementForm.controls[
                      'changeManagementAuthenticationType'
                    ].errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide Authentication Type
                </div>
              </div>
            </div>
          </div>

          <!-- UserName -->
          <div class="form-group">
            <label class="form-label">User Name:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="changeManagementFormData.changeManagementUserName"
                formControlName="changeManagementUserName"
                #changeManagementUserName
                required
              />
              <div
                *ngIf="
                  changeManagementForm.controls['changeManagementUserName']
                    .invalid &&
                  (changeManagementForm.controls['changeManagementUserName']
                    .dirty ||
                    changeManagementForm.controls['changeManagementUserName']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    changeManagementForm.controls['changeManagementUserName']
                      .errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide User Name
                </div>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label class="form-label">Password:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="changeManagementFormData.changeManagementPassword"
                formControlName="changeManagementPassword"
                #changeManagementPassword
                required
              />
              <div
                *ngIf="
                  changeManagementForm.controls['changeManagementPassword']
                    .invalid &&
                  (changeManagementForm.controls['changeManagementPassword']
                    .dirty ||
                    changeManagementForm.controls['changeManagementPassword']
                      .touched)
                "
              >
                <div
                  *ngIf="
                    changeManagementForm.controls['changeManagementPassword']
                      .errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide Password
                </div>
              </div>
            </div>
          </div>
        </form>
      </my-tab>

      <my-tab tabTitle="Site Settings">
        <!-- <pre>
        <code>Value: {{ this.siteSettingsFormData | json }} </code>
      </pre> -->
        <form [formGroup]="siteSettingsForm" novalidate>
          <div class="content-header flex-row justify-between">
            <div class="content-title">Email Settings</div>
            <div class="form-group space-center-20 justify-center">
              <button
                type="button"
                class="skewed-button"
                [ngClass]="{
                  'button-fill-blue':
                    !siteSettingsForm.pristine && !siteSettingsForm.invalid,
                  'button-link':
                    siteSettingsForm.pristine || siteSettingsForm.invalid
                }"
                [disabled]="
                  siteSettingsForm.pristine || siteSettingsForm.invalid
                "
              >
                <span class="skewed-button__label"> Save </span>
              </button>
            </div>
          </div>
          <!-- Site URL -->
          <div class="form-group">
            <label class="form-label">Site URL:</label>
            <div class="form-control-wrapper">
              <input
                type="text"
                placeholder=""
                class="form-control"
                [(ngModel)]="siteSettingsFormData.siteSettingsiteURL"
                formControlName="siteSettingsiteURL"
                #siteSettingsiteURL
                required
              />
              <div
                *ngIf="
                  siteSettingsForm.controls['siteSettingsiteURL'].invalid &&
                  (siteSettingsForm.controls['siteSettingsiteURL'].dirty ||
                    siteSettingsForm.controls['siteSettingsiteURL'].touched)
                "
              >
                <div
                  *ngIf="
                    siteSettingsForm.controls['siteSettingsiteURL'].errors
                      .required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide site url
                </div>
              </div>
            </div>
          </div>
        </form>
      </my-tab>

      <my-tab tabTitle="Continuous Compliance">
        <!-- <pre>
          <code>Value: {{ this.continuousComplianceFormData | json }} </code>
        </pre> -->
        <form [formGroup]="continuousComplianceForm" novalidate>
          <div class="content-header flex-row justify-between">
            <div class="content-title">Log Retention</div>
            <div class="form-group space-center-20 justify-center">
              <!-- <button
                type="button"
                class="skewed-button"
                [ngClass]="{
                  'button-fill-blue':
                    !continuousComplianceForm.pristine &&
                    !continuousComplianceForm.invalid,
                  'button-link':
                    continuousComplianceForm.pristine ||
                    continuousComplianceForm.invalid
                }"
                [disabled]="
                  continuousComplianceForm.pristine ||
                  continuousComplianceForm.invalid
                "
              >
                <span class="skewed-button__label"> Save </span>
              </button> -->
            </div>
          </div>

          <code class="margin-bottom:30 d-block">
            Need to get input from design team
          </code>
          <!-- Log Retention Days  -->
          <div class="form-group">
            <label class="form-label">Log Retention Days :</label>
            <input type="text" readonly class="form-control" id="counterval" />
            <!--
            <div class="form-control-wrapper">
              <a
                class="btn btn-primary text-white"
                (click)="decrement()"
                role="button"
              >
                <i class="uil uil-minus-square"></i>
              </a>
              <input
                type="text"
                readonly
                class="form-control"
                id="counterval"
                [value]="counter"
                [(ngModel)]="
                  continuousComplianceFormData.continuousComplianceLogRetention
                "
              />

              <a
                class="btn btn-primary text-white"
                (click)="increment()"
                role="button"
              >
                <i class="uil uil-plus-square"></i>
              </a>
              <div
                *ngIf="
                  continuousComplianceForm.controls[
                    'continuousComplianceLogRetention'
                  ].invalid &&
                  (continuousComplianceForm.controls[
                    'continuousComplianceLogRetention'
                  ].dirty ||
                    continuousComplianceForm.controls[
                      'continuousComplianceLogRetention'
                    ].touched)
                "
              >
                <div
                  *ngIf="
                    continuousComplianceForm.controls[
                      'continuousComplianceLogRetention'
                    ].errors.required
                  "
                  class="form-label-helper-text form-label-helper-text-error"
                >
                  Please provide continuous compliance log retention number
                </div>
              </div>
            </div> -->
          </div>
        </form>
      </my-tab>
    </my-tabs>
  </div>
</div>
