app-setting {
  flex: 1;
  .title {
    font-family: var(--roboto-mono);
    font-size: 32px;
    line-height: 37px;
    color: var(--text-color-800);
    margin-bottom: 27px;
  }

  .content-header {
    margin-bottom: 40px;
  }
  .content-title {
    font-family: var(--roboto-mono);
    font-size: 24px;
    line-height: 28px;
    color: var(--text-header-200);
  }
  .form-label {
    max-width: 210px;
    flex: 1;
  }
  .form-label-helper-text {
    padding-left: 0;
  }
}
