<section class="page--login">
  <div class="login-intro"></div>
  <div class="login-action">
    <div class="logo"></div>
    <div class="form-action-title"></div>
    <div class="form-actions">
      <form action="">
        <!-- emailid -->
        <!-- captcha -->
        <!-- checkbox -->
        <!-- button -->
      </form>
    </div>
    <div class="poweredby"></div>
  </div>
</section>
