$text-color : 800 700 600 500 400 300 200;
$text-label : 400 300 200 100;
$text-header : 100 200;
$text-subtext : 100;
$text-paragraph : 800 700 600 500;
$color-status : completed incompleted none error;
$alert-status : low critical high medium info;

@each $item in $text-color {
  .text-color\:#{$item} {
    color : var(--text-color-#{$item});
  }
}

@each $item in $text-label {
  .text-label\:#{$item} {
    color : var(--text-label-#{$item});
  }
}

@each $item in $text-header {
  .text-header\:#{$item} {
    color : var(--text-header-#{$item});
  }
}

@each $item in $text-subtext {
  .text-subtext\:#{$item} {
    color : var(--text-subtext-#{$item});
  }
}

@each $item in $color-status {
  .icon-color\:#{$item} {
    color : var(--status-#{$item});
  }
}

@each $item in $alert-status {
  .alert-color\:#{$item} {
    color : var(--alert-#{$item});
  }
}
@each $item in $alert-status {
  .bg-alert-color\:#{$item} {
    background : var(--alert-#{$item});
    color : var(--white);
  }
}