// @extend %

// Title
%title {
  font-size : 32px;
  font-family : var(--roboto-mono);
}

// Sub Title
%sub-title-mono {
  font-size : 24px;
  font-family : var(--roboto-mono);
}

%sub-title-400 {
  font-size : 24px;
  font-family : var(--roboto-400);
}

%sub-title-500 {
  font-size : 24px;
  font-family : var(--roboto-500);
}

// Heading 1 - 18

%heading1 {
  font-size : 18px;
  font-family : var(--roboto-mono);
}

%heading1-400 {
  font-size : 18px;
  font-family : var(--roboto-400);
}

%heading1-500 {
  font-size : 18px;
  font-family : var(--roboto-500);
}

// Heading 2 - 16
%heading2 {
  font-size : 16px;
  font-family : var(--roboto-mono);
  line-height : 19px;
}

%heading2-400 {
  font-size : 16px;
  font-family : var(--roboto-400);
  line-height : 19px;
}

%heading2-500 {
  font-size : 16px;
  font-family : var(--roboto-500);
  line-height : 19px;
}

// Heading 3 - 14
%heading3-mono {
  font-size : 14px;
  font-family : var(--roboto-mono);
  line-height : 21px;
}

%heading3-400 {
  font-size : 14px;
  font-family : var(--roboto-400);
  line-height : 21px;
}

%heading3-500 {
  font-size : 14px;
  font-family : var(--roboto-500);
  line-height : 21px;
}

// Options - 12

%option-mono {
  font-size : 12px;
  font-family : var(--roboto-mono);
}

%option-400 {
  font-size : 12px;
  font-family : var(--roboto-400);
}

%option-500 {
  font-size : 12px;
  font-family : var(--roboto-500);
}

// @extend %

/*
Title - 32
Subtitle - 24
Heading1 - 18
Heading2 - 16
Heading3 - 14
Options - 12
*/

// Title
.font\:32\:mono ,
%font-32-mono {
  font-size : 32px;
  font-family : var(--roboto-mono);
}

// Sub Title
.font\:24\:mono ,
%font-24-mono {
  font-size : 24px;
  font-family : var(--roboto-mono);
}

.font\:24\:400 ,
%font-24-400 {
  font-size : 24px;
  font-family : var(--roboto-400);
}

.font\:24\:500 ,
%font-24-500 {
  font-size : 24px;
  font-family : var(--roboto-500);
}

// Heading 1 - 18
.font\:18\:mono ,
%font-18-mono {
  font-size : 18px;
  font-family : var(--roboto-mono);
}

.font\:18\:400 ,
%font-18-400 {
  font-size : 18px;
  font-family : var(--roboto-400);
}

.font\:18\:500 ,
%font-18-500 {
  font-size : 18px;
  font-family : var(--roboto-500);
}

// Heading 2 - 16
.font\:16\:mono ,
%font-16-mono {
  font-size : 16px;
  font-family : var(--roboto-mono);
  line-height : 19px;
}

.font\:16\:400 ,
%font-16-400 {
  font-size : 16px;
  font-family : var(--roboto-400);
  line-height : 19px;
}

.font\:16\:500 ,
%font-16-500 {
  font-size : 16px;
  font-family : var(--roboto-500);
  line-height : 19px;
}

// Heading 3 - 144
.font\:14\:mono ,
%font-14-mono {
  font-size : 14px;
  font-family : var(--roboto-mono);
  line-height : 21px;
}

.font\:14\:400 ,
%font-14-400 {
  font-size : 14px;
  font-family : var(--roboto-400);
  line-height : 21px;
}

.font\:14\:500 ,
%font-14-500 {
  font-size : 14px;
  font-family : var(--roboto-500);
  line-height : 21px;
}

// Options - 12
.font\:12\:mono ,
%font-12-mono {
  font-size : 12px;
  font-family : var(--roboto-mono);
}

.font\:12\:400 ,
%font-12-400 {
  font-size : 12px;
  font-family : var(--roboto-400);
}

.font\:12\:500 ,
%font-12-500 {
  font-size : 12px;
  font-family : var(--roboto-500);
}