:root {
  --roboto-400 : 'RobotoNormal', sans-serif;
  --roboto-500 : 'RobotoMedium', sans-serif;
  --roboto-mono : 'RobotoMono', sans-serif;
  --icon : 'unicons', sans-serif;
}

html {
  -webkit-overflow-scrolling : touch;
  -ms-overflow-style : -ms-autohiding-scrollbar;
  scroll-behavior : smooth;
  scrollbar-visibility : hidden;
}

body {
  background : var(--base);
  font-family : var(--roboto-400);
}

/* Let's get this party started */
::-webkit-scrollbar {
  width : 6px;
  height : 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius : 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius : 10px;
  background : var(--silver-sand);
  opacity : 0.8;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background : var(--silver-sand);
  opacity : 0.4;
}

::-webkit-scrollbar-button {
  width : 0;
  height : 0;
  display : none;
}

::-webkit-scrollbar-corner {
  background-color : transparent;
}

b ,
strong {
  // font-weight: 500;
  font-family : var(--roboto-500);
}