$menu-items : 0 10 15 20 25 30 35 40 45 50 60 70 80 90 100 110;

@each $item in $menu-items {
  .padding-top\:#{$item} {
    padding-top : #{$item}px;
  }

  .padding-right\:#{$item} {
    padding-right : #{$item}px;
  }

  .padding-bottom\:#{$item} {
    padding-bottom : #{$item}px;
  }

  .padding-left\:#{$item} {
    padding-left : #{$item}px;
  }

  .margin-top\:#{$item} {
    margin-top : #{$item}px;
  }

  .margin-right\:#{$item} {
    margin-right : #{$item}px;
  }

  .margin-bottom\:#{$item} {
    margin-bottom : #{$item}px;
  }

  .margin-left\:#{$item} {
    margin-left : #{$item}px;
  }
}

.border-left\:1 {
  border-left : 1px solid var(--input-border-color);
}

.border-left\:2 {
  border-left : 2px solid var(--input-border-color);
}

.border-bottom\:1 {
  border-bottom : 1px solid var(--input-border-color);
}

.border {
  &-bottom\:1 {
    border-bottom : 1px solid var(--input-border-color);
  }
}

.border-left-after\:1::after {
  position : absolute;
  top : -20px;
  left : 0;
  content : '';
  display : inline-block;
  width : 2px;
  height : calc(100% + 40px);
  background-color : var(--input-border-color);
}

.border-top-after\:1 {
  position : relative;
  &::after {
    position : absolute;
    top : 0;
    left : -20px;
    content : '';
    display : inline-block;
    width : calc(100% + 40px);
    height : 1px;
    background-color : var(--input-border-color);
  }
}

.width\:100 {
  width : 100%;
}

.padding-top\:0 {
  padding-top : 0 !important;
}
.margin-top\:0 {
  margin-top : 0 !important;
}

.padding-bottom\:0 {
  padding-bottom : 0 !important;
}
.margin-bottom\:0 {
  margin-bottom : 0 !important;
}

.padding-left\:0 {
  padding-left : 0 !important;
}
.margin-left\:0 {
  margin-left : 0 !important;
}

.padding-right\:0 {
  padding-right : 0 !important;
}
.margin-right\:0 {
  margin-right : 0 !important;
}