/**
 * Typography:
 *  Text fonts: Roboto:400,500|Roboto
 *  Icon fonts: unicons|Material+Icons
 *
 *  Loaded material icon via npm
 */

@include font-face(
  RobotoNormal,
  './assets/font/roboto-normal',
  400,
  normal,
  swap,
  woff2
);
@include font-face(
  RobotoMedium,
  './assets/font/roboto-medium',
  500,
  normal,
  swap,
  woff2
);
@include font-face(
  RobotoMono,
  './assets/font/roboto-mono',
  400,
  normal,
  swap,
  woff2
);
@include font-face(unicons, './assets/font/unicons', normal, auto, woff, woff2);

.unicons-icon {
  font-family : var(--icon);
  font-style : normal;
  font-weight : normal;
  speak : none;
  display : inline-block;
  text-decoration : inherit;
  text-align : center;
  font-variant : normal;
  text-transform : none;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

$base-font-size : 16px;

// Make type normal across browsers
* ,
html ,
body {
  font-size : $base-font-size;
  font-family : var(--roboto-400);
  // color : var(--slate);
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
  -webkit-text-size-adjust : 100%;
      -ms-text-size-adjust : 100%;
}

.page-title {
  @extend %title;
  line-height : 37px;
  color : var(--slate);
}

.sub-page-title {
  @extend %font-16-mono;
  line-height : 19px;
  margin-bottom : 20px;
  color : var(--slate);
}