.asset-icon-list {
  li {
    z-index : 1;
    display : inline-block;
    &:not(:first-child) {
      margin-left : -8px;
      z-index : -1;
    }
  }
  margin-right : 5px;
}

.form-checkbox-group ,
.form-checkbox-label {
  margin : 0;
}

dl + dl {
  margin-bottom : 0;
}

progress {
  max-width : 100px;
  margin-right : 0;
  vertical-align : top;
}
.link-text {
  i {
    &:after {
      color : #1393ff;
    }
  }
}