<div class="d-container">
  <!-- page content filter -->

  <div class="flex-row font:24:mono margin-bottom:40">
    <button class="btn-back" (click)="backClicked()">
      <i class="uil uil-arrow-left"></i> Back
    </button>
    <h2
      class="font:32:mono text-color:800 margin-left:20 font:24:mono  text-header:200 "
    >
      What If
    </h2>
  </div>

  <div class="flex-row justify-between align-items-center margin-top:40">
    <div class=" text-color:500  font:18:mono text-subtext:100">
      200 What If Policies
    </div>

    <div
      id="search-filter-export"
      class="flex-row justify-between align-items-center"
    >
      <div class="margin-right:30 input-search">
        <div class="input-group">
          <label [hidden] for="searchText"></label>
          <i class="uil uil-white uil-search"></i>
          <input
            [(ngModel)]="searchText"
            type="text"
            name="searchText"
            id="searchText"
            placeholder="Search"
          />
        </div>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-white" type="button">
          <i class="skewed-button__icon uil uil-filter"> </i>
          <span class="skewed-button__label">Filter</span>
        </button>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-blue" type="button">
          <i class="skewed-button__icon uil uil-plus"> </i>
          <span class="skewed-button__label"> Add Policy </span>
        </button>
      </div>
    </div>

    <div hidden id="rule-link-review" class="flex-row justify-end">
      <div class="margin-right:30">
        <button class="skewed-button button-fill-blue" type="button">
          <span class="skewed-button__label"> Re-evaluate </span>
        </button>
      </div>
    </div>
  </div>

  <section class="page--what-if">
    <div
      class="table-title margin-left:30 padding-left:20 padding-right:20 margin-top:40 margin-bottom:40 flex-row table-title"
    >
      <span class="grid-col-20px"></span>
      <span class="tablet--grid-col">Attribute</span>
      <span class="tablet--grid-col">Entities</span>
      <span class="tablet--grid-col">Service/ Protocol</span>
      <span class="tablet--grid-col">Date Modified</span>
      <span class="tablet--grid-col">Inference</span>
    </div>

    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <li class="grid-col-20px">
          <div class="form-checkbox-group">
            <input
              (click)="checkme($event)"
              class="form-checkbox-input"
              id="what-if-2"
              type="checkbox"
              value=""
            /><label class="form-checkbox-label" for="what-if-2"></label>
          </div>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block margin-bottom:10"
            >Outside_access_in</span
          ><span class="table-text d-block margin-bottom:10">Extended</span>
          <span class="flex-row margin-top:10 icon-size:20 icon-space-right:15">
            <i class="uil uil-check-circle   icon-color:incompleted  "></i>
            <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
            <i class="uil uil-exclamation-triangle status-icon-high"></i>
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block">
            <i class="table-icon uil uil-exit status-icon-critical"></i>
            FP,
          </span>
          <span class="table-text d-block margin-top:10">
            <i class="table-icon uil uil-entry status-icon-critical"></i>
            ind_sap03_p
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block"> DM_IN_SRV_1 </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block"> 12/11/2019 </span>
        </li>
        <li class="tablet--grid-col">
          <span class="font:12:400 button-chip  bg-alert-color:medium ">
            <i class="uil uil-check"></i> Can be Added
          </span>
        </li>
      </ul>
    </div>

    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <li class="grid-col-20px">
          <div class="form-checkbox-group">
            <input
              (click)="checkme($event)"
              class="form-checkbox-input"
              id="what-if-1"
              type="checkbox"
              value=""
            /><label class="form-checkbox-label" for="what-if-1"></label>
          </div>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block margin-bottom:10"
            >Outside_access_in</span
          ><span class="table-text d-block margin-bottom:10">Extended</span>
          <span class="flex-row margin-top:10 icon-size:20 icon-space-right:15">
            <i class="uil uil-check-circle   icon-color:incompleted  "></i>
            <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
            <i class="uil uil-exclamation-triangle status-icon-high"></i>
          </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block">
            <i class="table-icon uil uil-entry status-icon-critical"></i>
            Any,
          </span>
          <a href="#" class="link-text table-text d-block">
            +5 more
          </a>
          <span class="table-text d-block margin-top:10">
            <i class="table-icon uil uil-exit status-icon-critical"></i>
            ind_sap03_p
          </span>
          <!-- TODO: enable if have more -->
          <a href="#" class="link-text table-text d-block">
            +5 more
          </a>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block"> DM_IN_SRV_1, </span>
          <span class="table-text d-block"> dm_vrv_01, </span>
        </li>
        <li class="tablet--grid-col">
          <span class="table-text d-block"> 12/11/2019 </span>
        </li>
        <li class="tablet--grid-col">
          <span class="font:12:400 button-chip  bg-alert-color:medium ">
            <i class="uil uil-check"></i> Can be Added
          </span>
        </li>
      </ul>
    </div>
  </section>
</div>
