/**
 * Themes:
 * loading color from src/app/@theme/color/theme.service.ts
 */

:root {
  --roboto-400 : 'RobotoNormal', sans-serif;
  --roboto-500 : 'RobotoMedium', sans-serif;
  --roboto-mono : 'RobotoMono', sans-serif;
  --icon : 'unicons', sans-serif;
  --link-text : #1393ff;
  --cut-shadow : drop-shadow(0px 5px 5px rgba(2, 108, 197, 0.1));
  --cut-small-path : polygon(0% 0%, 100% 0, 100% 100%, 10% 100%, 0 85%);
}

.theme--light {
  --text-color-800 : #3f5669;
  --text-color-700 : #5b748c;
  --text-color-600 : #6a8eac;
  --text-color-500 : #8094a5;
  --text-color-400 : #83a5c1;
  --text-color-300 : #1393ff;
  --text-color-200 : #f5f9ff;
  --text-label-100 : #5b748c;
  --text-label-200 : #3d7eb5;
  --text-label-300 : #6a8eac;
  --text-label-400 : #8094a5;
  --text-header-100 : #5b748c;
  --text-header-200 : #02478a;
  --text-subtext-100 : #8094a5;
  --text-paragraph-800 : #3f5669;
  --text-paragraph-700 : #5b748c;
  --text-paragraph-600 : #6a8eac;
  --text-paragraph-500 : #8094a5;
  --tab-inactive : #6a8eac;
  --tab-active : #1393ff;
  --bg-color : #f5f9ff;
  --bg-card : #fff;
  --alert-low : #41c303;
  --alert-critical : #eb4d4d;
  --alert-high : #eb7d4d;
  --alert-medium : #ebb64d;
  --alert-info : #1393ff;
  --status-completed : #eb4d4d;
  --status-incompleted : #41c303;
  --status-error : #d93e3e;
  --status-none : #8094a5;
  --base : #f5f9ff;
  --slate : #3f5669;
  --white : #fff;
  --card-color : #5b748c;
  --input-border-color : #ccdeec;
  --check-border-color : #ccdeec;
}

.theme--dark {
  --text-color-800 : #c6e4fe;
  --text-color-700 : #ccdeec;
  --text-color-600 : #83c5fd;
  --text-color-500 : #6a8eac;
  --text-color-400 : #8094a5;
  --text-color-300 : #1393ff;
  --text-color-200 : #fff;
  --text-label-100 : #83c5fd;
  --text-label-200 : #376e9d;
  --text-label-300 : #5b748c;
  --text-label-400 : #3f5669;
  --text-header-100 : #5b748c;
  --text-header-200 : #83c5fd;
  --text-subtext-100 : #5b748c;
  --text-paragraph-800 : #c6e4fe;
  --text-paragraph-700 : #3d7eb5;
  --text-paragraph-600 : #8094a5;
  --text-paragraph-500 : #6a8eac;
  --tab-inactive : #6a8eac;
  --tab-active : #1393ff;
  --bg-color : #001c34;
  --bg-card : #082c4a;
  --alert-low : #309102;
  --alert-critical : #a63a3a;
  --alert-high : #d16630;
  --alert-medium : #c29f2d;
  --alert-info : #1393ff;
  --status-completed : #58b62c;
  --status-incompleted : #eb4d4d;
  --status-error : D93E3E;
  --status-none : #8094a5;
  --base : #001c34;
  --slate : #c6e4fe;
  --white : #fff;
  --card-color : #c6e4fe;
  --input-border-color : #3f5669;
  --check-border-color : #6a8eac;
}

.theme--dark {
  select {
    & option {
      background-color : #082c4a;
      color : #6a8eac;
    }
  }
}