<div class="page-admin-license-component">
  <h2 class="title">License</h2>
  <div class="flex-row align-items-center justify-between filter-area">
    <span>5 Licenses Available</span>
    <div class="asset-view-search input-search margin-right:40">
      <div class="input-group">
        <label [hidden] for="searchText"></label>
        <i class="uil uil-white uil-search"></i>
        <input
          type="text"
          name="searchText"
          id="searchText"
          placeholder="Search"
        />
      </div>
    </div>
  </div>

  <!-- page data title -->
  <div class="page-data-content">
    <ul
      class="margin-top:40 padding-left:20 padding-right:20 d-grid grid-list-items grid-template-title"
    >
      <li></li>
      <li class="cursor:pointer">
        <ul class="flex-row justify-between align-items-center width:100">
          <li>
            Client Name
          </li>
          <li>
            Product Name
          </li>
          <li>
            Start Date
          </li>
          <li>
            Valid Upto
          </li>
          <li>
            Days Remaining
          </li>
          <li>
            Status
          </li>
          <li>
            Action
          </li>
        </ul>
      </li>
    </ul>

    <div class="page-data-content">
      <!-- load the data form card component -->
      <app-card bg_color="white" card_type="card-sim-1170">
        <ul
          class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
        >
          <li>
            <div class="card-selector">
              <div class="form-checkbox-group">
                <input
                  class="form-checkbox-input"
                  id="input1"
                  type="checkbox"
                  value="input1"
                />
                <label class="form-checkbox-label" for="input1"></label>
              </div>
            </div>
          </li>
          <li class="cursor:pointer">
            <ul class="flex-row justify-between align-items-center width:100">
              <li>
                <div class="avatar-small no-image">
                  <a href="#" class="link-text">
                    <span>Rillusion</span>
                  </a>
                </div>
              </li>
              <li>
                Firesec
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                365 Days
              </li>
              <li>
                <span class="button-chip  bg-alert-color:medium "> Active </span>
              </li>
              <li>
                <span class="">
                  <i class="uil uil-sync"></i>
                </span>
                <span class="">
                  <i class="uil uil-trash"></i>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </app-card>
      <app-card bg_color="white" card_type="card-sim-1170">
        <ul
          class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
        >
          <li>
            <div class="card-selector">
              <div class="form-checkbox-group">
                <input
                  class="form-checkbox-input"
                  id="input2"
                  type="checkbox"
                  value="input2"
                />
                <label class="form-checkbox-label" for="input2"></label>
              </div>
            </div>
          </li>
          <li class="cursor:pointer">
            <ul class="flex-row justify-between align-items-center width:100">
              <li>
                <div class="avatar-small no-image">
                  <a href="#" class="link-text">
                    <span>Rillusion</span>
                  </a>
                </div>
              </li>
              <li>
                Firesec
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                365 Days
              </li>
              <li>
                <span class="button-chip  bg-alert-color:medium "> Active </span>
              </li>
              <li>
                <span class="">
                  <i class="uil uil-edit-alt"></i>
                </span>
                <span class="">
                  <i class="uil uil-trash"></i>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </app-card>

      <app-card bg_color="white" card_type="card-sim-1170">
        <ul
          class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
        >
          <li>
            <div class="card-selector">
              <div class="form-checkbox-group">
                <input
                  class="form-checkbox-input"
                  id="input3"
                  type="checkbox"
                  value="input3"
                />
                <label class="form-checkbox-label" for="input3"></label>
              </div>
            </div>
          </li>
          <li class="cursor:pointer">
            <ul class="flex-row justify-between align-items-center width:100">
              <li>
                <div class="avatar-small no-image">
                  <a href="#" class="link-text">
                    <span>Rillusion</span>
                  </a>
                </div>
              </li>
              <li>
                Firesec
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                365 Days
              </li>
              <li>
                <span class="button-chip  bg-alert-color:medium "> Active </span>
              </li>
              <li>
                <span class="">
                  <i class="uil uil-edit-alt"></i>
                </span>
                <span class="">
                  <i class="uil uil-trash"></i>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </app-card>
      <app-card bg_color="white" card_type="card-sim-1170">
        <ul
          class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
        >
          <li>
            <div class="card-selector">
              <div class="form-checkbox-group">
                <input
                  class="form-checkbox-input"
                  id="input4"
                  type="checkbox"
                  value="input4"
                />
                <label class="form-checkbox-label" for="input4"></label>
              </div>
            </div>
          </li>
          <li class="cursor:pointer">
            <ul class="flex-row justify-between align-items-center width:100">
              <li>
                <div class="avatar-small no-image">
                  <a href="#" class="link-text">
                    <span>Rillusion</span>
                  </a>
                </div>
              </li>
              <li>
                Firesec
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                365 Days
              </li>
              <li>
                <span class="button-chip  bg-alert-color:medium "> Active </span>
              </li>
              <li>
                <span class="">
                  <i class="uil uil-edit-alt"></i>
                </span>
                <span class="">
                  <i class="uil uil-trash"></i>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </app-card>
      <app-card bg_color="white" card_type="card-sim-1170">
        <ul
          class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
        >
          <li>
            <div class="card-selector">
              <div class="form-checkbox-group">
                <input
                  class="form-checkbox-input"
                  id="input5"
                  type="checkbox"
                  value="input5"
                />
                <label class="form-checkbox-label" for="input5"></label>
              </div>
            </div>
          </li>
          <li class="cursor:pointer">
            <ul class="flex-row justify-between align-items-center width:100">
              <li>
                <div class="avatar-small no-image">
                  <a href="#" class="link-text">
                    <span>Rillusion</span>
                  </a>
                </div>
              </li>
              <li>
                Firesec
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                29/11/2019
              </li>
              <li>
                365 Days
              </li>
              <li>
                <span class="button-chip  bg-alert-color:medium "> Active </span>
              </li>
              <li>
                <span class="">
                  <i class="uil uil-sync"></i>
                </span>
                <span class="">
                  <i class="uil uil-trash"></i>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </app-card>
    </div>
  </div>
</div>
