app-license {
  flex : 1;
  .title {
    font-family : var(--roboto-mono);
    font-size : 32px;
    line-height : 37px;
    color : var(--text-color-800);
    margin-bottom : 27px;
  }
  .filter-area {
    span {
      font-family : var(--roboto-mono);
      font-size : 18px;
      line-height : 21px;
      color : var(--text-color-500);
    }
    .input-search {
      margin-left : 60px;
      margin-right : 30px;
      flex : 1 0 auto;
      .input-group input {
        width : calc(100% - 60px);
      }
    }
  }

  .page-data-content {
    .grid-template-title {
      grid-template-columns : 40px 220px;
      li.cursor\:pointer {
        ul {
          li {
            &:nth-child(1) {
              justify-content : initial;
              flex : 0 0 170px;
            }
            &:nth-child(2) {
              flex : 0 0 160px;
            }
            &:nth-child(3) ,
            &:nth-child(4) {
              flex : 0 0 120px;
            }
            &:nth-child(5) {
              flex : 0 0 140px;
            }
            &:nth-child(6) {
              flex : 0 0 100px;
            }
            &:nth-child(7) {
              flex : 1 0 auto;
            }
          }
        }
      }
    }
    .grid-list-items {
      grid-template-columns : 40px 1fr;
      li {
        &:first-child {
          display : flex;
          justify-content : center;
          align-items : center;
        }
        &:last-child {
          li {
            white-space : nowrap;
            text-overflow : ellipsis;
            overflow : hidden;
            &:nth-child(1) {
              justify-content : initial;
              flex : 0 0 170px;
            }
            &:nth-child(2) {
              flex : 0 0 160px;
            }
            &:nth-child(3) ,
            &:nth-child(4) {
              flex : 0 0 120px;
            }
            &:nth-child(5) {
              flex : 0 0 140px;
            }
            &:nth-child(6) {
              flex : 0 0 100px;
            }
            &:nth-child(7) {
              flex : 1 0 auto;
            }
            &:last-child {
              display : flex;

              span {
                margin-right : 16px;
                &:last-child {
                  margin-right : 0;
                }
              }
            }
          }
        }
      }
      .card-selector {
        .form-checkbox-group ,
        .form-checkbox-label {
          margin-bottom : 0;
        }
        .form-checkbox-label:before {
          margin-right : 0;
        }
      }
      .avatar-small.no-image {
        span {
          margin : 0;
        }
      }
    }
  }
}
