<!-- TODO:  Need to updated the status near card-sim class,
    // need to clean the status class and merge with bg color and text color
Status:
---
 status-low
 status-critical
 status-high
 status-medium
 status-info

-->
<div class="card-sim-wrapper">
  <div
    class="card-sim {{ card_type }} {{ icon_position }} card-status-{{
      card_status
    }}"
  >
    <span *ngIf="card_status" class="card-sim-status-bar"> </span>
    <!--
      TODO: need to add if condition for all class
    -->
    <div class="bg bg-color-{{ bg_color }}">
      <!-- <div class="card-icon"></div> -->
      <ng-content></ng-content>
    </div>
  </div>
</div>
