.grid-template {
  grid-template-columns : 40px repeat(4, 232px) 40px;
  padding-left : 20px;
  padding-right : 20px;
}

app-card {
  .grid-template {
    grid-template-columns : 40px 1fr;

    li {
      ul.d-grid {
        grid-template-columns : repeat(4, 232px) 40px;
      }
    }
  }

  .asset-rule-more-info {
    border-top : 1px solid rgba(1, 88, 162, 0.2);
    .d-grid {
      padding-left : 88px;
      padding-right : 88px;
      grid-template-columns : repeat(4, 232px);
    }
  }
}

.model-area-source {
  &.modal-area {
    padding : 30px 20px 30px;
    .modal-title {
      font-family : var(--roboto-mono);
      font-size : 18px;
      line-height : 21px;
      color : var(--text-color-500);
      margin-bottom : 20px;
    }
    .source-list {
      margin-bottom : 10px;
      filter : drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.12));
    }
    ul.section-title {
      grid-template-columns : repeat(auto-fit, minmax(160px, 1fr));
      margin-bottom : 20px;
      li {
        font-size : 14px;
        color : var(--text-color-500);
        strong {
          display : inline-block;
          margin-left : 16px;
          color : var(--text-paragraph-600);
        }
      }
    }
    ul:not(.section-title) {
      grid-template-columns : repeat(auto-fit, minmax(136px, 1fr));
      width : 100%;
      padding : 15px 20px;
      background : #fff;
      clip-path : polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%, 0% 86%);
      border-radius : 3px;

      li {
        font-family : var(--roboto-400);
        font-size : 14px;
        line-height : 21px;
        color : #5b748c;
      }
    }
  }
}

app-bottom-sheet.jw-modal #sourses-group-used {
  z-index : 1501;
  .jw-modal {
    z-index : 1501;
  }
}

/* TODO: need to discuss with design team is not completed */

.button__dropdown--custom {
  // width : 250px;
  border : 1px solid #c4d9ec;
  padding : 11px 24px;
  border-radius : 2px;

  .selected-value {
    flex : 1 0 auto;
    text-align : left;
  }
}