<div class="page-user-component">
  <h2 class="title">Users</h2>
  <div class="page-data-content">
    <my-tabs>
      <my-tab [tabTitle]="'Manage Users'">
        <div class="flex-row align-items-center justify-between filter-area">
          <div class="flex-row flex-direction:column">
            <span class="label margin-bottom:10">Choose Client:</span>
            <select>
              <option selected disabled> Demo </option>
              <option>Client 1</option>
              <option>Client 2</option>
              <option>Client 3</option>
              <option>Client 4</option>
            </select>
          </div>
          <div class="flex-row">
            <div class="asset-view-search input-search margin-left:30">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>

            <button
              class="margin-left:30 skewed-button button-fill-transparent"
              type="button"
            >
              <i class="skewed-button__icon uil uil-user-square"></i>
              <span class="skewed-button__label">View Role</span>
            </button>

            <button
              class="margin-left:30 skewed-button button-fill-blue"
              type="button"
              (click)="openModal('filters')"
            >
              <i class="skewed-button__icon material-icons"> add </i
              ><span class="skewed-button__label">Add User</span>
            </button>
          </div>
        </div>

        <!-- page data title -->
        <div class="page-data-content">
          <div class="pagination-title"><span>100</span> Users Listed</div>
          <ul
            class="margin-top:40 padding-left:20 padding-right:20 d-grid grid-list-items grid-template-title"
          >
            <li></li>
            <li class="cursor:pointer">
              <ul class="flex-row justify-between align-items-center width:100">
                <li>
                  Name
                </li>
                <li>
                  Email ID
                </li>
                <li>
                  User Type
                </li>
                <li>
                  User Role
                </li>
                <li>
                  Action
                </li>
              </ul>
            </li>
          </ul>

          <div class="page-data-content">
            <!-- load the data form card component -->
            <app-card bg_color="white" card_type="card-sim-1170">
              <ul
                class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
              >
                <li>
                  <div class="card-selector">
                    <div class="form-checkbox-group">
                      <input
                        class="form-checkbox-input"
                        id="input1"
                        type="checkbox"
                        value="input1"
                      />
                      <label class="form-checkbox-label" for="input1"></label>
                    </div>
                  </div>
                </li>
                <li class="cursor:pointer">
                  <ul
                    class="flex-row justify-between align-items-center width:100"
                  >
                    <li>
                      <div class="avatar-small no-image">
                        <a href="#" class="link-text">
                          <span>Rillusion</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      ram@gmail.com
                    </li>
                    <li>
                      local
                    </li>
                    <li>
                      CISO, Application Owner +2 more
                    </li>

                    <li>
                      <span class="">
                        <i class="uil uil-user-square"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-trash-alt"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-edit-alt"></i>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </app-card>
            <app-card bg_color="white" card_type="card-sim-1170">
              <ul
                class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
              >
                <li>
                  <div class="card-selector">
                    <div class="form-checkbox-group">
                      <input
                        class="form-checkbox-input"
                        id="input2"
                        type="checkbox"
                        value="input2"
                      />
                      <label class="form-checkbox-label" for="input2"></label>
                    </div>
                  </div>
                </li>
                <li class="cursor:pointer">
                  <ul
                    class="flex-row justify-between align-items-center width:100"
                  >
                    <li>
                      <div class="avatar-small no-image">
                        <a href="#" class="link-text">
                          <span>Rillusion</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      DJ@gmail.com
                    </li>
                    <li>
                      Active Directory
                    </li>
                    <li>
                      Technology Owner
                    </li>
                    <li>
                      <span class="">
                        <i class="uil uil-user-square"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-trash-alt"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-edit-alt"></i>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </app-card>

            <app-card bg_color="white" card_type="card-sim-1170">
              <ul
                class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
              >
                <li>
                  <div class="card-selector">
                    <div class="form-checkbox-group">
                      <input
                        class="form-checkbox-input"
                        id="input3"
                        type="checkbox"
                        value="input3"
                      />
                      <label class="form-checkbox-label" for="input3"></label>
                    </div>
                  </div>
                </li>
                <li class="cursor:pointer">
                  <ul
                    class="flex-row justify-between align-items-center width:100"
                  >
                    <li>
                      <div class="avatar-small no-image">
                        <a href="#" class="link-text">
                          <span>Hussain</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      hussain@gmail.com
                    </li>
                    <li>
                      Local
                    </li>
                    <li>
                      Administrator
                    </li>
                    <li>
                      <span class="">
                        <i class="uil uil-user-square"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-trash-alt"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-edit-alt"></i>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </app-card>
            <app-card bg_color="white" card_type="card-sim-1170">
              <ul
                class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
              >
                <li>
                  <div class="card-selector">
                    <div class="form-checkbox-group">
                      <input
                        class="form-checkbox-input"
                        id="input4"
                        type="checkbox"
                        value="input4"
                      />
                      <label class="form-checkbox-label" for="input4"></label>
                    </div>
                  </div>
                </li>
                <li class="cursor:pointer">
                  <ul
                    class="flex-row justify-between align-items-center width:100"
                  >
                    <li>
                      <div class="avatar-small no-image">
                        <a href="#" class="link-text">
                          <span>Rillusion</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      Firesec
                    </li>
                    <li>
                      29/11/2019
                    </li>
                    <li>
                      29/11/2019
                    </li>
                    <li>
                      <span class="">
                        <i class="uil uil-user-square"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-trash-alt"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-edit-alt"></i>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </app-card>
            <app-card bg_color="white" card_type="card-sim-1170">
              <ul
                class="padding-left:20 padding-right:20 d-grid grid-list-items grid-template"
              >
                <li>
                  <div class="card-selector">
                    <div class="form-checkbox-group">
                      <input
                        class="form-checkbox-input"
                        id="input5"
                        type="checkbox"
                        value="input5"
                      />
                      <label class="form-checkbox-label" for="input5"></label>
                    </div>
                  </div>
                </li>
                <li class="cursor:pointer">
                  <ul
                    class="flex-row justify-between align-items-center width:100"
                  >
                    <li>
                      <div class="avatar-small no-image">
                        <a href="#" class="link-text">
                          <span>Rillusion</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      Firesec
                    </li>
                    <li>
                      29/11/2019
                    </li>
                    <li>
                      29/11/2019
                    </li>
                    <li>
                      <span class="">
                        <i class="uil uil-user-square"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-trash-alt"></i>
                      </span>
                      <span class="">
                        <i class="uil uil-edit-alt"></i>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </app-card>
          </div>
        </div>
      </my-tab>
      <my-tab tabTitle="Manage Group">
        <div
          class="flex-row align-items-center justify-between filter-area margin-bottom:30"
        >
          <div class="pagination-title margin-bottom:0 margin-top:0">
            <span>9</span> User Group Listed
          </div>
          <div class="flex-row">
            <div class="asset-view-search input-search margin-left:30">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
            <button
              class="margin-left:30 skewed-button button-fill-blue"
              type="button"
              (click)="openModal('filters')"
            >
              <i class="skewed-button__icon material-icons"> add </i
              ><span class="skewed-button__label">Add User</span>
            </button>
          </div>
        </div>
        <!-- page data title -->

        <div class="page-data-content manage-group d-grid table-column:3">
          <!-- load the data form card component -->
          <!-- TODO: Note please use the index
            *ngFor="let x of statusdata1; index as idx"
          (mouseover)="show(idx)" (mouseout)="hide(idx)"
          *ngIf="showit && idx === currentIdx"
          -->
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="mginput1"
                    type="checkbox"
                    value="mginput1"
                  />
                  <label class="form-checkbox-label" for="mginput1"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
              <div class="usergroup-user-icon-list">
                <span class="usergroup-title"
                  >CISO, Administrator, Client Admin</span
                >
                <span class="flex-row align-items-center"
                  ><ul class="avatargroup--stack">
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581fade29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581g4f29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a182581g8f29026704d"
                      />
                    </li>
                  </ul>
                  <span class="text"> +12 more members </span></span
                >
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="mginput2"
                    type="checkbox"
                    value="mginput2"
                  />
                  <label class="form-checkbox-label" for="mginput2"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
              <div class="usergroup-user-icon-list">
                <span class="usergroup-title"
                  >CISO, Administrator, Client Admin</span
                >
                <span class="flex-row align-items-center"
                  ><ul class="avatargroup--stack">
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581fade29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581g4f29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a182581g8f29026704d"
                      />
                    </li>
                  </ul>
                  <span class="text"> +12 more members </span></span
                >
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="mginput3"
                    type="checkbox"
                    value="mginput3"
                  />
                  <label class="form-checkbox-label" for="mginput3"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
              <div class="usergroup-user-icon-list">
                <span class="usergroup-title"
                  >CISO, Administrator, Client Admin</span
                >
                <span class="flex-row align-items-center"
                  ><ul class="avatargroup--stack">
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581fade29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581g4f29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a182581g8f29026704d"
                      />
                    </li>
                  </ul>
                  <span class="text"> +12 more members </span></span
                >
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="mginput4"
                    type="checkbox"
                    value="mginput4"
                  />
                  <label class="form-checkbox-label" for="mginput4"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
              <div class="usergroup-user-icon-list">
                <span class="usergroup-title"
                  >CISO, Administrator, Client Admin</span
                >
                <span class="flex-row align-items-center"
                  ><ul class="avatargroup--stack">
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581fade29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581g4f29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a182581g8f29026704d"
                      />
                    </li>
                  </ul>
                  <span class="text"> +12 more members </span></span
                >
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="mginput5"
                    type="checkbox"
                    value="mginput5"
                  />
                  <label class="form-checkbox-label" for="mginput5"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
              <div class="usergroup-user-icon-list">
                <span class="usergroup-title"
                  >CISO, Administrator, Client Admin</span
                >
                <span class="flex-row align-items-center"
                  ><ul class="avatargroup--stack">
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581fade29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a042581g4f29026704d"
                      />
                    </li>
                    <li>
                      <img
                        alt="reviewer name"
                        src="https://i.pravatar.cc/150?u=a182581g8f29026704d"
                      />
                    </li>
                  </ul>
                  <span class="text"> +12 more members </span></span
                >
              </div>
            </div>
          </app-card>
        </div>
      </my-tab>
      <my-tab tabTitle="Manage User Roles">
        <div
          class="flex-row align-items-center justify-end filter-area margin-bottom:30"
        >
          <button
            class="margin-left:30 skewed-button button-fill-blue"
            type="button"
            (click)="openModal('filters')"
          >
            <i class="skewed-button__icon material-icons"> add </i
            ><span class="skewed-button__label">Add User</span>
          </button>
        </div>
        <!-- page data title -->

        <div class="page-data-content manage-group d-grid table-column:2">
          <!-- load the data form card component -->
          <!-- TODO: Note please use the index
                    *ngFor="let x of statusdata1; index as idx"
                  (mouseover)="show(idx)" (mouseout)="hide(idx)"
                  *ngIf="showit && idx === currentIdx"
                  -->
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="murinput1"
                    type="checkbox"
                    value="murinput1"
                  />
                  <label class="form-checkbox-label" for="murinput1"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="murinput2"
                    type="checkbox"
                    value="murinput2"
                  />
                  <label class="form-checkbox-label" for="murinput2"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="murinput3"
                    type="checkbox"
                    value="murinput3"
                  />
                  <label class="form-checkbox-label" for="murinput3"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="input1"
                    type="checkbox"
                    value=""
                  />
                  <label class="form-checkbox-label" for="input1"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </app-card>
          <app-card bg_color="white" card_type="small">
            <div class="usergroup-card">
              <div class="usergroup-user-title">
                <div class="usergroup-user-checkbox form-checkbox-group">
                  <input
                    class="form-checkbox-input"
                    id="murinput4"
                    type="checkbox"
                    value="murinput4"
                  />
                  <label class="form-checkbox-label" for="murinput4"></label>
                </div>
                <div class="usergroup-user-title--name">
                  CISO Group
                </div>
                <div class="usergroup-user-action">
                  <span class="">
                    <i class="uil uil-trash-alt"></i>
                  </span>
                  <span class="">
                    <i class="uil uil-edit-alt"></i>
                  </span>
                </div>
              </div>
              <div class="usergroup-user-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </app-card>
        </div>
      </my-tab>
    </my-tabs>
  </div>
</div>

<app-bottom-sheet id="filters" modalType="small">
  <div class="modal-header">
    <div class="modal-header-name font:16:mono  text-color:500 ">
      Filters
    </div>
    <div class="modal-header-actions">
      <button (click)="closeModal('filters')">
        <i class="uil uil-times"></i>
      </button>
    </div>
  </div>
  <div class="modal-area">
    <form class="editForm">
      <div class="form-group">
        <label class="form-label" for="networktag">Select an Action:</label>
        <select class="form-control">
          <option value="active" selected>
            Active
          </option>
          <option value="network tag 3">network tag 3</option>
          <option value="network tag 4">network tag 4</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label" for="assetname">justification:</label>
        <textarea type="text" placeholder="Asset Name" class="form-control">
        </textarea>
      </div>
      <div class="form-group space-center-20 justify-end">
        <button
          type="button"
          class="skewed-button button-link"
          (click)="closeModal('filters')"
        >
          <span class="skewed-button__label button-link"> Cancel </span>
        </button>
        <button class="skewed-button button-fill-blue">
          <span class="skewed-button__label"> Save </span>
        </button>
      </div>
    </form>
  </div>
</app-bottom-sheet>
<!-- add user big modal-->
<app-bottom-sheet id="filters_big" modalType="small">
  <div class="modal-header">
    <div class="modal-header-name font:16:mono  text-color:500 ">
      Filters
    </div>
    <div class="modal-header-actions">
      <button (click)="closeModal('filters')">
        <i class="uil uil-times"></i>
      </button>
    </div>
  </div>
  <div class="modal-area">
    <form class="editForm">
      <div class="form-group">
        <label class="form-label" for="networktag">Choose Directory:</label>
        <select class="form-control">
          <option value="active" selected>
            Local Directory
          </option>
          <option value="network tag 3">network tag 3</option>
          <option value="network tag 4">network tag 4</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label" for="assetname">First Name:</label>
        <input type="text" placeholder="Ram" class="form-control" />
      </div>
      <div class="form-group space-center-20 justify-end">
        <button
          type="button"
          class="skewed-button button-link"
          (click)="closeModal('filters')"
        >
          <span class="skewed-button__label button-link"> Cancel </span>
        </button>
        <button class="skewed-button button-fill-blue">
          <span class="skewed-button__label"> Save </span>
        </button>
      </div>
    </form>
  </div>
</app-bottom-sheet>
