app-users {
  flex : 1;

  .title {
    color : var(--text-paragraph-800);
    font-family : var(--roboto-mono);
    font-size : 32px;
    line-height : 37px;
    margin-bottom : 30px;
  }

  .card-selector {
    display : flex;
    height : 100%;
    justify-content : center;
    align-items : center;

    .form-checkbox-group {
      margin-bottom : 0;
      .form-checkbox-label {
        margin-bottom : 0;
        &:before {
          margin-right : 0;
        }
      }
    }
  }

  .grid-list-items {
    grid-template-columns : 40px 1fr;
    li {
      &:first-child {
        display : flex;
        justify-content : center;
        align-items : center;
      }
      &:last-child {
        li {
          white-space : nowrap;
          text-overflow : ellipsis;
          overflow : hidden;
          &:nth-child(1) {
            justify-content : initial;
            flex : 0 0 120px;
          }
          &:nth-child(2) {
            flex : 0 0 140px;
            overflow : hidden;
          }
          &:nth-child(3) {
            flex : 0 0 140px;
          }
          &:nth-child(4) {
            flex : 1 0 auto;
          }
          &:last-child {
            display : flex;
            flex : 0 0 105px;
            span {
              margin-right : 16px;
              &:last-child {
                margin-right : 0;
              }
            }
          }
        }
      }
    }
  }

  .pagination-title {
    margin-top : 30px;
    margin-bottom : 30px;
    font-size : var(--roboto-mono);
    font-size : 18px;
    line-height : 21px;
    color : var(--text-color-500);
    span {
      color : var(--text-color-500);
    }
  }
}

.manage-group {
  .card-sim .bg {
    padding : 16px;
  }
  .usergroup {
    &-card {
      &:hover {
        .usergroup-user-action ,
        .usergroup-user-checkbox {
          width : auto;
          visibility : visible;
        }
      }
    }
    &-user-title {
      display : flex;
      justify-content : space-between;
      align-items : center;
      height : 24px;
    }
    &-user-title--name {
      flex : 1 0 auto;
      font-family : var(--roboto-500);
      font-size : 16px;
      line-height : 19px;
      color : var(--text-paragraph-800);
    }
    &-user-checkbox {
      width : 0;
      visibility : hidden;
      margin : 0;
      .form-checkbox-label {
        margin : 0;
      }
    }
    &-user-action {
      width : 0;
      visibility : hidden;
      span {
        display : inline-block;
        &:first-child {
          margin-left : 20px;
          margin-right : 20px;
        }
      }
    }
    &-user-description {
      margin-top : 16px;
      margin-bottom : 10px;
      font-family : var(--roboto-400);
      font-size : 14px;
      line-height : 21px;
    }
    &-title {
      display : block;
      margin-bottom : 10px;
      font-size : 14px;
      line-height : 21px;
      color : #5b748c;
      font-family : var(--roboto-500);
    }
  }
  .avatargroup--stack {
    li {
      &:last-child {
        margin-left : 0px;
      }
      margin-left : 7px;
    }
    img {
      width : 24px;
      height : 24px;
    }
    + .text {
      margin-left : 10px;
      display : inline-block;
      font-family : var(--font-400);
      font-size : 14px;
      color : #1393ff;
    }
  }
}
