app-bottom-sheet {
  display : none;
  .jw-modal {
    position : fixed;
    z-index : 1500;
    bottom : 0;
    right : 40px;
    min-width : 524px;
    &-header {
      display : flex;
      justify-content : space-between;
      align-items : center;
      padding : 14px 20px;
      background : linear-gradient(90deg, #0e1d47 49.52%, #026cc5 117.29%);

      .modal-header-actions {
        i {
          &:before {
            font-size : 24px;
            color : var(--white);
          }
        }
      }
    }

    &-body {
      background : var(--white);
    }

    &-background {
      position : fixed;
      top : 0;
      right : 0;
      bottom : 0;
      left : 0;
      background-color : rgba(#000, 0.75);
      z-index : 900;
    }

    &.modal__small {
      .jw-modal-body {
        overflow-y : scroll;
        height : 420px;
      }
    }

    &.modal__full {
      height : 100vh;
      .jw-modal-body {
        position : relative;
        height : 100vh;
        overflow-y : scroll;
        padding-bottom : 30px;
      }
    }
  }
}

body.jw-modal-open {
  overflow : hidden;
}

.legends-information {
  p {
    margin-bottom : 17px;
    font-family : var(--roboto-400);
    font-size : 18px;
    line-height : 21px;
    color : #02478a;
  }
  dl {
    dt {
      &:not(:first-child) {
        margin-left : 40px;
      }
      &:after {
        content : none;
      }
    }
  }
  + .performance-hint {
    .uil {
      color : #8094a5;
    }
    background : rgba(#ccdeec, 0.6);
    width : 215px;
    border-radius : 3px;
    display : flex;
    span {
      line-height : 18px;
    }
  }
  .btn-action {
    border-radius : 3px;

    &.yes {
      background : #fff;
      border : 1px solid rgba(1, 88, 162, 0.2);
    }
    &.no {
      background : #ecf3ff;
      border : 1px solid rgba(1, 88, 162, 0.2);
    }
  }
  .progress-bar {
    width : 30px;
    height : 10px;
    border-radius : 10px;
    display : inline-block;
    background : #e65757;
  }
}