<div class="jw-modal modal__{{ modalType }}">
  <div class="jw-modal-header">
    <div class="modal-header-name font:16:mono  text-color:500 ">
      {{ modalTitle }}
    </div>
    <div class="modal-header-actions">
      <button (click)="[closeModal(id)]">
        <i class="uil uil-times"></i>
      </button>
    </div>
  </div>
  <div class="jw-modal-body">
    <ng-content></ng-content>
  </div>
</div>
<div class="jw-modal-background"></div>
