<div class="d-container">
  <!-- row 1 -->
  <div class="about-page padding-top:40 flex-row align-items-center">
    <!-- page title -->
    <h2 class="font:32:mono text-color:800">{{ pageTitle }} -</h2>
    <div class="button__dropdown margin-left:20 z-index:3">
      <div type="button" class="button__dropdown--item border:0 font:32:mono text-color:800" id="selectedCompany"
        (click)="[selectcompanyToggle($event)]">
        {{ selectedCompany }}
      </div>
      <div class="min-width:200 button__dropdown--expand expand-bottom" *ngIf="selectcompanyContent">
        <div class="list-items">
          <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
            <li class="list-item" *ngFor="let company of companies" [class.selected]="company !== selectedCompany"
              (click)="[selectcompanyToggle($event), onSelects(company)]">
              {{ company }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="button__dropdown margin-left:20 z-index:3">
      <div type="button" class="button__dropdown--item border:0 font:32:mono text-color:800" id="selectedCompanyArea"
        (click)="[showCompany_areaToggle($event)]">
        {{ selectedCompany_area }}
      </div>
      <div class="min-width:200 button__dropdown--expand expand-bottom" *ngIf="selectedCompany_areaContent">
        <div class="list-items">
          <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
            <li class="list-item" *ngFor="let company_area of company_areas"
              [class.selected]="company_area !== selectedCompany_area" (click)="
                [showCompany_areaToggle($event), onCompany_area(company_area)]
              ">
              {{ company_area }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="margin-top:30 flex-row justify-between align-items-center">
    <div class="font:18:mono text-subtext:100 text-subtext:100">
      <span>Total Assets: {{ totalRow_show }}</span>
    </div>
    <div class="flex-row align-items-center">
      <!-- Add Asset -->
      <div class="margin-right:30">
        <div id="addAsset">
          <button routerLink="/assets/add" class="skewed-button button-fill-blue" type="button">
            <i class="skewed-button__icon uil uil-plus"></i>
            <span class="skewed-button__label">Add Asset</span>
          </button>
        </div>
      </div>
      <!-- Search -->
      <div class="margin-right:30 input-search">
        <div class="input-group">
          <label [hidden] for="searchText"></label>
          <i class="uil uil-white uil-search"></i>
          <input [(ngModel)]="searchText" type="text" name="searchText" id="searchText" placeholder="Search">
        </div>
      </div>
      <!-- Sort By -->
      <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
        <div type="button" class="button__dropdown--item border:0 text-color:500" id="sortAssetContentShow"
          (click)="[sortAssetContentToggle($event)]">
          <span class="selected-label">Sort by:</span>
          {{ sortAsset }}
        </div>
        <div class="button__dropdown--expand expand-bottom" *ngIf="sortAssetContent">
          <div class="list-items">
            <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
              <li class="list-item" *ngFor="let sortAssetList of sortAssetLists"
                (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                {{ sortAssetList }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-container margin-top:50 margin-bottom:40">
    <!-- data -->
    <div *ngIf="dataLoaded; else skeleton">
<div class="card--group table-column:4" [@fadeIn]>
      <!-- no search data -->
      <!-- <div class="search-data-nope" *ngIf="repodata  === 0">
        No matches for : {{searchText}}
      </div> -->
      <!-- no search data -->

      <div class="card-full-sim card--asset card"
      *ngFor="
          let repo;
          of: repodata
          |filter: sortAsset
            | filter: searchText
            | paginate
              : {
                  itemsPerPage: totalRow_show,
                  currentPage: p,
                  totalItems: totalItems
                }
                ;let items = index
        ">


        <div class="card-sim card__container"
        (onmouseenter)="fireEnter($event, repo.assetId)"
        (onmouseleave)="fireLeave($event, repo.assetId)"
        >
          <div
                        class="read_more card__action"
                       >
                        <i
                            id="header__read_more"
                            (click)="[toggle__read_more($event, repo.assetId)]"
                            class="z-index:1 findMe cursor:pointer uil uil-ellipsis-v"></i>
                    </div>
                   <div
                        class="card-nano-sim header__read_more-list"
                        *ngIf="readmoreContent[repo.assetId]" style="overflow: visible">
                        <div class="card-readmore  card-sim padding-top:15 padding-right:10 padding-bottom:10 padding-left:10">
                                <ul>
                                    <li>
                                        <a class="d-block border-bottom:1 margin-bottom:10 padding-bottom:10 " [routerLink]="['/assets/edit/', repo.assetId]">
                                          <i class="uil uil-edit margin-right:15"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-block " [routerLink]="['/assets/delete/', repo.assetId]">
                                          <i class="uil uil-trash margin-right:15"></i>
                                          Delete</a>
                                    </li>
                                </ul>

                        </div>
                    </div>

          <div routerLink="/assets/view" class="card-wrapper">
            <div class="card-icon">
              <!-- TODO : Need to use switch case -->
              <svg class="icon icon--cloud" width="64" height="64" viewBox="0 0 64 64" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.2"
                  d="M30 1.1547C31.2376 0.440169 32.7624 0.440169 34 1.1547L57.7128 14.8453C58.9504 15.5598 59.7128 16.8803 59.7128 18.3094V45.6906C59.7128 47.1197 58.9504 48.4402 57.7128 49.1547L34 62.8453C32.7624 63.5598 31.2376 63.5598 30 62.8453L6.28719 49.1547C5.04958 48.4402 4.28719 47.1197 4.28719 45.6906V18.3094C4.28719 16.8803 5.04958 15.5598 6.28719 14.8453L30 1.1547Z"
                  fill="#1393FF"></path>
                <path
                  d="M44.0001 40.6666H35.7601C35.561 40.1074 35.2399 39.5996 34.8202 39.1798C34.4005 38.7601 33.8926 38.4391 33.3334 38.24V34H37.5601C38.9719 34.0464 40.3517 33.5735 41.4384 32.671C42.525 31.7685 43.2431 30.4989 43.4566 29.1026C43.6702 27.7062 43.3644 26.2801 42.5972 25.094C41.83 23.908 40.6546 23.0443 39.2934 22.6666C38.5804 21.0867 37.3735 19.7812 35.8544 18.9464C34.3353 18.1116 32.5862 17.7928 30.8703 18.0379C29.1543 18.2831 27.5644 19.0789 26.3399 20.3056C25.1153 21.5323 24.3222 23.1236 24.0801 24.84C22.995 25.1442 22.0567 25.8309 21.4384 26.7731C20.8202 27.7153 20.5638 28.8494 20.7165 29.9659C20.8693 31.0825 21.4209 32.106 22.2696 32.8475C23.1182 33.589 24.2065 33.9983 25.3334 34H30.6667V38.24C30.1076 38.4391 29.5997 38.7601 29.1799 39.1798C28.7602 39.5996 28.4392 40.1074 28.2401 40.6666H20.0001C19.6465 40.6666 19.3073 40.8071 19.0573 41.0572C18.8072 41.3072 18.6667 41.6463 18.6667 42C18.6667 42.3536 18.8072 42.6927 19.0573 42.9428C19.3073 43.1928 19.6465 43.3333 20.0001 43.3333H28.2401C28.5204 44.1055 29.0316 44.7727 29.7043 45.2442C30.377 45.7157 31.1786 45.9686 32.0001 45.9686C32.8216 45.9686 33.6231 45.7157 34.2959 45.2442C34.9686 44.7727 35.4798 44.1055 35.7601 43.3333H44.0001C44.3537 43.3333 44.6928 43.1928 44.9429 42.9428C45.1929 42.6927 45.3334 42.3536 45.3334 42C45.3334 41.6463 45.1929 41.3072 44.9429 41.0572C44.6928 40.8071 44.3537 40.6666 44.0001 40.6666ZM25.3334 31.3333C24.803 31.3333 24.2943 31.1226 23.9192 30.7475C23.5441 30.3724 23.3334 29.8637 23.3334 29.3333C23.3334 28.8029 23.5441 28.2942 23.9192 27.9191C24.2943 27.544 24.803 27.3333 25.3334 27.3333C25.687 27.3333 26.0262 27.1928 26.2762 26.9428C26.5263 26.6927 26.6667 26.3536 26.6667 26C26.6633 24.734 27.1102 23.5081 27.9277 22.5414C28.7451 21.5748 29.8798 20.9304 31.1287 20.7236C32.3777 20.5168 33.6595 20.761 34.7449 21.4125C35.8304 22.0641 36.6486 23.0805 37.0534 24.28C37.1296 24.5091 37.2666 24.7132 37.4498 24.8705C37.633 25.0279 37.8554 25.1325 38.0934 25.1733C38.8151 25.2937 39.4704 25.667 39.9419 26.2265C40.4134 26.7859 40.6704 27.495 40.6667 28.2266C40.6632 29.0495 40.3348 29.8376 39.753 30.4195C39.1711 31.0014 38.3829 31.3298 37.5601 31.3333H25.3334ZM32.0001 43.3333C31.7364 43.3333 31.4786 43.2551 31.2593 43.1086C31.0401 42.9621 30.8692 42.7538 30.7682 42.5102C30.6673 42.2666 30.6409 41.9985 30.6924 41.7398C30.7438 41.4812 30.8708 41.2436 31.0573 41.0572C31.2437 40.8707 31.4813 40.7437 31.74 40.6923C31.9986 40.6408 32.2667 40.6672 32.5103 40.7681C32.754 40.869 32.9622 41.0399 33.1087 41.2592C33.2552 41.4785 33.3334 41.7363 33.3334 42C33.3334 42.3536 33.1929 42.6927 32.9429 42.9428C32.6928 43.1928 32.3537 43.3333 32.0001 43.3333Z"
                  fill="#1393FF"></path>
              </svg>
            </div>
            <div class="card-data margin-top:30">
              <table>
                <tbody>
                  <tr>
                    <td>Asset Name:</td>
                    <td>{{ repo.assetName }}</td>
                  </tr>
                  <tr>
                    <td>Asset Type:</td>
                    <td>{{ repo.assetType }}</td>
                  </tr>
                  <tr>
                    <td>Created on:</td>
                    <td>{{ repo.createdOn | date : 'd MMM yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>Owner:</td>
                    <td>{{ repo.owner }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <span class="card-status-bar"></span>
          </div>
        </div>

      </div>

    </div>
  </div>
    <!-- data -->

    <!-- TODO: pagination need to update onChange search input -->
    <div [hidden]="noResults">
      <pagination-template #pApi="paginationApi" (pageChange)="p = $event">
        <div class="margin-top:40 d-flex justify-center align-items-center pagination-wrapper">
          <div class="d-flex justify-center align-items-center pagination-area">
            <div class="pagination-first" *ngIf="!pApi.isFirstPage()" [class.disabled]="pApi.isFirstPage()">
              <span class="pagination-icon" (click)="pApi.setCurrent(1)">
                <svg class="icon icon--forward" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 14L5.477 8L14 2L14 14Z" fill="#D9DADF"></path>
                  <path d="M2 13L2 2.636" stroke="#D9DADF" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>

            <div class="pagination-previous" *ngIf="!pApi.isFirstPage()" [class.disabled]="pApi.isFirstPage()">
              <span class="pagination-icon" (click)="pApi.previous()">
                <svg class="icon icon--next" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.29279 8.12121C5.10532 7.93369 5 7.67938 5 7.41421C5 7.14905 5.10532 6.89474 5.29279 6.70721L8.87879 3.12121C9.01864 2.9814 9.1968 2.8862 9.39075 2.84763C9.58471 2.80906 9.78574 2.82887 9.96844 2.90454C10.1511 2.98021 10.3073 3.10835 10.4172 3.27275C10.5271 3.43716 10.5857 3.63046 10.5858 3.82821V11.0002C10.5857 11.198 10.5271 11.3913 10.4172 11.5557C10.3073 11.7201 10.1511 11.8482 9.96844 11.9239C9.78574 11.9996 9.58471 12.0194 9.39075 11.9808C9.1968 11.9422 9.01864 11.847 8.87879 11.7072L5.29279 8.12121Z"
                    fill="#A1A3AE"></path>
                </svg>
              </span>
            </div>

            <div class="pagination-number" *ngFor="let page of pApi.pages"
              [class.current]="pApi.getCurrent() === page.value">
              <span class (click)="pApi.setCurrent(page.value)" *ngIf="pApi.getCurrent() !== page.value">
                {{ page.label }}
              </span>
              <span class="current" *ngIf="pApi.getCurrent() === page.value">
                {{
                page.label
              }}
              </span>
            </div>

            <div class="pagination-next" *ngIf="!pApi.isLastPage()" [class.disabled]="pApi.isLastPage()">
              <span class="pagination-icon" (click)="pApi.next()">
                <svg class="icon icon--next" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.29279 8.12121C5.10532 7.93369 5 7.67938 5 7.41421C5 7.14905 5.10532 6.89474 5.29279 6.70721L8.87879 3.12121C9.01864 2.9814 9.1968 2.8862 9.39075 2.84763C9.58471 2.80906 9.78574 2.82887 9.96844 2.90454C10.1511 2.98021 10.3073 3.10835 10.4172 3.27275C10.5271 3.43716 10.5857 3.63046 10.5858 3.82821V11.0002C10.5857 11.198 10.5271 11.3913 10.4172 11.5557C10.3073 11.7201 10.1511 11.8482 9.96844 11.9239C9.78574 11.9996 9.58471 12.0194 9.39075 11.9808C9.1968 11.9422 9.01864 11.847 8.87879 11.7072L5.29279 8.12121Z"
                    fill="#A1A3AE"></path>
                </svg>
              </span>
            </div>

            <div class="pagination-last" *ngIf="!pApi.isLastPage()" [class.disabled]="pApi.isLastPage()">
              <span class="pagination-icon" (click)="pApi.setCurrent(pApi.getLastPage())">
                <svg class="icon icon--forward" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 14L5.477 8L14 2L14 14Z" fill="#D9DADF"></path>
                  <path d="M2 13L2 2.636" stroke="#D9DADF" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
          </div>

          <div class="pagination-itemsPerPage z-index:3 button__dropdown margin-left:20">
            <div type="button" class="button__dropdown--item border:1 text-color:500" id="totalRow_show"
              (click)="[totalRowToggle($event)]">
              {{ totalRow_show }} Rows
            </div>
            <div class="button__dropdown--expand expand-top" *ngIf="totalRowContent">
              <div class="list-items">
                <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                  <ng-container  *ngFor="let totalRow of totalRows">
                    <li class="list-item" *ngIf="totalRow < totalItems"
                    (click)="[totalRowToggle($event), ontotalRow(totalRow)]">
                      {{ totalRow }}
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>

          <div class="margin-left:20 pagination-range">
              {{( p * totalRow_show - totalRow_show +1) }}
            -
            <span *ngIf= "totalItems > (p * totalRow_show); else great" >
              {{ p * totalRow_show }}
            </span>
              <ng-template #great>
                {{ totalItems }}
              </ng-template>
            of
            {{ totalItems }}
          </div>
        </div>
      </pagination-template>
    </div>

    <!-- skeleton -->
    <ng-template #skeleton>
      <div class="card--group tabled:grid-col-4">
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
        <div class="card-full-sim card--asset card">
          <div class="card__container"></div>
        </div>
      </div>
    </ng-template>
    <!-- skeleton -->

  </div>

  </div>
