.page--login {
  height : 100vh;
  overflow-y : hidden;
  display : flex;
  justify-content : space-between;

  .post {
    &-area {
      position : relative;
    }
    &-image {
      z-index : -1;

      &::before {
        z-index : 1;
        content : '';
        display : block;
        width : 100%;
        height : 100vh;
        position : absolute;
        top : 0;
        left : 0;
        background : linear-gradient(
        180deg,
        rgba(13, 15, 56, 0) 0%,
        rgba(13, 15, 56, 0.5) 36.71%,
        #0d0f38 100%
        );
      }
    }

    &-article {
      width : calc(100% - 70px - 70px);
      height : 100vh;
      z-index : 2;
      position : absolute;
      bottom : 70px;
      left : 70px;
      padding : 70px;

      &--title {
        font-size : 40px;
        font-family : var(--roboto-500);
        line-height : 47px;
        color : #fff;
        margin-bottom : 24px;
      }

      &--content {
        font-family : var(--roboto-400);
        font-size : 20px;
        line-height : 23px;
        color : #c6e4fe;
        opacity : 0.7;
      }
    }
  }

  .login-action {
    width : 100%;
    border-left : 1px solid #0158a1;
    background : #0d0f38;
  }
}