<section class="page--login">
  <div class="login-intro">
    <div class="post-area">
      <div class="post-image">
        <img src="./assets/login-banner.png" alt="login banner" />
      </div>
      <div class="post-article">
        <div class="post-article--title">
          Now you can Customize your Reports Easily
        </div>
        <div class="post-article--content">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </div>
      </div>
    </div>
  </div>
  <div class="login-action">
    <div class="logo">
      <img src="./assets/logo/firesec-logo-mini.png" alt="logo" />
    </div>
    <div class="form-action-title"></div>
    <div class="form-actions">
      <form action="">
        <!-- emailid -->
        <div class="form-group">
          <input
            type="email"
            class="form-group-control"
            name="email"
            id="email"
            placeholder=""
            autocomplete="off"
            required
          />
          <label class="form-group-label" for="email"
            >Email ID/Domain Name</label
          >
        </div>
        <!-- password -->
        <div class="form-group">
          <input
            type="password"
            class="form-group-control"
            name="password"
            id="password"
            placeholder=""
            autocomplete="off"
            required
          />
          <label class="form-group-label" for="password">Password</label>
        </div>
        <!-- checkbox -->
        <!-- button -->
        <button
          class="margin-left:30 skewed-button button-fill-blue"
          type="button"
        >
          <i class="skewed-button__icon uil uil-unlock"> </i>
          <span class="skewed-button__label">Sign In</span>
        </button>
      </form>
    </div>
    <div class="poweredby">
      <p>
        2019 Copyright Network Intelligence Consultant
      </p>
      <p>
        <span>Powered by</span>
        <img src="./assets/logo/logo.png" alt="logo" />
      </p>
    </div>
  </div>
</section>
