.mat-datepicker-content .mat-calendar {
  background : var(--white);
  border : 1px solid var(--white);
  border-radius : 2px;
}

.mat-calendar-body-active {
  .mat-calendar-body-cell-content {
    border : 1px solidvar(--tab-active);
    background : var(--tab-active);
    color : var(--white);
    // position : relative;

    &.mat-calendar-body-today:after {
      content : '';
      display : inline-block;
      width : 4px;
      height : 4px;
      margin : 0 auto;
      background-color : var(--tab-active);
      position : absolute;
      bottom : 0;
      left : 0;
      right : 0;
    }
  }
}

.calender {
  label {
    margin-right : 16px;
    font-family : var(--roboto-400);
    font-size : 16px;
    line-height : 19px;
    color : var(--text-paragraph-600);;

    + input {
      width : 90px;
      font-family : var(--roboto-400);
      font-size : 16px;
      line-height : 19px;
      color : var(--text-header-200);
      border-bottom : 1px solid rgba(1, 88, 162, 0.2);
      + .mat-datepicker-toggle {
        border-bottom : 1px solid rgba(1, 88, 162, 0.2);
        bottom : -1px;
        position : relative;
        .mat-datepicker-toggle-default-icon {
          margin-top : -10px;
          color : var(--text-header-200);
        }
      }
    }
  }
}