 .mat-tooltip ,
mat-tooltip {
  font-size : 10px;
  padding-top : 6px;
  padding-bottom : 6px;
  border : 1px solid rgba(1, 88, 161, 0.2);
  color : var(--card-color) !important;
  background : var(--bg-color);
  font-size : 14px;
  line-height : normal;
  font-family : var(--robot-400);
}