.avatar {
  &group {
    &--stack {
      display : inline-flex;
      flex-direction : row-reverse;
      margin-right : 20px;

      img {
        width : 40px;
        height : 40px;
        border-radius : 50%;
        border : 1px solid var(--isabelline);
        overflow : hidden;
      }

      li {
        margin-right : -20px;
        z-index : auto;
        margin-bottom : 0 !important;
      }
    }
  }

  &-small > a {
    display : flex;
    align-items : center;

    div {
      width : 24px;
      height : 24px;
      border-radius : 50%;
      background : #eb4d4d;
      font-family : var(--roboto-400);
      font-size : 14px;
      line-height : 16px;
      display : flex;
      justify-content : center;
      align-items : center;
      letter-spacing : 0.02em;
      text-transform : capitalize;
      color : var(--white);
      text-decoration : none;
    }

    &.link-text {
      span {
        display : inline-block;
        margin-left : 10px;
        color : #1393ff;
        text-decoration : underline;
      }
    }
  }
}
