.card-full-sim ,
.card-nano-sim {
  .card-sim {
    &:empty {
      animation : loading 1.7s infinite linear;
      background : linear-gradient(
      45deg,
      transparent 24px,
      #fff 0,
      #f5f3f5 40%,
      #fff 100%
      )
      left bottom;
      background-repeat : no-repeat;
      width : 100%;
      overflow : hidden;
      position : relative;
      border-top : 1px solid rgba(1, 88, 161, 0.2);
      border-right : 1px solid rgba(1, 88, 161, 0.2);
      border-radius : 3px;
      &:before ,
      &:after {
        bottom : 0;
        content : '';
        height : 100%;
        position : absolute;
        z-index : 1;
        z-index : -1;
        border-image : none;
        border-radius : 3px;
      }
      &:before {
        border-color : rgba(1, 88, 161, 0.2);
        border-style : solid;
        border-width : 0 0px 1.5px 1px;
        bottom : 0;
        left : 0;
        top : -32px;
        transform : skewY(45deg);
        transform-origin : 0 0 0;
        width : 36px;
      }
      &:after {
        border-color : rgba(1, 88, 161, 0.2) transparent rgba(1, 88, 161, 0.2)
        rgba(1, 88, 161, 0.2);
        border-style : solid;
        border-width : 0 0px 1px 0px;
        left : 32px;
        width : calc(100% - 32px);
      }
    }
  }
}
@keyframes loading {
  0% {
    background-position : -100px;
  }

  100% {
    background-position : 200px;
  }
}

.card-full-sim {
  position : relative;
  overflow : hidden;
  display : flex;
  background : var(--bg-card);
  filter : var(--cut-shadow);
  background : linear-gradient(45deg, transparent 24px, var(--bg-card) 0) left
  bottom;
  width : 100%;
  &.disabled {
    opacity : 0.3;
    .theme--dark & {
      opacity : 0.3;
    }
  }
  .card-sim {
    overflow : hidden;
    width : 100%;
    position : relative;
    border-top : 1px solid rgba(1, 88, 161, 0.2);
    border-right : 1px solid rgba(1, 88, 161, 0.2);
    border-radius : 3px;
    z-index : 1;
    &:before ,
    &:after {
      z-index : -1;
      bottom : 0;
      content : '';
      height : 100%;
      position : absolute;
      border-image : none;
      border-radius : 3px;
    }
    &:before {
      border-color : rgba(1, 88, 161, 0.2);
      border-style : solid;
      border-width : 0 0px 1.5px 1px;
      bottom : 0;
      left : 0;
      top : -32px;
      transform : skewY(45deg);
      transform-origin : 0 0 0;
      width : 36px;
      z-index : 0;
    }
    &:after {
      border-color : rgba(1, 88, 161, 0.2) transparent rgba(1, 88, 161, 0.2)
      rgba(1, 88, 161, 0.2);
      border-style : solid;
      border-width : 0 0px 1px 0px;
      left : 32px;
      width : calc(100% - 32px);
    }
  }

  .form-checkbox-group {
    margin-bottom : 0;
    margin-right : 24px;
    margin-right : 0;
    .form-checkbox-label:before {
      margin-right : 0;
    }
  }
}

.card-nano-sim {
  position : relative;
  overflow : hidden;
  display : flex;
  background : var(--bg-card);
  filter : var(--cut-shadow);
  background : linear-gradient(45deg, transparent 8px, var(--bg-card) 0) left
  bottom;
  &.disabled {
    opacity : 0.3;
    .theme--dark & {
      opacity : 0.3;
    }
  }
  .card-sim {
    overflow : hidden;
    width : 100%;
    position : relative;
    border-top : 1px solid rgba(1, 88, 161, 0.2);
    border-right : 1px solid rgba(1, 88, 161, 0.2);
    border-radius : 3px;
    &:before ,
    &:after {
      bottom : 0;
      content : '';
      height : 100%;
      position : absolute;
      z-index : 1;
      z-index : -1;
      border-image : none;
      border-radius : 3px;
    }
    &:before {
      border-color : rgba(1, 88, 161, 0.2);
      border-style : solid;
      border-width : 0 0px 1.5px 1px;
      bottom : 0;
      left : 0;
      top : -8px;
      transform : skewY(44deg);
      transform-origin : 0 0 0;
      width : 10px;
    }
    &:after {
      border-color : rgba(1, 88, 161, 0.2) transparent rgba(1, 88, 161, 0.2)
      rgba(1, 88, 161, 0.2);
      border-style : solid;
      border-width : 0 0px 1px 0px;
      left : 10px;
      width : calc(100% - 10px);
    }
  }
}

.card-sim {
  [class^='uil-']:before ,
  [class*=' uil-']:before {
    font-size : 20px;
  }
  .uil-angle-up:before ,
  .uil-angle-after:before {
    font-size : 20px;
    color : rgba(55, 110, 157, 0.6);
  }
}

// font size in side the card
.table-text {
  display : block;
  font-size : 16px;
  line-height : 24px;
  font-family : var(--roboto-400);
}

.table-title {
  .tablet--grid-col {
    font-family : var(--roboto-500);
    font-size : 16px;
    line-height : 19px;
    letter-spacing : 0.02em;
    text-transform : capitalize;
    color : var(--text-label-200);
  }
}

.link-text {
  color : var(--link-text);
}
a {
  font-size : 14px;
  line-height : 20px;
  font-family : var(--roboto-400);
  color : var(--link-text);
}

.asset-rule-more-info {
  border : 0 !important;
  position : relative;
  &:after {
    content : '';
    display : inline-block;
    position : absolute;
    top : 0;
    left : -20px;
    width : calc(100% + 60px);
    height : 2px;
    background-color : var(--text-color-700);
  }
}

dl {
  font-size : 16px;
  line-height : 19px;
  margin-bottom : 24px;
  dt {
    vertical-align : top;
    display : inline-block;
    font-family : var(--roboto-500);
    color : var(--text-paragraph-600);
    &:after {
      content : ': ';
    }
  }
  dd {
    display : inline-block;
    margin-left : 16px;
    font-family : var(--font-400);
    color : var(--text-paragraph-800);
  }
  + dl:last-child {
    margin-bottom : 0;
  }
}

.text\:right {
  text-align : right;
}
.text\:left {
  text-align : left;
}
.text\:center {
  text-align : center;
}

.border-circle {
  border-radius : 50%;
}
.image\:20 {
  width : 20px;
  height : auto;
}
.image\:24 {
  width : 24px;
  height : auto;
}
.image\:32 {
  width : 32px;
  height : auto;
}

.cursor\:pointer {
  cursor : pointer;
}
.cursor\:none {
  cursor : not-allowed;
}

.config-icon {
  &-success {
    color : #58b62c;
  }
  &-incomplete {
    color : #eb4d4d;
  }
}
