.hexagon {
  position : relative;
  width : 40px;
  height : 23.09px;
  margin : 11.55px 0;
  display : flex;
  justify-content : center;
  align-items : center;
  margin-right : 20px;

  &:before ,
  &:after {
    content : '';
    position : absolute;
    width : 0;
    border-left : 20px solid transparent;
    border-right : 20px solid transparent;
  }

  &:before {
    bottom : 100%;
  }

  &:after {
    top : 100%;
    width : 0;
  }
}