progress {
  border : 0;
  height : 6px;
  border-radius : 20px;
  margin-right : 8px;
  max-width : 60px;

  &::-webkit-progress-bar {
    border : 0;
    height : 6px;
    border-radius : 20px;
    background-color : var(--text-color-700);
    background-color : #ccdeec;
  }

  &::-webkit-progress-value {
    border : 0;
    height : 6px;
    border-radius : 20px;
    background-color : #eb7d4d !important;
  }

  &::-moz-progress-bar {
    border : 0;
    height : 6px;
    border-radius : 20px;
  }
  &.alert-hight {
    &::-webkit-progress-value {
      background : var(--alert-high);
    }
  }
  &.alert-low {
    &::-webkit-progress-value {
      background : var(--alert-low);
    }
  }
  &.alert-critical {
    &::-webkit-progress-value {
      background : var(--alert-critical);
    }
  }
  &.alert-medium {
    &::-webkit-progress-value {
      background : var(--alert-medium);
    }
  }
  &.alert-info {
    &::-webkit-progress-value {
      background : var(--alert-info);
    }
  }
}