.status {
  &-bg {
    &-critical {
      background-color : var(--critical);
      color : var(--white);
    }

    &-high {
      background : var(--faded-orange) ;
      color : var(--white) ;
    }

    &-medium {
      background-color : var(--golden-rod);
      color : var(--white);
    }

    &-low {
      background : var(--grass);
      color : var(--white);
    }

    &-info {
      background-color : var(--tab-active);
      color : var(--white);
    }

    &-EBB64D {
      background : #ebb64d ;
      color : var(--white) ;
    }
  }

  &-icon {
    &-critical {
      color : var(--critical);
    }

    &-high {
      color : var(--faded-orange);
    }

    &-medium {
      color : var(--golden-rod);
    }

    &-low {
      color : var(--grass);
    }

    &-info {
      color : var(--tab-active);
    }

    /*
     * TODO:  need to change the hex code to name
     *  need to add the color in palette
     */
    &-41C303 {
      color : #41c303;
    }
  }
}
