/* tab layout */

.tab-list {
  display: flex;

  &-item {
    flex: 1 0;
    text-align: center;
    border-bottom: solid rgba(1, 88, 162, 0.2);
    margin-bottom: 30px;
    padding-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--roboto-400);
    line-height: 19px;
    color: var(--tab-inactive);
    .icon {
      font-size: 20px;
      margin-right: 16px;
    }

    &.active {
      border-color: var(--tab-active);
    }

    &.active,
    &.active .icon i {
      color: var(--tab-active);
    }
  }
}
