.wizard-navigation {
  max-width: 804px;
  // margin : 0 auto 40px;
  margin-left: auto;
  margin-right: auto;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin-right: 90px;

      &:last-child {
        margin-right: 0;
      }

      a {
        flex: 1 0 auto;
        display: flex;
        align-items: center;

        .hexagon {
          background: var(--text-color-700);
          color: var(--white);

          &:before {
            border-bottom: 11.55px solid var(--text-color-700);
          }

          &:after {
            border-top: 11.55px solid var(--text-color-700);
          }
        }

        .label {
          color: var(--text-color-700);
        }
      }

      &.active a {
        .hexagon {
          background: var(--tab-active);
          color: var(--white);

          &:before {
            border-bottom-color: var(--tab-active);
          }

          &:after {
            border-top-color: var(--tab-active);
          }
        }

        .label {
          color: var(--tab-active);
        }
      }
    }
  }
}
