.card {
  &--group {
    display : grid;
    gap : 30px;

    &.tabled\:grid {
      &-col-4 {
        grid-template-columns : repeat(auto-fit, minmax(220px, 1fr));
      }
    }
  }

  &__container {
    height : 100%;
    cursor : pointer;
    .card {
      &-wrapper {
        padding : 30px;
        padding : 12%;
        padding : 2.2vw;
      }

      &-icon {
        text-align : center;
      }

      &-data {
        table {
          width : 100%;
          border-spacing : 8px 10px;
          border-collapse : separate;

          tr {
            width : 100%;

            td {
              vertical-align : top;
              font-size : 14px;
              line-height : 16px;

              &:first-child {
                margin-right : 8px;
                min-width : 80px;
                font-family : var(--roboto-500);
                color : var(--text-paragraph-600);
              }

              &:last-child {
                font-family : var(--roboto-400);
                color : var(--text-paragraph-800);
              }
            }

            &:last-child {
              margin-bottom : 0;
            }
          }
        }
      }

      &-status-bar {
        position : absolute;
        bottom : 0;
        right : 0;
        width : calc(100% - 30px);
        border-bottom-left-radius : 5px;
        height : 5px;
        z-index : 3;
        background : var(--tab-active);
      }
    }
  }
}