.right-fixed {
  position : fixed;
  left : 0;
  top : calc(50vh - 200px);
  z-index : 1500;
  ul {
    background : var(--bg-card);
    padding : 30px 0;
    filter : drop-shadow(0px 5px 5px rgba(1, 88, 161, 0.2));

    &:before {
      content : '';
      display : block;
      width : 0px;
      height : 0px;
      position : absolute;
      left : 0;
      bottom : -20px;
      border : 0;
      border-top : 20px solid var(--bg-card);
      border-right : 62px solid transparent;
      filter : drop-shadow(0px 5px 5px rgba(1, 88, 161, 0.2));
    }

    &:after {
      content : '';
      display : block;
      width : 0px;
      height : 0px;
      position : absolute;
      left : 0;
      top : -20px;
      border : 0;
      border-bottom : 20px solid var(--bg-card);
      border-right : 62px solid transparent;
      filter : drop-shadow(0px -5px -5px rgba(1, 88, 161, 0.2));
    }

    li {
      position : relative;
      cursor : pointer;

      &:after {
        content : '';
        width : 2px;
        height : 100%;
        display : inline-block;
        position : absolute;
        right : 0;
        top : 0;
        background : transparent;
      }

      .uil {
        display : inline-block;
        padding : 20px;
        position : relative;

        &:before {
          font-size : 24px;
          margin : 0;
          text-align : center;
          color : var(--tab-inactive);
        }
      }

      &.active {
        &:after {
          background : var(--tab-active);
        }

        .uil {
          @include alpha(background-color, --tab-active, 0.1);
          background-color : alpha(var(--tab-active), 0.1);
          background-color : rgba(19, 147, 255, 0.1);

          &:after {
            color : var(--tab-active);
            background : #6a8eac;
          }
        }
      }
    }
  }
}

.asset-rule--header {
  background-color : var(--bg-card);
}

.host-mini-information {
  dl {
    font-size : 14px;
    line-height : 16px;

    dt {
      font-family : var(--roboto-500);
      color : var(--text-paragraph-600);
    }
    dd {
      font-family : var(--roboto-400);
      color : var(--text-paragraph-800);
    }
    & + & {
      margin-bottom : 0;
    }
  }
}

.timestamp {
  font-size : 14px;
  line-height : 16px;
  &-label {
    font-family : var(--font-400);
    color : var(--text-paragraph-600);
    margin-right : 5px;
  }
  &-value {
    font-family : var(--font-400);
    color : var(--text-paragraph-800);
  }
  > .uil:before {
    color : #3d7eb5;
    font-size : 20px;
  }
}

.read_more {
  position : relative;
  .uil:before {
    color : var(--text-paragraph-800);
  }
}