.profile {
  &-sidebar {
    // max-width : 260px;
    max-width : 260px;
    flex : 1 0 260px;
    border-right : 1px solid var(--text-color-700);
    padding-right : 30px;
    margin-right : 44px;
  }

  &-icon {
    div {
      margin : 0 auto;
      width : 128px;
      height : 128px;
      border-radius : 50%;
      background : #eb4d4d;
      font-family : var(--roboto-400);
      font-size : 64px;
      line-height : 75px;
      display : flex;
      justify-content : center;
      align-items : center;
      color : #fff;
    }
  }

  &-detail {
    &-name {
      font-family : var(--roboto-mono);
      font-style : normal;
      font-weight : normal;
      font-size : 24px;
      line-height : 28px;
      text-align : center;
      color : var(--text-paragraph-800);
      margin-bottom : 10px;
    }

    &-handler {
      margin-bottom : 30px;
      font-family : var(--roboto-400);
      font-style : normal;
      font-weight : normal;
      font-size : 16px;
      line-height : 19px;
      text-align : center;
      color : #83a5c1;
    }
  }

  &-navigation {
    &-lists {
      display : grid;
      gap : 30px;
      grid-template-columns : 1fr 1fr;

      li {
        cursor : pointer;
        width : 100px;
        height : 100px;
        background : var(--white);
        border : 1px solid rgba(1, 88, 161, 0.2);
        border-radius : 3px;
        padding : 20px 0 16px;

        span {
          display : block;
          text-align : center;

          &:first-child {
            .uil:before {
              font-size : 32px;
            }
          }

          &:last-child {
            margin-top : 20px;
            font-family : var(--roboto-400);
            font-size : 16px;
            line-height : 19px;
            color : var(--text-paragraph-600);;
          }
        }

        &.active {
          background : #1393ff;
          box-shadow : 0px 10px 20px rgba(1, 88, 162, 0.2);

          span {
            &:first-child {
              .uil:before {
                color : var(--white);
              }
            }

            &:last-child {
              color : var(--white);
            }
          }
        }
      }
    }
  }

  &-overview {
    .page-title {
      margin-bottom : 26px;
    }
  }
}

.table-list {
  width : calc(100vw - 702px);
  background : var(--white);
  border : 1px solid rgba(1, 88, 161, 0.2);
  box-shadow : 0px 5px 5px rgba(2, 108, 197, 0.1);
  border-radius : 4px;

  &-header {
    background : #edf6fe;
    padding : 10px 24px;
    margin-bottom : 20px;

    span {
      &:first-child {
        font-family : var(--roboto-400);
        font-style : normal;
        font-size : 16px;
        line-height : 19px;
        color : #376e9d;

        .manage-users & {
          display : flex;

          ul {
            margin-left : 26px;
            display : flex;

            li {
              margin-right : 32px;
              font-family : var(--roboto-mono);
              font-weight : normal;
              font-size : 14px;
              line-height : 16px;
              color : #1393ff;

              &:last-child {
                margin-right : 0;
              }

              .uil:before {
                color : #1393ff;
              }

              &.disable {
                .uil:before {
                  color : #83a5c1;
                }

                color : #83a5c1;
              }
            }
          }
        }
      }

      &:last-child {
        cursor : pointer;
        font-family : var(--roboto-400);
        font-style : normal;
        font-size : 14px;
        line-height : 16px;
        text-decoration-line : underline;
        color : #1393ff;
      }
    }
  }

  &-content {
    margin : 0 20px;

    .client-list {
      display : flex;
      justify-content : space-between;
      border-bottom : 1px solid var(--text-color-700);
      margin-bottom : 16px;
      padding-bottom : 16px;
      padding-left : 20px;
      padding-right : 20px;

      &:last-child {
        border-bottom : 0;
      }

      span {
        font-family : var(--roboto-400);
        font-style : normal;
        font-weight : normal;
        font-size : 14px;
        line-height : 16px;
        color : #5b748c;
      }

      .link-text {
        cursor : pointer;
        text-decoration-line : underline;
        color : #1393ff;

        .form-checkbox-group {
          margin-bottom : 0;

          .form-checkbox-label:after {
            font-size : 16px;
          }

          .form-checkbox-label:after ,
          .form-checkbox-label:before {
            width : 16px;
            height : 16px;
          }
        }
      }

      .license-upload {
        cursor : pointer;

        i.uil {
          margin-right : 12px;

          &:before {
            font-size : 14px;
            color : #1393ff;
          }
        }

        color : #1393ff;
      }
    }
  }
}

.event-log {
  width : 303px;
  margin-left : 30px;
  background : var(--white);
  border : 1px solid rgba(1, 88, 161, 0.2);
  box-shadow : 0px 5px 5px rgba(2, 108, 197, 0.1);
  border-radius : 4px;

  &-header {
    display : flex;
    justify-content : space-between;
    padding : 10px 24px;
    background : #edf6fe;

    .title {
      font-family : var(--roboto-400);
      font-size : 16px;
      line-height : 19px;
      color : #376e9d;
    }
  }

  &-lists {
  }

  &-list {
    padding : 20px 24px;
    border-bottom : 1px solid var(--text-color-700);

    .log-header {
      display : flex;
      align-items : center;
      margin-bottom : 15px;

      span {
        display : inline-block;

        &:nth-child(1) {
          margin-right : 16px;
          font-family : var(--roboto-500);
          font-weight : 500;
          font-size : 18px;
          line-height : 21px;
          letter-spacing : 0.02em;
          text-transform : capitalize;
          color : var(--text-paragraph-800);
        }

        &:nth-child(2) {
          margin-right : 23px;
          font-family : var(--roboto-400);
          border-radius : 10px;
          padding : 3px 15px;
          background : #1393ff;
          color : #fff;
        }

        &:nth-child(3) {
          font-family : var(--roboto-400);
          font-weight : normal;
          font-size : 14px;
          line-height : 16px;
          color : var(--text-paragraph-600);
        }
      }
    }

    .log-detail {
      span {
        display : block;
        font-family : var(--roboto-400);
        font-size : 14px;
        line-height : 16px;
      }

      .author {
        margin-bottom : 10px;
        color : var(--text-paragraph-800);
      }

      .about-log {
        color : var(--text-paragraph-600);
      }
    }
  }
}