.section-select-asset {
  display : flex;
  align-items : center;
  max-width : 1200px;
  margin : 0 auto 30px;

  i {
    color : var(--blue-grey);
  }

  .btn-text {
    font-family : --var(roboto-mono);
    font-size : 14px;
    line-height : 16px;
    color : var(--blue-grey);
    margin-left : 10px;
    margin-right : 20px;
  }

  h1 {
    font-family : --var(roboto-mono);
    font-size : 32px;
    line-height : 37px;
    color : var(--slate);
  }
}

.label {
  @extend %heading3-500;
  line-height : 16px;
  padding-right : 12px;
  color : var(--text-paragraph-600);;
}

.value {
  @extend %heading3-400;
  color : var(--slate);
  display : flex;
  align-items : center;
}

.border-right-1 {
  position : relative;
  padding-left : 20px;

  &:before {
    content : '';
    display : inline-block;
    width : 2px;
    background : var(--input-border-color);
    position : absolute;
    left : 0;
    top : -30px;
    height : calc(100% + 60px);
  }
}