button.btn-action {
  border : 1px solid transparent;
  padding : 6px 8px;
  border-radius : 2px;
  font-size : 14px;
  font-weight : 400;
  line-height : 1.5;
  font-family : var(--roboto-normal);
  margin-right : 16px;

  &:last-child {
    margin-right : 0;
  }

  &.yes {
    background : var(--white);
    border-color : rgba(1, 88, 162, 0.2);
  }

  &.no {
  }
}