<div class="d-container">
  <div class="justify-between align-items-center margin-top:40">
    <div class="flex-row font:24:mono margin-bottom:40">
      <button class="btn-back" (click)="backClicked()">
        <i class="uil uil-arrow-left"></i> Back
      </button>
      <h2
        class="font:32:mono text-color:800 margin-left:20  text-header:200 "
      >
        Rule Details
      </h2>
    </div>

    <div class="flex-row justify-between">
      <div class="tablet--grid-col">
        <dl>
          <dt>Rule Name</dt>
          <dd>Outside_access_in</dd>
        </dl>
        <dl>
          <dt>Rule type</dt>
          <dd>Extended</dd>
        </dl>
        <dl>
          <dt>Status</dt>
          <dd>Active</dd>
        </dl>
      </div>
      <div class="tablet--grid-col">
        <dl>
          <dt>In Interface</dt>
          <dd>
            <span>
              <i class="margin-right:15 uil uil-arrow-right  icon-color:incompleted "></i>Outside
            </span>
          </dd>
        </dl>
        <dl>
          <dt>Out Interface</dt>
          <dd>
            <span>
              <i class="margin-right:15 uil uil-arrow-left icon-color:completed"></i> dns_server
            </span>
          </dd>
        </dl>
        <dl>
          <dt>Exceptional</dt>
          <dd>
            <i class="margin-right:15 uil uil-exclamation-triangle icon-color:completed"></i>
            Temporary
          </dd>
        </dl>
      </div>
      <div class="tablet--grid-col">
        <dl>
          <dt>Source</dt>
          <dd>
            <span><i class="table-icon uil uil-entry "></i> </span>
            <span class="icon-color:completed"> Any,</span>
            <span> FP,</span>
            <span> <a class="link-text table-text d-block" href="javascript:void(0)"  matTooltip="DM_INLINE_NETWORK_1,68.188.108"> +2 more </a></span>
          </dd>
        </dl>
        <dl>
          <dt>Destination</dt>
          <dd>
            <span><i class="table-icon uil uil-exit "></i> </span>
            <span> ind_sap03_p,</span>
            <span> <a class="link-text table-text d-block" href="javascript:void(0)"  matTooltip="DM_INLINE_NETWORK_1,68.188.108"> +2 more </a></span>
          </dd>
        </dl>
        <dl>
          <dt>Service</dt>
          <dd>DM_IN_SRV_1</dd>
        </dl>
      </div>
      <div class="tablet--grid-col">
        <dl>
          <dt>Action</dt>
          <dd>
            <span>
              <i class="margin-right:15 uil uil-check-circle icon-color:completed"></i> Permitted
            </span>
          </dd>
        </dl>
        <dl>
          <dt>Log Traffic</dt>
          <dd>
            <span>
              <i class="margin-right:15 uil uil-file-alt icon-color:completed"></i> Enabled
            </span>
          </dd>
        </dl>
      </div>
    </div>

    <div
      class="flex-row margin-top:30 font:18:mono text-subtext:100  text-header:200 "
    >
      Rule Issues
    </div>

    <ul
      class="flex-row margin-top:30 padding-bottom:30 margin-bottom:30 width:100 justify-between border-bottom:1"
    >
      <li class=" text-color:500 ">
        <span class="margin-right:25">Security:</span>
        <i class=" uil uil-shield-check icon-color:incompleted"></i>
        <span class="margin-left:10">No </span>
      </li>
      <li class=" text-color:500 ">
        <span class="margin-right:25">Compliance:</span>
        <i class=" uil uil-clipboard-notes icon-color:incompleted"></i>
        <span class="margin-left:10">No </span>
      </li>
      <li class=" text-color:500 ">
        <span class="margin-right:25">Optimization Issue:</span>
        <i class=" uil uil-tachometer-fast icon-color:completed"></i>
        <span class="margin-left:10">Yes </span>
      </li>
    </ul>
  </div>

  <div class="flex-row justify-between margin-top:10">
    <span class="font:18:mono text-subtext:100  text-header:200 "
      >Rule History</span
    >
    <div class="calender flex-row">
      <div class="margin-right:20 datepicker start-date">
        <label for="">Start Date:</label>
        <input [matDatepicker]="startDate" />
        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </div>
      <div class="datepicker end-date">
        <label for="">End Date:</label>
        <input [matDatepicker]="endDate" />
        <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </div>
    </div>
  </div>

  <div class="margin-top:30">
    <ul class="tab-list" role="tablist">
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'rulereview'"
        rel="rulereview"
        (click)="viewMode = 'rulereview'"
      >
        Reviews
      </li>
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'rulechange'"
        rel="rulechange"
        (click)="viewMode = 'rulechange'"
      >
        Rules Changes
      </li>
    </ul>

    <div [ngSwitch]="viewMode">
      <div *ngSwitchCase="'rulereview'">
        <div class="margin-top:40 margin-bottom:40 flex-row table-title">
          <span class="tablet--grid-col">Review</span>
          <span class="tablet--grid-col">Reviewed by</span>
          <span class="tablet--grid-col">Justification</span>
          <span class="tablet--grid-col">Date & Time</span>
        </div>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="button-chip  bg-alert-color:medium ">
              Pending
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen Show less</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              26 September 2019 <br />
              6:15 PM</span
            >
          </li>
        </ul>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="button-chip  bg-alert-color:info ">
              <i class="uil uil-check"></i>
              Acknowledged
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard Show
              more</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              25 September 2019 <br />
              10:15 AM</span
            >
          </li>
        </ul>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="button-chip  bg-alert-color:high ">
              Modify
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen Show less</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              26 September 2019 <br />
              6:15 PM</span
            >
          </li>
        </ul>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="button-chip  bg-alert-color:low ">
              Reviewed
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard Show
              more</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              25 September 2019 <br />
              10:15 AM</span
            >
          </li>
        </ul>
      </div>

      <div *ngSwitchCase="'rulechange'">
        <div class="margin-top:40 margin-bottom:40 flex-row table-title">
          <span class="tablet--grid-col">Change</span>
          <span class="tablet--grid-col">Reviewed by</span>
          <span class="tablet--grid-col">Justification</span>
          <span class="tablet--grid-col">Date & Time</span>
        </div>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="d-block font:14:500 margin-bottom:10"
              >Action: Deny to Allow</span
            >
            <span
              class="d-block font:14:400 margin-bottom:10 text-color:grey-blue"
              >ID: 23478</span
            >
            <span class="d-block font:14:400 margin-top:20"
              >Would you like to Acknowledge it?</span
            >
            <span class="flex-row margin-top:10">
              <button class="btn-action yes">Yes</button>
              <button class="btn-action no">No</button>
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen Show less</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              26 September 2019 <br />
              6:15 PM</span
            >
          </li>
        </ul>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="d-block font:14:500 margin-bottom:10"
              >Source: Any to FP</span
            >
            <span
              class="d-block font:14:400 margin-bottom:10 text-color:grey-blue"
              >ID: 23478</span
            >
            <span
              class="d-inline-block font:12:500 button-chip margin-top:20 status-bg-info"
            >
              <i class="button-chip__icon uil uil-check"></i>
              <span class="button-chip__text">Acknowledged</span>
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard Show
              more</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              25 September 2019 <br />
              10:15 AM</span
            >
          </li>
        </ul>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="d-block font:14:500 margin-bottom:10"
              >Source: Any to FP</span
            >
            <span
              class="d-block font:14:400 margin-bottom:10 text-color:grey-blue"
              >ID: 23478</span
            >
            <span
              class="d-inline-block font:12:500 button-chip margin-top:20  bg-alert-color:medium "
              >Pending</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen Show less</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              26 September 2019 <br />
              6:15 PM</span
            >
          </li>
        </ul>

        <ul class="padding-bottom:20 margin-bottom:20 flex-row">
          <li class="tablet--grid-col">
            <span class="button-chip  bg-alert-color:medium ">
              Acknowledged
            </span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text"> Justin Kurtland</span>
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard Show
              more</span
            >
          </li>
          <li class="tablet--grid-col">
            <span class="table-text">
              25 September 2019 <br />
              10:15 AM</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
