<!-- TODO: Pagination need to add -->
<div class="d-container">
    <div class="flex-row margin-bottom:40">
        <button
            class="btn-back"
            (click)="backClicked()">
            <i class="uil uil-arrow-left"></i>
            Back
        </button>
        <h2 class="margin-left:20 font:24:mono  text-header:200  text-header:200 ">Firewall Objects</h2>
    </div>

    <div class="page-data-content">
        <my-tabs>
            <my-tab [tabTitle]="'Hosts'">
                <div class="margin-bottom:30 flex-row justify-between align-items-center">
                    <div class="font:18:mono text-subtext:100">200 Host Objects</div>
                    <div class="flex-row align-items-center">
                        <div class="margin-right:30 input-search">
                            <div class="input-group">
                                <label
                                    [hidden]
                                    for="searchTextHosts"></label>
                                <i class="uil uil-white uil-search"></i>
                                <input
                                    [(ngModel)]="searchTextHosts"
                                    type="text"
                                    name="searchTextHosts"
                                    id="searchTextHosts"
                                    placeholder="Search">
                            </div>
                        </div>

                        <div class="margin-right:30">
                            <button
                                class="skewed-button button-fill-blue"
                                type="button">
                                <i class="skewed-button__icon uil uil-arrow-up-right"></i>
                                <span class="skewed-button__label">Export as CSV</span>
                            </button>
                        </div>

                        <!-- Sort By -->
                        <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
                            <div
                                type="button"
                                class="button__dropdown--item border:1  padding-top:10 padding-bottom:10 padding-left:15 text-color:500"
                                id="sortAssetContentShow"
                                (click)="[sortAssetContentToggle($event)]">
                                <span class="selected-label">Sort by:</span>
                                {{ sortAsset }}
                            </div>
                            <div
                                class="button__dropdown--expand expand-bottom"
                                *ngIf="sortAssetContent">
                                <div class="list-items">
                                    <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                        <li
                                            class="list-item"
                                            *ngFor="let sortAssetList of sortAssetLists"
                                            (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                            {{ sortAssetList }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="margin-top:40 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title">
                    <span class="tablet--grid-col">Name</span>
                    <span class="tablet--grid-col">Type</span>
                    <span class="tablet--grid-col">Address</span>
                </div>

                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync-exclamation margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync-exclamation margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
            </my-tab>
            <my-tab tabTitle="Hosts Group">
                <div class="margin-bottom:30 flex-row justify-between align-items-center">
                    <div class="font:18:mono text-subtext:100">200 Host Group</div>
                    <div class="flex-row align-items-center">
                        <div class="margin-right:30 input-search">
                            <div class="input-group">
                                <label
                                    [hidden]
                                    for="searchTextHostsGroup"></label>
                                <i class="uil uil-white uil-search"></i>
                                <input
                                    [(ngModel)]="searchTextHostsGroup"
                                    type="text"
                                    name="searchTextHostsGroup"
                                    id="searchTextHostsGroup"
                                    placeholder="Search">
                            </div>
                        </div>

                        <div class="margin-right:30">
                            <button
                                class="skewed-button button-fill-blue"
                                type="button">
                                <i class="skewed-button__icon uil uil-arrow-up-right"></i>
                                <span class="skewed-button__label">Export as CSV</span>
                            </button>
                        </div>

                        <!-- Sort By -->
                        <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
                            <div
                                type="button"
                                class="button__dropdown--item border:1  padding-top:10 padding-bottom:10 padding-left:15 text-color:500"
                                id="sortAssetContentShow"
                                (click)="[sortAssetContentToggle($event)]">
                                <span class="selected-label">Sort by:</span>
                                {{ sortAsset }}
                            </div>
                            <div
                                class="button__dropdown--expand expand-bottom"
                                *ngIf="sortAssetContent">
                                <div class="list-items">
                                    <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                        <li
                                            class="list-item"
                                            *ngFor="let sortAssetList of sortAssetLists"
                                            (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                            {{ sortAssetList }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="grid-row table-column:4">
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </my-tab>
            <my-tab tabTitle="Services">

                <div class="margin-bottom:30 flex-row justify-between align-items-center">
                    <div class="font:18:mono text-subtext:100">200 Host Objects</div>
                    <div class="flex-row align-items-center">
                        <div class="margin-right:30 input-search">
                            <div class="input-group">
                                <label
                                    [hidden]
                                    for="searchTextServices"></label>
                                <i class="uil uil-white uil-search"></i>
                                <input
                                    [(ngModel)]="searchTextServices"
                                    type="text"
                                    name="searchTextServices"
                                    id="searchTextServices"
                                    placeholder="Search">
                            </div>
                        </div>

                        <div class="margin-right:30">
                            <button
                                class="skewed-button button-fill-blue"
                                type="button">
                                <i class="skewed-button__icon uil uil-arrow-up-right"></i>
                                <span class="skewed-button__label">Export as CSV</span>
                            </button>
                        </div>

                        <!-- Sort By -->
                        <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
                            <div
                                type="button"
                                class="button__dropdown--item border:1  padding-top:10 padding-bottom:10 padding-left:15 text-color:500"
                                id="sortAssetContentShow"
                                (click)="[sortAssetContentToggle($event)]">
                                <span class="selected-label">Sort by:</span>
                                {{ sortAsset }}
                            </div>
                            <div
                                class="button__dropdown--expand expand-bottom"
                                *ngIf="sortAssetContent">
                                <div class="list-items">
                                    <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                        <li
                                            class="list-item"
                                            *ngFor="let sortAssetList of sortAssetLists"
                                            (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                            {{ sortAssetList }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="margin-top:40 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title">
                    <span class="tablet--grid-col">Name</span>
                    <span class="tablet--grid-col">Type</span>
                    <span class="tablet--grid-col">Address</span>
                </div>

                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync-exclamation margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync-exclamation margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>

            </my-tab>
            <my-tab tabTitle="Services Group">

                <div class="margin-bottom:30 flex-row justify-between align-items-center">
                    <div class="font:18:mono text-subtext:100">200 Host Group</div>
                    <div class="flex-row align-items-center">
                        <div class="margin-right:30 input-search">
                            <div class="input-group">
                                <label
                                    [hidden]
                                    for="searchTextServicesGroup"></label>
                                <i class="uil uil-white uil-search"></i>
                                <input
                                    [(ngModel)]="searchTextServicesGroup"
                                    type="text"
                                    name="searchTextServicesGroup"
                                    id="searchTextServicesGroup"
                                    placeholder="Search">
                            </div>
                        </div>

                        <div class="margin-right:30">
                            <button
                                class="skewed-button button-fill-blue"
                                type="button">
                                <i class="skewed-button__icon uil uil-arrow-up-right"></i>
                                <span class="skewed-button__label">Export as CSV</span>
                            </button>
                        </div>

                        <!-- Sort By -->
                        <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
                            <div
                                type="button"
                                class="button__dropdown--item border:1  padding-top:10 padding-bottom:10 padding-left:15 text-color:500"
                                id="sortAssetContentShow"
                                (click)="[sortAssetContentToggle($event)]">
                                <span class="selected-label">Sort by:</span>
                                {{ sortAsset }}
                            </div>
                            <div
                                class="button__dropdown--expand expand-bottom"
                                *ngIf="sortAssetContent">
                                <div class="list-items">
                                    <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                        <li
                                            class="list-item"
                                            *ngFor="let sortAssetList of sortAssetLists"
                                            (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                            {{ sortAssetList }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="grid-row table-column:4">
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </my-tab>
            <my-tab tabTitle="Interface">

                <div class="margin-bottom:30 flex-row justify-between align-items-center">
                    <div class="font:18:mono text-subtext:100">200 Host Objects</div>
                    <div class="flex-row align-items-center">
                        <div class="margin-right:30 input-search">
                            <div class="input-group">
                                <label
                                    [hidden]
                                    for="searchTextInterface"></label>
                                <i class="uil uil-white uil-search"></i>
                                <input
                                    [(ngModel)]="searchTextInterface"
                                    type="text"
                                    name="searchTextInterface"
                                    id="searchTextInterface"
                                    placeholder="Search">
                            </div>
                        </div>

                        <div class="margin-right:30">
                            <button
                                class="skewed-button button-fill-blue"
                                type="button">
                                <i class="skewed-button__icon uil uil-arrow-up-right"></i>
                                <span class="skewed-button__label">Export as CSV</span>
                            </button>
                        </div>

                        <!-- Sort By -->
                        <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
                            <div
                                type="button"
                                class="button__dropdown--item border:1  padding-top:10 padding-bottom:10 padding-left:15 text-color:500"
                                id="sortAssetContentShow"
                                (click)="[sortAssetContentToggle($event)]">
                                <span class="selected-label">Sort by:</span>
                                {{ sortAsset }}
                            </div>
                            <div
                                class="button__dropdown--expand expand-bottom"
                                *ngIf="sortAssetContent">
                                <div class="list-items">
                                    <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                        <li
                                            class="list-item"
                                            *ngFor="let sortAssetList of sortAssetLists"
                                            (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                            {{ sortAssetList }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="margin-top:40 margin-bottom:40 padding-right:60 padding-left:60 flex-row table-title">
                    <span class="tablet--grid-col">Name</span>
                    <span class="tablet--grid-col">Type</span>
                    <span class="tablet--grid-col">Address</span>
                </div>

                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync-exclamation margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync-exclamation margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>
                <div class="card-full-sim margin-bottom:20">
                    <ul class="card-sim flex-row padding-top:20 padding-right:60 padding-bottom:20 padding-left:60">
                        <li class="tablet--grid-col">
                            <span class="table-text">
                                ind_anxplp636
                                <i class="uil uil-sync margin-left:10"></i>
                            </span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">Host</span>
                        </li>
                        <li class="tablet--grid-col">
                            <span class="table-text">192.168.87.17</span>
                        </li>
                    </ul>
                </div>

            </my-tab>
            <my-tab tabTitle="Zones">

                <div class="margin-bottom:30 flex-row justify-between align-items-center">
                    <div class="font:18:mono text-subtext:100">200 Host Group</div>
                    <div class="flex-row align-items-center">
                        <div class="margin-right:30 input-search">
                            <div class="input-group">
                                <label
                                    [hidden]
                                    for="searchTextZones"></label>
                                <i class="uil uil-white uil-search"></i>
                                <input
                                    [(ngModel)]="searchTextZones"
                                    type="text"
                                    name="searchTextZones"
                                    id="searchTextZones"
                                    placeholder="Search">
                            </div>
                        </div>

                        <div class="margin-right:30">
                            <button
                                class="skewed-button button-fill-blue"
                                type="button">
                                <i class="skewed-button__icon uil uil-arrow-up-right"></i>
                                <span class="skewed-button__label">Export as CSV</span>
                            </button>
                        </div>

                        <!-- Sort By -->
                        <div class="font:14:400 z-index:3 button__dropdown margin-left:20">
                            <div
                                type="button"
                                class="button__dropdown--item border:1  padding-top:10 padding-bottom:10 padding-left:15 text-color:500"
                                id="sortAssetContentShow"
                                (click)="[sortAssetContentToggle($event)]">
                                <span class="selected-label">Sort by:</span>
                                {{ sortAsset }}
                            </div>
                            <div
                                class="button__dropdown--expand expand-bottom"
                                *ngIf="sortAssetContent">
                                <div class="list-items">
                                    <ul class="padding-bottom:25 padding-left:10 padding-right:10 padding-top:10">
                                        <li
                                            class="list-item"
                                            *ngFor="let sortAssetList of sortAssetLists"
                                            (click)="[sortAssetContentToggle($event), onSortAssetList(sortAssetList)]">
                                            {{ sortAssetList }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="grid-row table-column:4">
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-full-sim margin-bottom:20">
                        <ul class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20">
                            <li class="tablet--grid-col">
                                <span class="table-heading">
                                    DM_INLINE_NETWORK_1
                                    <i class="uil uil-sync-exclamation margin-left:10"></i>
                                </span>
                                <span class="table-text">
                                    Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever
                                    <a
                                        class="link-text"
                                        href="#">
                                        Show more
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </my-tab>
            <my-tab tabTitle="Screen">
            </my-tab>
            <my-tab tabTitle="Interface Zone Mapping">
            </my-tab>
        </my-tabs>
    </div>
</div>
