.comparison-between {
  span {
    display : inline-block;
    color : #5b748c;
    margin-right : 16px;
  }

  select {
    max-width : 207px;
    margin-right : 16px;
  }

  .file-compare-view-toggle {
    span {
      margin-right : 16px;
    }

    .unified {
      margin-left : 16px;

      input ~ label {
        padding : 10px 8px;
      }
    }

    input {
      &[type='radio'] {
        width : 0;
        height : 0;
      }

      &:checked {
        ~ label {
          background : #1393ff;
          cursor : pointer;
        }
      }

      ~ label {
        cursor : pointer;
        background : rgba(198, 228, 254, 0.5);
        padding : 8px;
        border-radius : 3px;
        display : inline-flex;
        align-items : center;
        justify-content : center;
      }
    }
  }
}

.container-diff {
  .editor {
    flex : 1;

    &.original {
      margin-right : 15px;
    }

    &.modified {
      margin-left : 15px;
    }
  }

  .monaco-editor-background {
    background : transparent;
  }

  .monaco-editor {
    background : #fff;
    border : 1px solid rgba(1, 88, 161, 0.2);
    box-shadow : 0px 5px 5px rgba(2, 108, 197, 0.1);
    border-radius : 2px;

    .margin-view-overlays {
      background : rgba(204, 222, 236, 0.8);

      .line-numbers {
        font-family : var(--roboto-mono);
        font-weight : 400;
        font-size : 12px;
        line-height : 14px;
        color : var(--text-color-500);
        margin-left : 10px;
        text-align : left;
      }

      .line-delete {
        background : rgba(235, 125, 77, 0.25);
        border : 0;
      }
    }
  }

  // .monaco-diff-editor .line-delete,
  .monaco-diff-editor .char-delete {
    background : rgba(235, 125, 77, 0.1);
    border : 1px solid rgba(235, 125, 77, 0.6);
  }

  #diffeditor {
    height : 500px;
  }
}