<div class="d-container">
  <div class="align-items-center flex-row justify-between margin-top:40">
    <div class="flex-row">
      <button class="btn-back" (click)="backClicked()">
        <i class="uil uil-arrow-left"></i> Back
      </button>
      <h2
        class="font:32:mono text-color:800 margin-left:20  text-header:200 "
      >
        Cisco ASA - Configurations
      </h2>
    </div>
    <div class="">
      <button class="skewed-button button-fill-blue" type="button">
        <i class="skewed-button__icon uil uil-arrow-up-right"> </i>
        <span class="skewed-button__label"> View Report</span>
      </button>
    </div>
  </div>

  <!-- compare between control -->
  <div class="align-items-center comparison-between flex-row margin-top:40">
    <span class="font:16:400">Comparison between</span>
    <select>
      <option> 1 </option>
    </select>
    <span class="font:16:400">and</span>
    <select>
      <option> 1 </option>
    </select>
    <div class="flex-row align-items-center file-compare-view-toggle">
      <span class="font:16:400">View:</span>
      <div class="flex-row">
        <div class="split">
          <input
            type="radio"
            id="test1"
            name="radio-group"
            checked
            (change)="onChangeInline($event)"
          />
          <label for="test1"
            ><svg
              width="22"
              height="26"
              viewBox="0 0 22 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="10" height="26" rx="1" fill="#C6E4FE" />
              <rect x="12" width="10" height="26" rx="1" fill="#C6E4FE" />
            </svg>
          </label>
        </div>
        <div class="unified">
          <input
            type="radio"
            id="test2"
            name="radio-group"
            (change)="onChangeInline($event)"
          />
          <label for="test2"
            ><svg
              width="26"
              height="22"
              viewBox="0 0 26 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="26"
                width="10"
                height="26"
                rx="1"
                transform="rotate(90 26 0)"
                fill="#BBD3E8"
              />
              <rect
                x="26"
                y="12"
                width="10"
                height="26"
                rx="1"
                transform="rotate(90 26 12)"
                fill="#BBD3E8"
              />
            </svg>
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- compare between meta information -->
  <div class="flex-row justify-between margin-top:30">
    <div class="tablet--grid-col">
      <dl>
        <dt>Host Name</dt>
        <dd>Asafw</dd>
      </dl>
      <dl>
        <dt>Total Rules</dt>
        <dd>200</dd>
      </dl>
    </div>
    <div class="tablet--grid-col">
      <dl>
        <dt>Added on</dt>
        <dd>23 Sept 2019</dd>
      </dl>
      <dl>
        <dt>Mechanism</dt>
        <dd><i class="uil uil-pen"></i> Manual</dd>
      </dl>
    </div>
    <div class="tablet--grid-col">
      <dl>
        <dt>Host Name</dt>
        <dd>CISFW</dd>
      </dl>
      <dl>
        <dt>Total Rules</dt>
        <dd>100</dd>
      </dl>
    </div>
    <div class="tablet--grid-col">
      <dl>
        <dt>Added on</dt>
        <dd>12 Sep 2019</dd>
      </dl>
      <dl>
        <dt>Mechanism</dt>
        <dd><i class="uil uil-repeat"></i> Automatic</dd>
      </dl>
    </div>
  </div>

  <div class="flex-row margin-top:30 margin-bottom:30 container-diff">
    <div class="editor editor-size">
      <ngx-monaco-diff-editor
        id="diffeditor"
        [options]="diffOptions"
        [originalModel]="originalModel"
        [modifiedModel]="modifiedModel"
      ></ngx-monaco-diff-editor>
    </div>
  </div>
</div>
