<div class="d-container">
  <h2 class="font:24:mono text-header:200 margin-bottom:40">
    Review
  </h2>
  <div class="flex-row margin-bottom:30 padding-bottom:30">
    <div class="card-icon">
      <svg
        class="image:32 icon--cloud"
        fill="none"
        height="64"
        viewBox="0 0 64 64"
        width="64"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="ng-tns-c1-0"
          d="M30 1.1547C31.2376 0.440169 32.7624 0.440169 34 1.1547L57.7128 14.8453C58.9504 15.5598 59.7128 16.8803 59.7128 18.3094V45.6906C59.7128 47.1197 58.9504 48.4402 57.7128 49.1547L34 62.8453C32.7624 63.5598 31.2376 63.5598 30 62.8453L6.28719 49.1547C5.04958 48.4402 4.28719 47.1197 4.28719 45.6906V18.3094C4.28719 16.8803 5.04958 15.5598 6.28719 14.8453L30 1.1547Z"
          fill="#1393FF"
          opacity="0.2"
        ></path>
        <path
          class="ng-tns-c1-0"
          d="M44.0001 40.6666H35.7601C35.561 40.1074 35.2399 39.5996 34.8202 39.1798C34.4005 38.7601 33.8926 38.4391 33.3334 38.24V34H37.5601C38.9719 34.0464 40.3517 33.5735 41.4384 32.671C42.525 31.7685 43.2431 30.4989 43.4566 29.1026C43.6702 27.7062 43.3644 26.2801 42.5972 25.094C41.83 23.908 40.6546 23.0443 39.2934 22.6666C38.5804 21.0867 37.3735 19.7812 35.8544 18.9464C34.3353 18.1116 32.5862 17.7928 30.8703 18.0379C29.1543 18.2831 27.5644 19.0789 26.3399 20.3056C25.1153 21.5323 24.3222 23.1236 24.0801 24.84C22.995 25.1442 22.0567 25.8309 21.4384 26.7731C20.8202 27.7153 20.5638 28.8494 20.7165 29.9659C20.8693 31.0825 21.4209 32.106 22.2696 32.8475C23.1182 33.589 24.2065 33.9983 25.3334 34H30.6667V38.24C30.1076 38.4391 29.5997 38.7601 29.1799 39.1798C28.7602 39.5996 28.4392 40.1074 28.2401 40.6666H20.0001C19.6465 40.6666 19.3073 40.8071 19.0573 41.0572C18.8072 41.3072 18.6667 41.6463 18.6667 42C18.6667 42.3536 18.8072 42.6927 19.0573 42.9428C19.3073 43.1928 19.6465 43.3333 20.0001 43.3333H28.2401C28.5204 44.1055 29.0316 44.7727 29.7043 45.2442C30.377 45.7157 31.1786 45.9686 32.0001 45.9686C32.8216 45.9686 33.6231 45.7157 34.2959 45.2442C34.9686 44.7727 35.4798 44.1055 35.7601 43.3333H44.0001C44.3537 43.3333 44.6928 43.1928 44.9429 42.9428C45.1929 42.6927 45.3334 42.3536 45.3334 42C45.3334 41.6463 45.1929 41.3072 44.9429 41.0572C44.6928 40.8071 44.3537 40.6666 44.0001 40.6666ZM25.3334 31.3333C24.803 31.3333 24.2943 31.1226 23.9192 30.7475C23.5441 30.3724 23.3334 29.8637 23.3334 29.3333C23.3334 28.8029 23.5441 28.2942 23.9192 27.9191C24.2943 27.544 24.803 27.3333 25.3334 27.3333C25.687 27.3333 26.0262 27.1928 26.2762 26.9428C26.5263 26.6927 26.6667 26.3536 26.6667 26C26.6633 24.734 27.1102 23.5081 27.9277 22.5414C28.7451 21.5748 29.8798 20.9304 31.1287 20.7236C32.3777 20.5168 33.6595 20.761 34.7449 21.4125C35.8304 22.0641 36.6486 23.0805 37.0534 24.28C37.1296 24.5091 37.2666 24.7132 37.4498 24.8705C37.633 25.0279 37.8554 25.1325 38.0934 25.1733C38.8151 25.2937 39.4704 25.667 39.9419 26.2265C40.4134 26.7859 40.6704 27.495 40.6667 28.2266C40.6632 29.0495 40.3348 29.8376 39.753 30.4195C39.1711 31.0014 38.3829 31.3298 37.5601 31.3333H25.3334ZM32.0001 43.3333C31.7364 43.3333 31.4786 43.2551 31.2593 43.1086C31.0401 42.9621 30.8692 42.7538 30.7682 42.5102C30.6673 42.2666 30.6409 41.9985 30.6924 41.7398C30.7438 41.4812 30.8708 41.2436 31.0573 41.0572C31.2437 40.8707 31.4813 40.7437 31.74 40.6923C31.9986 40.6408 32.2667 40.6672 32.5103 40.7681C32.754 40.869 32.9622 41.0399 33.1087 41.2592C33.2552 41.4785 33.3334 41.7363 33.3334 42C33.3334 42.3536 33.1929 42.6927 32.9429 42.9428C32.6928 43.1928 32.3537 43.3333 32.0001 43.3333Z"
          fill="#1393FF"
        ></path>
      </svg>
    </div>
    <div class="tablet--grid-col">
      <dl>
        <dt>Asset name</dt>
        <dd>
          Cisco Asa
        </dd>
      </dl>
      <dl>
        <dt>Asset type</dt>
        <dd>
          Firewall
        </dd>
      </dl>
      <dl>
        <dt>IP address</dt>
        <dd>
          192.0.0.0/29
        </dd>
      </dl>
    </div>
    <div class="tablet--grid-col">
      <dl>
        <dt>Owner</dt>
        <dd>
          Ram
        </dd>
      </dl>
      <dl>
        <dt>Vendor</dt>
        <dd>
          Cisco Asa
        </dd>
      </dl>
      <dl>
        <dt>Start Date</dt>
        <dd>
          23 Sept 2019 6:10:24 AM
        </dd>
      </dl>
    </div>
    <div class="tablet--grid-col">
      <dl class="flex-row">
        <dt>Review Status</dt>
        <dd>
          <div class="flex-row align-items-center">
            <progress max="50" value="35"> 35% </progress>
            <span class="progress-value"> 35 / 50 </span>
          </div>
        </dd>
      </dl>
      <dl>
        <dt>Review By</dt>
        <dd class="d-inline-block">
          <ul class="avatargroup--stack">
            <li>
              <img
                src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                alt="reviewer name"
              />
            </li>
            <li>
              <img
                src="https://i.pravatar.cc/150?u=a042581fade29026704d"
                alt="reviewer name"
              />
            </li>
            <li>
              <img
                src="https://i.pravatar.cc/150?u=a042581g4f29026704d"
                alt="reviewer name"
              />
            </li>
            <li>
              <img
                src="https://i.pravatar.cc/150?u=a182581g8f29026704d"
                alt="reviewer name"
              />
            </li>
          </ul>
          <span class="text">
            +12 more members
          </span>
        </dd>
      </dl>
    </div>
  </div>
  <div class="margin-top:60">
    <ul class="tab-list" role="tablist">
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'assignedRules'"
        rel="assignedRules"
        (click)="viewMode = 'assignedRules'"
      >
        <span class="icon">
          <i class="uil uil-file-check-alt"></i>
        </span>
        My Assigned Rules
      </li>
      <li
        class="tab-list-item"
        [class.active]="viewMode == 'reviewRules'"
        rel="reviewRules"
        (click)="viewMode = 'reviewRules'"
      >
        <span class="icon">
          <i class="uil uil-file-alt"></i>
        </span>
        Review Rules
      </li>
    </ul>

    <div [ngSwitch]="viewMode">
      <div *ngSwitchCase="'assignedRules'">
        <div
          class="flex-row align-items-center margin-bottom:30 justify-between"
        >
          <div class="font:18:mono text-subtext:100">
            15 Rules Remaining
          </div>
          <div id="search-filter-export" class="flex-row">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
            <div class="margin-right:30">
              <button class="skewed-button button-fill-white" type="button">
                <i class="skewed-button__icon uil uil-filter"> </i>
                <span class="skewed-button__label">Filter</span>
              </button>
            </div>
            <div class="">
              <button class="skewed-button button-fill-blue" type="button">
                <i class="skewed-button__icon uil uil-arrow-up-right"> </i>
                <span class="skewed-button__label"> Export as CSV</span>
              </button>
            </div>
          </div>

          <div hidden id="rule-link-review" class="flex-row">
            <div class="margin-right:30">
              <button class="skewed-button button-fill-white" type="button">
                <span class="skewed-button__label">Nominate Rules</span>
              </button>
            </div>
            <div class="margin-right:30">
              <button
                class="skewed-button button-fill-transparent"
                type="button"
              >
                <span class="skewed-button__label">Link Change</span>
              </button>
            </div>
            <div class=" ">
              <button class="skewed-button button-fill-blue" type="button">
                <span class="skewed-button__label"> Review Action</span>
              </button>
            </div>
          </div>
        </div>

        <div class="margin-top:40 margin-bottom:40 flex-row table-title">
          <span class="grid-col-20px"></span>
          <span class="tablet--grid-col">Attribute</span>
          <span class="tablet--grid-col">Inference</span>
          <span class="tablet--grid-col">Entities</span>
          <span class="tablet--grid-col">Service/ Protocol</span
          ><span class="tablet--grid-col">Review</span>
          <span class="cursor:pointer tablet--grid-col">
            <i class="uil uil-info-circle"></i>
            Legends
          </span>
        </div>

        <!-- load the data form card component -->
        <div class="card-full-sim margin-bottom:20">
          <ul
            (click)="toggle(1)"
            class="cursor:pointer card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="grid-col-20px">
              <div class="form-checkbox-group">
                <input
                  (click)="checkme($event)"
                  class="form-checkbox-input"
                  id="review-my-assigned-rule-1"
                  type="checkbox"
                  value=""
                /><label
                  class="form-checkbox-label"
                  for="review-my-assigned-rule-1"
                ></label>
              </div>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              ><span class="table-text d-block margin-bottom:10">Extended</span>
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
                <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
                <i class="uil uil-exclamation-triangle status-icon-high"></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">
                <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
                Outside
              </span>
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                dns_server
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block">
                <i class="table-icon uil uil-entry status-icon-critical"></i>
                Any,
              </span>
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
              <span class="table-text d-block margin-top:10">
                <i class="table-icon uil uil-exit status-icon-critical"></i>
                ind_sap03_p
              </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>

            <li class="tablet--grid-col">
              <span class="table-text d-block"> DM_IN_SRV_1, </span>
              <span class="table-text d-block"> dm_vrv_01, </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>

            <li class="border-left-after:1 padding-left:30 tablet--grid-col">
              <span class="table-text margin-bottom:20 d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Status:</strong
                >
                <span class="font:12:400 button-chip  bg-alert-color:medium ">
                  Pending
                </span>
              </span>
              <span class="table-text d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Result:</strong
                >
                <span class="font:12:400 button-chip status-bg-high">
                  Modify
                </span>
              </span>
            </li>
            <li class="grid-col-20px d-flex align-items-end">
              <button>
                <i
                  class="uil uil-angle-{{ hideRuleContent[1] ? 'down' : 'up' }}"
                ></i>
              </button>
            </li>
            <li
              class="grid-col-12 border-top-after:1 margin-top:20 padding-top:20 justification-area"
              *ngIf="hideRuleContent[1]"
            >
              <ul class="flex-row justify-between">
                <li class="tablet--grid-col">
                  <dl class="flex-row">
                    <dt>Justification</dt>
                    <dd>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard.
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:center">
                  <dl>
                    <dt>Change ID</dt>
                    <dd>
                      <a href="#" class="link-text">134567</a>
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:right">
                  <dl>
                    <dt>Review By</dt>
                    <dd>
                      <img
                        class="border-circle image:20"
                        src="https://i.pravatar.cc/150?u=a042581f4e290267"
                        alt=""
                      />
                      <span class="margin-left:10 d-inline-block font:14:400"
                        >Ram Bal</span
                      >
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- load the data form card component -->
        <div class="card-full-sim margin-bottom:20">
          <ul
            (click)="toggle(2)"
            class="cursor:pointer card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="grid-col-20px">
              <div class="form-checkbox-group">
                <input
                  (click)="checkme($event)"
                  class="form-checkbox-input"
                  id="review-my-assigned-rule-2"
                  type="checkbox"
                  value=""
                /><label
                  class="form-checkbox-label"
                  for="review-my-assigned-rule-2"
                ></label>
              </div>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              ><span class="table-text d-block margin-bottom:10">Extended</span>
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
                <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
                <i class="uil uil-exclamation-triangle status-icon-high"></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">
                <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
                Outside
              </span>
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                dns_server
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block">
                <i class="table-icon uil uil-exit status-icon-critical"></i>
                FP,
              </span>
              <span class="table-text d-block margin-top:10">
                <i class="table-icon uil uil-entry status-icon-critical"></i>
                ind_sap03_p
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block"> DM_IN_SRV_1, </span>
              <span class="table-text d-block"> dm_vrv_01, </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>
            <li class="border-left-after:1 padding-left:30 tablet--grid-col">
              <span class="table-text margin-bottom:20 d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Status:</strong
                >
                <span class="font:12:400 button-chip  bg-alert-color:medium ">
                  Pending
                </span>
              </span>
              <span class="table-text d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Result:</strong
                >
                <span class="font:12:400 button-chip status-bg-high">
                  Modify
                </span>
              </span>
            </li>
            <li class="grid-col-20px d-flex align-items-end">
              <button>
                <i
                  class="uil uil-angle-{{ hideRuleContent[2] ? 'down' : 'up' }}"
                ></i>
              </button>
            </li>
            <li
              class="grid-col-12 border-top-after:1 margin-top:20 padding-top:20 justification-area"
              *ngIf="hideRuleContent[2]"
            >
              <ul class="flex-row justify-between">
                <li class="tablet--grid-col">
                  <dl class="flex-row">
                    <dt>Justification</dt>
                    <dd>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard.
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:center">
                  <dl>
                    <dt>Change ID</dt>
                    <dd>
                      <a href="#" class="link-text">134567</a>
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:right">
                  <dl>
                    <dt>Review By</dt>
                    <dd>
                      <img
                        class="border-circle image:20"
                        src="https://i.pravatar.cc/150?u=a042581f4e290267"
                        alt=""
                      />
                      <span class="margin-left:10 d-inline-block font:14:400"
                        >Ram Bal</span
                      >
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- load the data form card component -->
        <div class="card-full-sim margin-bottom:20">
          <ul
            (click)="toggle(3)"
            class="cursor:pointer cursor:pointer card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="grid-col-20px">
              <div class="form-checkbox-group">
                <input
                  (click)="checkme($event)"
                  class="form-checkbox-input"
                  id="review-my-assigned-rule-3"
                  type="checkbox"
                  value=""
                /><label
                  class="form-checkbox-label"
                  for="review-my-assigned-rule-3"
                ></label>
              </div>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              ><span class="table-text d-block margin-bottom:10">Extended</span>
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
                <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
                <i class="uil uil-exclamation-triangle status-icon-high"></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">
                <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
                Outside
              </span>
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                dns_server
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                FP,
              </span>
              <span class="table-text d-block margin-top:10">
                <i
                  class="table-icon uil uil-arrow-left status-icon-critical"
                ></i>
                ind_sap03_p
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block"> DM_IN_SRV_1, </span>
              <span class="table-text d-block"> dm_vrv_01, </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>
            <li class="border-left-after:1 padding-left:30 tablet--grid-col">
              <span class="table-text margin-bottom:20 d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Status:</strong
                >
                <span class="font:12:400 button-chip  bg-alert-color:medium ">
                  Pending
                </span>
              </span>
              <span class="table-text d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Result:</strong
                >
                <span class="font:12:400 button-chip status-bg-high">
                  Modify
                </span>
              </span>
            </li>
            <li class="grid-col-20px d-flex align-items-end">
              <button>
                <i
                  class="uil uil-angle-{{ hideRuleContent[3] ? 'down' : 'up' }}"
                ></i>
              </button>
            </li>
            <li
              class="grid-col-12 border-top-after:1 margin-top:20 padding-top:20 justification-area"
              *ngIf="hideRuleContent[3]"
            >
              <ul class="flex-row justify-between">
                <li class="tablet--grid-col">
                  <dl class="flex-row">
                    <dt>Justification</dt>
                    <dd>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard.
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:center">
                  <dl>
                    <dt>Change ID</dt>
                    <dd>
                      <a href="#" class="link-text">134567</a>
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:right">
                  <dl>
                    <dt>Review By</dt>
                    <dd>
                      <img
                        class="border-circle image:20"
                        src="https://i.pravatar.cc/150?u=a042581f4e290267"
                        alt=""
                      />
                      <span class="margin-left:10 d-inline-block font:14:400"
                        >Ram Bal</span
                      >
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- content end -->
      </div>

      <div *ngSwitchCase="'reviewRules'">
        <div class="flex-row align-items-center justify-between">
          <div class="font:18:mono text-subtext:100">
            25 Rules Remaining
          </div>
          <div class="flex-row">
            <div class="margin-right:30 input-search">
              <div class="input-group">
                <label [hidden] for="searchText"></label>
                <i class="uil uil-white uil-search"></i>
                <input
                  [(ngModel)]="searchText"
                  type="text"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                />
              </div>
            </div>
            <div class="margin-right:30">
              <button class="skewed-button button-fill-white" type="button">
                <i class="skewed-button__icon uil uil-filter"> </i>
                <span class="skewed-button__label">Filter</span>
              </button>
            </div>
            <div class="">
              <button class="skewed-button button-fill-blue" type="button">
                <i class="skewed-button__icon uil uil-arrow-up-right"> </i>
                <span class="skewed-button__label"> Export as CSV</span>
              </button>
            </div>
          </div>
        </div>
        <div class="margin-top:40 margin-bottom:40 flex-row table-title">
          <span class="grid-col-20px"></span>
          <span class="tablet--grid-col">Attribute</span>
          <span class="tablet--grid-col">Inference</span>
          <span class="tablet--grid-col">Entities</span>
          <span class="tablet--grid-col">Service/ Protocol</span
          ><span class="tablet--grid-col">Review</span>
          <span class="cursor:pointer tablet--grid-col">
            <i class="uil uil-info-circle"></i>
            Legends
          </span>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            (click)="toggle(3)"
            class="cursor:pointer cursor:pointer card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">working</span
              ><span class="table-text d-block margin-bottom:10">Extended</span>
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
                <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
                <i class="uil uil-exclamation-triangle status-icon-high"></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">
                <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
                Outside
              </span>
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                dns_server
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                FP,
              </span>
              <span class="table-text d-block margin-top:10">
                <i
                  class="table-icon uil uil-arrow-left status-icon-critical"
                ></i>
                ind_sap03_p
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block"> DM_IN_SRV_1, </span>
              <span class="table-text d-block"> dm_vrv_01, </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>
            <li class="border-left-after:1 padding-left:30 tablet--grid-col">
              <span class="table-text margin-bottom:20 d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Status:</strong
                >
                <span class="font:12:400 button-chip  bg-alert-color:medium ">
                  Pending
                </span>
              </span>
              <span class="table-text d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Result:</strong
                >
                <span class="font:12:400 button-chip status-bg-high">
                  Modify
                </span>
              </span>
            </li>
            <li class="grid-col-20px d-flex align-items-end">
              <button>
                <i
                  class="uil uil-angle-{{
                    hideRuleContent[30] ? 'down' : 'up'
                  }}"
                ></i>
              </button>
            </li>
            <li
              class="grid-col-12 border-top-after:1 margin-top:20 padding-top:20 justification-area"
              *ngIf="hideRuleContent[30]"
            >
              <ul class="flex-row justify-between">
                <li class="tablet--grid-col">
                  <dl class="flex-row">
                    <dt>Justification</dt>
                    <dd>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard.
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:center">
                  <dl>
                    <dt>Change ID</dt>
                    <dd>
                      <a href="#" class="link-text">134567</a>
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:right">
                  <dl>
                    <dt>Review By</dt>
                    <dd>
                      <img
                        class="border-circle image:20"
                        src="https://i.pravatar.cc/150?u=a042581f4e290267"
                        alt=""
                      />
                      <span class="margin-left:10 d-inline-block font:14:400"
                        >Ram Bal</span
                      >
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="card-full-sim margin-bottom:20">
          <ul
            class="cursor:pointer card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              ><span class="table-text d-block margin-bottom:10">Extended</span>
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
                <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
                <i class="uil uil-exclamation-triangle status-icon-high"></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">
                <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
                Outside
              </span>
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                dns_server
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block">
                <i class="table-icon uil uil-entry status-icon-critical"></i>
                Any,
              </span>
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
              <span class="table-text d-block margin-top:10">
                <i class="table-icon uil uil-exit status-icon-critical"></i>
                ind_sap03_p
              </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>

            <li class="tablet--grid-col">
              <span class="table-text d-block"> DM_IN_SRV_1, </span>
              <span class="table-text d-block"> dm_vrv_01, </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>

            <li class="border-left-after:1 padding-left:30 tablet--grid-col">
              <span class="table-text margin-bottom:20 d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Status:</strong
                >
                <span class="font:12:400 button-chip  bg-alert-color:medium ">
                  Pending
                </span>
              </span>
              <span class="table-text d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Result:</strong
                >
                <span class="font:12:400 button-chip status-bg-high">
                  Modify
                </span>
              </span>
            </li>
            <li class="grid-col-20px d-flex align-items-end">
              <button>
                <i
                  class="uil uil-angle-{{ hideRuleContent[4] ? 'down' : 'up' }}"
                ></i>
              </button>
            </li>
            <li
              class="grid-col-12 border-top-after:1 margin-top:20 padding-top:20 justification-area"
              *ngIf="hideRuleContent[4]"
            >
              <ul class="flex-row justify-between">
                <li class="tablet--grid-col">
                  <dl class="flex-row">
                    <dt>Justification</dt>
                    <dd>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard.
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:center">
                  <dl>
                    <dt>Change ID</dt>
                    <dd>
                      <a href="#" class="link-text">134567</a>
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:right">
                  <dl>
                    <dt>Review By</dt>
                    <dd>
                      <img
                        class="border-circle image:20"
                        src="https://i.pravatar.cc/150?u=a042581f4e290267"
                        alt=""
                      />
                      <span class="margin-left:10 d-inline-block font:14:400"
                        >Ram Bal</span
                      >
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-full-sim margin-bottom:20">
          <ul
            class="cursor:pointer card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
          >
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10"
                >Outside_access_in</span
              ><span class="table-text d-block margin-bottom:10">Extended</span>
              <span
                class="flex-row margin-top:10 icon-size:20 icon-space-right:15"
              >
                <i class="uil uil-check-circle   icon-color:incompleted  "></i>
                <i class="uil uil-file-check-alt   icon-color:incompleted  "></i>
                <i class="uil uil-exclamation-triangle status-icon-high"></i>
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block margin-bottom:10">
                <i class="table-icon uil uil-arrow-left   icon-color:incompleted  "></i>
                Outside
              </span>
              <span class="table-text d-block">
                <i
                  class="table-icon uil uil-arrow-right status-icon-critical"
                ></i>
                dns_server
              </span>
            </li>
            <li class="tablet--grid-col">
              <span class="table-text d-block">
                <i class="table-icon uil uil-entry status-icon-critical"></i>
                Any,
              </span>
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
              <span class="table-text d-block margin-top:10">
                <i class="table-icon uil uil-exit status-icon-critical"></i>
                ind_sap03_p
              </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>

            <li class="tablet--grid-col">
              <span class="table-text d-block"> DM_IN_SRV_1, </span>
              <span class="table-text d-block"> dm_vrv_01, </span>
              <!-- TODO: enable if have more -->
              <a href="#" class="link-text table-text d-block">
                +5 more
              </a>
            </li>

            <li class="border-left-after:1 padding-left:30 tablet--grid-col">
              <span class="table-text margin-bottom:20 d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Status:</strong
                >
                <span class="font:12:400 button-chip  bg-alert-color:medium ">
                  Pending
                </span>
              </span>
              <span class="table-text d-block">
                <strong class="font:14:500 padding-right:10"
                  >Review Result:</strong
                >
                <span class="font:12:400 button-chip status-bg-high">
                  Modify
                </span>
              </span>
            </li>
            <li class="grid-col-20px d-flex align-items-end">
              <button>
                <i
                  class="uil uil-angle-{{ hideRuleContent[5] ? 'down' : 'up' }}"
                ></i>
              </button>
            </li>
            <li
              class="grid-col-12 border-top-after:1 margin-top:20 padding-top:20 justification-area"
              *ngIf="hideRuleContent[5]"
            >
              <ul class="flex-row justify-between">
                <li class="tablet--grid-col">
                  <dl class="flex-row">
                    <dt>Justification</dt>
                    <dd>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard.
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:center">
                  <dl>
                    <dt>Change ID</dt>
                    <dd>
                      <a href="#" class="link-text">134567</a>
                    </dd>
                  </dl>
                </li>
                <li class="tablet--grid-col text:right">
                  <dl>
                    <dt>Review By</dt>
                    <dd>
                      <img
                        class="border-circle image:20"
                        src="https://i.pravatar.cc/150?u=a042581f4e290267"
                        alt=""
                      />
                      <span class="margin-left:10 d-inline-block font:14:400"
                        >Ram Bal</span
                      >
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
