<div class="page-admin-client-component">
  <h2 class="title">Event Logs</h2>
  <div class="flex-row align-items-center justify-between filter-area">
    <span class="no-logs">
      <span>1</span> - <span>10</span> of <span>100</span> Logs
    </span>
    <div class="asset-view-search input-search margin-left:40">
      <div class="input-group">
        <label [hidden] for="searchText"></label>
        <i class="uil uil-white uil-search"></i>
        <input
          type="text"
          name="searchText"
          id="searchText"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="">
      <div class="calender flex-row">
        <div class="datepicker start-date margin-right:30">
          <label for="">Start Date:</label>
          <input [matDatepicker]="startDate" [formControl]="start_date" />
          <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </div>
        <div class="datepicker end-date">
          <label for="">End Date:</label>
          <input [matDatepicker]="endDate" [formControl]="end_date" />
          <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </div>
      </div>
    </div>
  </div>

  <div class="page-data-content">
    <!-- page data title -->
    <ul>
      <li>
        <span>ID </span>
        <span>Level</span>
        <span>User</span>
        <span>Activity Description </span>
        <span>Log Data</span>
      </li>
    </ul>
    <!-- page data content -->
    <ul>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
      <li>
        <span>1728</span>
        <span><span class="btn-chip">Information</span> </span>
        <span>Ram Rillusion</span>
        <span>User Login successfully</span>
        <span>2019/11/29</span>
      </li>
    </ul>
  </div>
</div>
