.page-admin-client-component {
  .title {
    margin-bottom : 37px;
    font-family : var(--roboto-mono);
    font-size : 32px;
    line-height : 37px;
    color : var(--text-paragraph-800);
  }
  .filter-area {
    margin-bottom : 30px;
    .no-logs {
      font-family : var(--roboto-mono);
      font-size : 18px;
      line-height : 21px;
      color : var(--text-color-500);
      span {
        color : inherit;
      }
    }
  }
  ul {
    li {
      display : grid;
      gap : 10px;
      grid-template-columns : 143px 199px 184px 329px 115px;
      align-items : center;
      border-bottom : 1px solid rgba(1, 88, 162, 0.2);

      span {
        padding-top : 18px;
        padding-bottom : 18px;
        .btn-chip {
          display : inline-table;
          padding : 3px 18px;
          text-align : center;
          font-family : var(--roboto-400);
          font-size : 12px;
          line-height : 14px;
          line-height : initial;
          letter-spacing : 0.02em;
          text-transform : capitalize;
          color : var(--white);
          background : #1393ff;
          border-radius : 10px;
        }

        &:last-child {
          padding-right : 30px;
        }
        &:first-child {
          padding-left : 30px;
          color : var(--text-paragraph-800);
        }
        &:nth-child(2) {
          // text-align : center;
        }
        &:nth-child(3) {
          color : var(--text-paragraph-800);
        }
        &:nth-child(4) {
          color : var(--text-paragraph-600);
        }
        &:nth-child(5) {
          color : var(--text-paragraph-600);
        }
      }
    }
  }
}
