.form {
  &-group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &-fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-label {
    @extend %heading2-500;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-label-300);
    margin-right: 20px;

    &-helper-text {
      display: flex;
      flex: 1 0 100%;
      padding-left: calc(95px + 20px + 16px);
      margin-top: 8px;
      @extend %option-400;
      line-height: 14px;
      color: var(--tab-active);

      &-error {
        color: var(--tomato);
      }

      &-alert {
        color: var(--faded-orange);
      }

      &-success {
        color: var(--grass);
      }
    }
  }

  &-control {
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    padding: 12px 16px;
    @extend %heading2-400;
    color: var(--slate);

    &--dropdownSelect {
      position: relative;
      flex: 0 0 235px;
      margin: 0;
      padding: 0;

      button {
        padding: 12px 16px;
      }

      .icon {
        right: 16px;
        margin-left: 0;
      }

      .select-sim-wrapper {
        left: -1px;
        width: calc(100% + 2px);
      }
    }
  }

  &-file-control {
    transform: skewX(-20deg);
    position: relative;
    border: none;
    background: var(--isabelline);
    border: 1px solid var(--isabelline);
    border-radius: 3px;

    .form-control {
      &-file {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        ~ .form-control-file-label {
          cursor: pointer;
          display: inline-block;
          padding: 10px 26px;
          transform: skewX(20deg);
          @extend %heading2-400;
          color: var(--slate);
          text-align: center;
        }
      }
    }

    &:hover {
      background: var(--tab-active);
      border-color: var(--tab-active);

      .form-control-file-label {
        color: var(--white);
      }
    }
  }

  &-checkbox-group {
    input {
      &:checked {
        + label,
        ~ label {
          &:before {
            background-color: var(--tab-active);
          }

          &:after {
            content: "\e8d9";
            font-family: var(--icon);
            position: absolute;
            left: 0;
            right: 0;
            color: var(--white);
            width: 24px;
            height: 24px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .form-checkbox-input {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    .form-checkbox-label {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border: 1px solid var(--check-border-color);
        border-radius: 2px;
      }
    }
  }

  &-radio-group {
    .form-control-radio {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;

      &:checked {
        ~ label {
          &:before {
            background-color: var(--tab-active);
          }

          &:after {
            content: "\e8d9";
            font-family: var(--icon);
            position: absolute;
            left: 0;
            right: 0;
            color: var(--white);
            width: 24px;
            height: 24px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .form-label {
      position: relative;
      display: flex;
      margin-bottom: 20px;
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border: 1px solid var(--check-border-color);
        border-radius: 50%;
      }
    }
  }
}

.asset-information-wizard {
  .form-group {
    width: 350px;
    flex-wrap: wrap;
  }

  .form-label {
    flex: 1 0 95px;
  }

  .upload-file {
    .form {
      &-label {
        flex: 0 0 95px;
      }

      &-file-control {
        left: 6px;
      }
    }
  }
}

.space-center-20 {
  button {
    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.input-search {
  .input-group {
    transform: skewX(-20deg);
    border: 1px solid rgba(1, 88, 161, 0.2);
    border-radius: 2px;
    position: relative;
    padding-left: 20px;

    i.uil {
      &:before {
        font-size: 16px;
        color: var(--text-color-400);
        transform: skewX(+20deg);
      }
    }

    input {
      transform: skewX(+20deg);
      padding: 10px 18px;
      font-family: var(--roboto-400);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: var(--text-color-400);
    }
  }
}

// normal
.form {
  // group
  &-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // input

  &-input {
    &-label {
      @extend %heading2-500;
      color: var(--text-label-300);
      min-width: 132px;
      margin-right: 20px;
      text-align: right;
    }

    @extend %heading2-400;
    color: var(--slate);
    padding: 12px 16px;
    border: 1px solid var(--input-border-color);
    // border: 1px solid #c4d9ec;

    box-sizing: border-box;
    // min-width : 220px;
    flex: 1 0 auto;
    border-radius: 2px;
  }

  // checkbox

  &-checkbox {
    &-collection {
      display: flex;
      flex-direction: column;
    }

    &-group {
      position: relative;
      margin-bottom: 20px;
    }

    &-label {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border: 1px solid var(--text-label-300);
        border-radius: 2px;
      }
    }

    &-input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;

      &:checked {
        ~ label {
          &:before {
            background-color: var(--tab-active);
          }

          &:after {
            content: "\e8d9";
            font-family: var(--icon);
            position: absolute;
            left: 0;
            right: 0;
            color: var(--white);
            width: 24px;
            height: 24px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.input-chip {
  background: #edf6fe;
  border-radius: 32px;
  padding: 7px 16px;
  display: inline-block;

  &__icon {
    display: inline-block;
    font-size: 16px;
    margin-right: 7px;
  }

  &__text {
    display: inline-block;
    @extend %heading3-400;
  }

  &-collection {
    // display : flex;
    // flex-wrap : wrap;

    .input-chip {
      margin-bottom: 20px;
      margin-right: 20px;

      &:nth-last-child(2) {
        margin-right: 0;
      }
    }
  }

  &-add {
    // display : inline-flex;
    flex: 1 0 220px;
    margin-bottom: 0;

    .input-chip {
      margin-bottom: 0;
    }
  }
}

.space-center-20 {
  .skewed-button {
    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.align-items-start {
  align-items: start;
}

.justify-center {
  justify-content: center;
}

select {
  width: auto;
  @extend %heading2-400;
  color: var(--slate);
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  flex: 1 0 auto;
  border-radius: 2px;
}

select {
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACWSURBVHgBjY6tCsJQHMXP2QWzj3BfQDAaDT6ANsW9g4IfYFsz6ODarCaNdoMms/gCzjdYEMs+/rsMVsYY+8XzxeF05X8gotEEMnAo6QkNEZtV7+ft0ekNvoTTBdGuHBaGKZLJ2V8fWYjj+VYr1bpbV5fyrySORhezCfJyec1d7I0Qs/wCcfhHP+9qvBB12NLQXe76VV4GYcEvL06lSDIAAAAASUVORK5CYII=")
    no-repeat 94% center;

  &:active {
    background: transparent
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACaSURBVHgBjY4xCsJAEEX/ZHcrEXKEXECwtFTwAFsmYOERVjaNVbYTMUIuIdhZWngAW8EL5Aq2ikwSSJGQLfKKYT5/5vMBD3F6WiY21z6PukIbF07kNAPYtHZxye3O+xCbQySUuoEx70dS+f99V9diXzZSNCOxRy2FutdrNCyBMBBSzxbrz/v5eNEmPWcMdhgBg1zAjC1GQvVtBcm5JJCorZOqAAAAAElFTkSuQmCC")
      no-repeat 94% center;
  }
}

.select-arrow {
  position: relative;

  label:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 42px;
    background: transparent
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACWSURBVHgBjY6tCsJQHMXP2QWzj3BfQDAaDT6ANsW9g4IfYFsz6ODarCaNdoMms/gCzjdYEMs+/rsMVsYY+8XzxeF05X8gotEEMnAo6QkNEZtV7+ft0ekNvoTTBdGuHBaGKZLJ2V8fWYjj+VYr1bpbV5fyrySORhezCfJyec1d7I0Qs/wCcfhHP+9qvBB12NLQXe76VV4GYcEvL06lSDIAAAAASUVORK5CYII=")
      no-repeat center;
    position: absolute;
    right: 16px;
    top: 0;
  }
}

input#manualConfigUpload {
  transform: skewX(-20deg);
  background: #EDEDED;
  border-radius: 1px;
  opacity: 1;
  position: relative;
}
