.d-container {
  max-width : 1200px;
  margin-left : auto;
  margin-right : auto;
  &-full {
    width : 100%;
    padding-left : 30px;
    padding-right : 30px;
  }
}

$justifyPosition : (
  around: space-around,
  between: space-between,
  evenly: space-evenly,
  center: center,
  start: flex-start,
  end: flex-end,
);

@each $name, $position in $justifyPosition {
  .justify-#{$name} {
    justify-content : $position;
  }
}

@each $name, $position in $justifyPosition {
  .align-items-#{$name} {
    align-items : $position;
  }
}

$block : block line inline-block flex inline-flex grid;

@each $item in $block {
  @if $item==grid {
    .d-#{$item} {
      display : #{$item};
      gap : 30px;
    }
  } @else {
    .d-#{$item} {
      display : #{$item};
    }
  }
}

.d-none {
  display : none;
}

.flex-direction\:row {
  flex-direction : row;
}

.flex-direction\:column {
  flex-direction : column;
}

// grid
.grid-row {
  display : grid;
  column-gap : 30px;
}

.table-column\:2fr {
  grid-template-columns : repeat(2, 1fr);
}
.table-column\:3fr {
  grid-template-columns : repeat(3, 1fr);
}
.table-column\:4fr {
  grid-template-columns : repeat(4, 1fr);
}
.table-column\:5fr {
  grid-template-columns : repeat(5, 1fr);
}
.table-column\:6fr {
  grid-template-columns : repeat(6, 1fr);
}

.table-column\:2 {
  grid-template-columns : repeat(auto-fill, minmax(350px, 1fr));
}
.table-column\:3 {
  grid-template-columns : repeat(auto-fill, minmax(250px, 1fr));
}
.table-column\:4 {
  grid-template-columns : repeat(auto-fill, minmax(250px, 1fr));
}
.table-column\:5 {
  grid-template-columns : repeat(auto-fill, minmax(250px, 1fr));
}

// flex

.flex-row {
  display : flex;
  flex-wrap : wrap;
}
.d-flex {
  display : flex;
  flex-wrap : wrap;
}

.tablet--grid-col {
  position : relative;
  flex : 1 1 0;
  /* NOTE : Need to disable below line after responsive issue solved */
  // flex : 1 0 auto;
  /* // overflow : hidden; */
  word-break : break-all;
  width : auto;
  max-width : 100%;
  min-width : 1px;
  position : relative;
  padding-right : 15px;
  padding-left : 15px;
  font-size : 16px;
  line-height : 19px;
  font-family : var(--roboto-400);
  color : var(--card-color);
  a ,
  .link-text {
    /* NOTE: no need of theme color, becuase there is no change in dark theme */
    color : var(--link-text);
  }
}

.justification-area {
  .tablet--grid-col {
    flex : 1 1 0;
    &:first-child dl {
      display : flex;
      flex-wrap : nowrap;
    }
  }
  dl {
    margin-bottom : 0;
    font-size : 14px;
  }
  dd {
    font-size : 14px;
  }
}

.grid-col-link {
  width : calc(100% - 50px);
}

[class^='grid-col-'] {
  flex : 0 1 auto;
  position : relative;
  padding-right : 15px;
  padding-left : 15px;
  // outline : 1px solid lightblue;
}

.grid-col-20px {
  flex : 0 1 auto;
  min-width : 20px;
  padding : 0;

  .uil-angle-up ,
  .uil-angle-down {
    &:after {
      font-size : 14px;
      color : rgba(55, 110, 157, 0.6);
    }
  }
}

.grid-col-2 {
  width : 8.3333333333%;
}
.grid-col-2 {
  width : 16.6666666667%;
}
.grid-col-3 {
  width : 25%;
}
.grid-col-4 {
  width : 33.3333333333%;
}
.grid-col-5 {
  width : 41.6666666667%;
}
.grid-col-6 {
  width : 50%;
}
.grid-col-7 {
  width : 58.3333333333%;
}
.grid-col-8 {
  width : 66.6666666667%;
}
.grid-col-10 {
  width : 75%;
}
.grid-col-10 {
  width : 83.3333333333%;
}
.grid-col-11 {
  width : 91.6666666667%;
}
.grid-col-12 {
  width : 100%;
}

#page-wrapper {
  margin-bottom : 40px;
}

.search-data-nope{
  color: var(--text-color-700);
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--roboto-mono);
  text-align: center;
}
