.pagination {
  &-area {
    border-radius : 10px;
    padding : 3px 20px;
    .disabled {
      cursor : none;
      svg {
        opacity : 0.4;
      }
    }
  }
  &-number {
    min-width : 24px;
    min-height : 24px;
    margin-right : 10px;
    &:last-child {
      margin-right : 0;
    }
    span {
      display : inline-block;
      font-family : var(--roboto-400);
      font-size : 14px;
      line-height : 21px;
      cursor : pointer;
      padding : 2px 8px;
      border : 1px solid transparent;
      border-radius : 5px;
      color : var(--text-color-800);

      &.current {
        border-color : var(--tab-active);
        background : var(--tab-active);
        color : var(--white);
      }
    }
  }
  &-icon {
    display : inline-block;
    vertical-align : middle;

    .icon {
      cursor : pointer;
      display : block;
      width : 25px;
      height : 27px;
    }
  }

  &-next ,
  &-last {
    transform : rotate(180deg);
  }

  &-range {
    font-size : 14px;
    line-height : 21px;
    font-family : var(--roboto-400);
    color : var(--text-color-800);
  }
}

.button__dropdown {
  &--item {
    background : transparent;
    box-shadow : none;
    border-radius : 10px;
    padding : 5px 34px 5px 10px;
    font-family : var(--roboto-400);
    font-weight : normal;
    line-height : 1.3;
    color : var(--text-color-800);
    cursor : pointer;
    position : relative;
    z-index : 1;
    &:after {
      content : '';
      display : inline-block;
      width : 14px;
      height : 14px;
      background-image : url('data:image/svg+xml,%0A%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'10\' height=\'6\' fill=\'none\' viewBox=\'0 0 10 6\'%3E%3Cpath fill=\'%233F5669\' d=\'M5.707 5.293a1 1 0 01-1.414 0L.707 1.707A1 1 0 011.414 0h7.172a1 1 0 01.707 1.707L5.707 5.293z\'/%3E%3C/svg%3E%0A');
      background-repeat : no-repeat;
      background-position : center;
      position : absolute;
      right : 10px;
      top : calc(50% - 7px);
    }
    + .button__dropdown--expand {
      // bottom : 33px;
      // opacity : 1;
      // height : auto;
      // visibility : visible;
    }
  }
  &--expand {
    // width : calc(100% - 0px);
    // border : 1px solid rgba(1, 88, 161, 0.2);
    // position : relative;
    // border-radius : 3px;
    // z-index : 1;
    position : absolute;
    left : 0;
    right : 0;
    overflow : hidden;
    display : flex;
    width : 100%;
    background : var(--bg-card);
    filter : var(--cut-shadow);
    background : linear-gradient(45deg, transparent 10px, var(--bg-card) 0) left
    bottom;
    border-radius : 3px;

    .list-items {
      overflow : hidden;
      width : 100%;
      position : relative;
      border-top : 1px solid rgba(1, 88, 161, 0.2);
      border-right : 1px solid rgba(1, 88, 161, 0.2);
      border-radius : 3px;
      z-index : 1;

      &:before ,
      &:after {
        bottom : 0;
        content : '';
        height : 100%;
        position : absolute;
        z-index : 1;
        z-index : -1;
        border-image : none;
        border-radius : 3px;
      }
      &:before {
        border-color : rgba(1, 88, 161, 0.2);
        border-style : solid;
        border-width : 0 0px 1.5px 1px;
        bottom : 0;
        left : 0;
        top : -8px;
        transform : skewY(44deg);
        transform-origin : 0 0 0;
        width : 10px;
      }
      &:after {
        border-color : rgba(1, 88, 161, 0.2) transparent rgba(1, 88, 161, 0.2)
        rgba(1, 88, 161, 0.2);
        border-style : solid;
        border-width : 0 0px 1px 0px;
        left : 10px;
        width : calc(100% - 10px);
      }
      li {
        text-align : left;
        display : block;
        padding : 10px 10px;
        font-family : var(--roboto-400);
        font-style : normal;
        font-weight : normal;
        font-size : 16px;
        line-height : 19px;
        color : var(--text-color-500);
        border-bottom : 1px solid rgba(1, 88, 161, 0.2);
        cursor : pointer;
        &:last-child {
          border-bottom : 0;
          padding-bottom : 0;
        }
      }
    }
    &.expand-bottom {
      top : 100%;
    }
    &.expand-top {
      bottom : 100%;
    }
  }
}

.border\:1 {
  border-style : solid;
  border-width : 1px;
}
.border\:0 {
  border : 0 !important;
}

.min-width\:200 {
  min-width : 200px;
}

.card__action.read_more {
  position : absolute;
  top : 20px;
  right : 16px;
  opacity : 0;
}


.header__read_more-list {
  .mini-status-table {
    width : 150px;
  }
  top : 50px;
  position : absolute;
  right : 0;
}