.table {
  border-collapse : separate;
  pointer-events : auto;

  &-auto {
    table-layout : auto;
  }

  &-fixed {
    table-layout : fixed;
  }

  &-full {
    width : 100%;
  }

  thead {
    td {
      @extend %heading2-500;
      line-height : 19px;
      color : var(--slate);
      padding-bottom : 24px;
    }
  }

  tbody {
    tr {
      &:not(:last-child) td {
        padding-bottom : 10px;
        padding-bottom : 17px;
      }

      td {
        display : table-cell;
        vertical-align : top;
        font-size : 14px;
        font-family : var(--roboto-400);
        line-height : 21px;
        color : var(--text-paragraph-600);;

        &:first-child {
          &:after {
            content : ':';
            display : inline-block;
          }
        }
      }
    }
  }
}