.toaster {
  &-position {
    position : fixed;
    z-index : 999999;
    pointer-events : none;
    max-width : 446px;

    &.top-right {
      top : 12px;
      right : 12px;
    }

    &.top-center {
      top : 12px;
      left : 0;
      right : 0;
      margin : 0 auto;
    }
  }

  overflow : hidden;
  position : relative;
  clip-path : polygon(0% 0%, 100% 0%, 100% 100%, 4% 99%, 0% 80%);
  display : inline-block;
  padding : 13px 16px;
  border-radius : 3px;

  &-wrapper {
    filter : drop-shadow(0px 0px 30px rgba(2, 108, 197, 0.25));
  }

  &-status {
    display : flex;
    align-items : center;

    &-icon {
      border-radius : 50%;
      border : 1px solid;
      margin-right : 10px;
      font-size : 20px;
      width : 24px;
      height : 24px;
      display : flex;
      align-items : center;
      justify-content : center;
    }

    &-message {
      font-family : var(--roboto-400);
      font-size : 16px;
      line-height : 19px;
      display : flex;
      align-items : center;
    }
  }

  &-message-success {
    background : #dff1d6;
    background-color : green;
    .toaster-status {
      &-icon {
        border-color : #41c303;
        background : #41c303;
        color : #2d7d07;
      }

      &-message {
        color : #fff;
      }
    }
  }

  &-message-info {
    background : #2f96b4;
    background-color : lightblue;
    .toaster-status {
      &-icon {
        border-color : #41c303;
        background : #41c303;
        color : #2d7d07;
      }

      &-message {
        color : #fff;
      }
    }
  }

  &-message-warning {
    background : #f89406;
    background-color : yellow;
    .toaster-status {
      &-icon {
        border-color : #41c303;
        background : #41c303;
        color : #2d7d07;
      }

      &-message {
        color : #fff;
      }
    }
  }

  &-message-error {
    background : #bd362f;
    background-color : error;
    .toaster-status {
      &-icon {
        border-color : #41c303;
        background : #41c303;
        color : #2d7d07;
      }

      &-message {
        color : #fff;
      }
    }
  }
}