<!--

Input:
---
  type_toaster
  type_message

Position:
---
  top-center
  top-right

Icon:
---
 toaster-message-success -- &#xe8d9; -- check
 toaster-message-info -- &#xe9d3; -- eye
 toaster-message-warning -- &#xeb0e; -- pencil
 toaster-message-error -- &#xebef; -- close

-->

<div
  class="toaster-position top-center {{ icon_position }} {{ card_type }} "
  role="alert"
>
  <div class="toaster toaster-message-{{ card_type }}">
    <div class="toaster-status">
      <span class="toaster-status-message">
        <ng-content></ng-content>
      </span>
    </div>
  </div>
</div>
