<div class="d-container">
  <!-- page content filter -->

  <div class="flex-row font:24:mono margin-bottom:40">
    <button class="btn-back" (click)="backClicked()">
      <i class="uil uil-arrow-left"></i> Back
    </button>
    <h2
      class="font:32:mono text-color:800 margin-left:20 font:24:mono  text-header:200 "
    >
      Compliance Policy
    </h2>
  </div>

  <div
    class="flex-row justify-between align-items-center margin-top:40 margin-bottom:40"
  >
    <div class=" text-color:500  font:18:mono text-subtext:100">
      12 Policy Rules
    </div>

    <div
      id="search-filter-export"
      class="flex-row justify-between align-items-center"
    >
      <div class="margin-right:30 input-search">
        <div class="input-group">
          <label [hidden] for="searchText"></label>
          <i class="uil uil-white uil-search"></i>
          <input
            [(ngModel)]="searchText"
            type="text"
            name="searchText"
            id="searchText"
            placeholder="Search"
          />
        </div>
      </div>

      <div class="margin-right:30">
        <button class="skewed-button button-fill-white" type="button">
          <i class="skewed-button__icon uil uil-filter"> </i>
          <span class="skewed-button__label">Filter</span>
        </button>
      </div>

      <div class="asset-view-sortby z-index:1">
        <button
          class="button button__dropdown font:14:400"
          (click)="sortType = !sortType"
        >
          <span class="selected-value">
            <span class="selected-label"> Sort by: </span> {{ onSortBy_value }}
          </span>
          <svg
            class="icon button__dropdown-arrow"
            width="12"
            height="6"
            viewBox="0 0 12 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="down-arrow"
              d="M6.75943 5.7489C6.55799 5.90967 6.28483 5.99998 6 5.99998C5.71517 5.99998 5.44201 5.90967 5.24057 5.7489L0.314498 1.81617C0.164321 1.69624 0.0620546 1.54345 0.020627 1.37713C-0.0208006 1.2108 0.000471115 1.03841 0.0817528 0.881732C0.163034 0.725057 0.300675 0.591139 0.477278 0.496907C0.653879 0.402676 0.861511 0.352362 1.07393 0.352325L10.9261 0.352325C11.1385 0.352362 11.3461 0.402676 11.5227 0.496907C11.6993 0.591139 11.837 0.725057 11.9182 0.881732C11.9995 1.03841 12.0208 1.2108 11.9794 1.37713C11.9379 1.54345 11.8357 1.69624 11.6855 1.81617L6.75943 5.7489Z"
              fill="#989BAE"
            />
          </svg>
        </button>
        <div
          class="button__dropdown-expand select-sim-wrapper"
          *ngIf="sortType"
        >
          <div class="select-sim">
            <span class="select-sim-cut"></span>
            <ul class="lists">
              <li
                *ngFor="let sortBy of sortBys"
                (click)="sortType = !sortType"
                [class.selected]="sortBy !== onSortBy_value"
                (click)="onSortBy(sortBy)"
              >
                {{ sortBy }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="page--compliance-policy">
    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <li class="tablet--grid-col">
          <span class="table-text link-text d-block margin-bottom:10"
            >Rillusion CIS Benchmark Preview</span
          >
          <span class="table-text d-block margin-bottom:10"
            >Default CIS Preview for Rillusion Organization.</span
          >
        </li>
        <li class="tablet--grid-col">
          <span class="table-text margin-bottom:15">Asset type:</span>
          <span class="flex-row">
            <ul class="asset-icon-list">
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36528">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="wifi-router 1">
                        <path
                          fill="#1393FF"
                          d="M10.192 14.917a.583.583 0 100 1.167.583.583 0 000-1.167zm-1.75 0a.583.583 0 100 1.167.583.583 0 000-1.167zm3.5 0a.584.584 0 100 1.167.584.584 0 000-1.167zm1.808-4.959a.582.582 0 011.01 0 .584.584 0 00.793.216.584.584 0 00.239-.799 1.75 1.75 0 00-3.034 0 .583.583 0 00.992.583zm4.083-1.75a4.084 4.084 0 00-7.07 0 .582.582 0 00.479.875.583.583 0 00.507-.291 2.917 2.917 0 015.052 0 .584.584 0 00.8.216.583.583 0 00.232-.8zm-2.391 4.959h-.584v-1.75a.583.583 0 00-1.166 0v1.75H7.858a1.75 1.75 0 00-1.75 1.75v1.166a1.75 1.75 0 001.75 1.75h7.584a1.75 1.75 0 001.75-1.75v-1.166a1.75 1.75 0 00-1.75-1.75zm.583 2.916a.583.583 0 01-.583.584H7.858a.583.583 0 01-.583-.584v-1.166a.583.583 0 01.583-.584h7.584a.583.583 0 01.583.584v1.166z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36629">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="wall 1">
                        <path
                          fill="#1393FF"
                          d="M17.25 10.25a.583.583 0 000-1.167h-.583V7.917h.583a.583.583 0 000-1.167H6.75a.583.583 0 100 1.167H8.5v1.166H6.75a.583.583 0 100 1.167h.584v1.167H6.75a.583.583 0 100 1.166H8.5v1.167H6.75a.583.583 0 000 1.167h.584v1.166H6.75a.583.583 0 000 1.167h10.5a.583.583 0 000-1.167H15.5v-1.166h1.75a.583.583 0 000-1.167h-.583v-1.167h.583a.583.583 0 100-1.166H15.5V10.25h1.75zM9.667 7.917H12v1.166H9.667V7.917zm4.667 2.333v1.167H12V10.25h2.334zm-5.834 0h2.334v1.167H8.5V10.25zm3.5 2.333v1.167H9.667v-1.167H12zm-1.166 3.5H8.5v-1.166h2.334v1.166zm3.5 0H12v-1.166h2.334v1.166zM15.5 13.75h-2.333v-1.167H15.5v1.167zm-2.333-4.667V7.917H15.5v1.166h-2.333z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36630">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="server 1">
                        <path
                          fill="#1393FF"
                          d="M13.75 14.917a.584.584 0 100 1.167.584.584 0 000-1.167zm-3.5 0H8.5a.584.584 0 000 1.167h1.75a.583.583 0 000-1.167zm5.25 0a.584.584 0 100 1.167.584.584 0 000-1.167zm-1.75-3.5a.584.584 0 100 1.167.584.584 0 000-1.167zm-3.5 0H8.5a.584.584 0 000 1.167h1.75a.583.583 0 000-1.167zm5.25-3.5a.584.584 0 100 1.167.584.584 0 000-1.167zm0 3.5a.584.584 0 100 1.167.584.584 0 000-1.167zm2.334-3.5a1.75 1.75 0 00-1.75-1.75H7.917a1.75 1.75 0 00-1.75 1.75v1.167c.003.431.165.847.455 1.166a1.75 1.75 0 00-.455 1.167v1.167c.003.431.165.847.455 1.166a1.75 1.75 0 00-.455 1.167v1.167a1.75 1.75 0 001.75 1.75h8.167a1.75 1.75 0 001.75-1.75v-1.167a1.75 1.75 0 00-.455-1.167c.29-.32.452-.735.455-1.166v-1.167a1.75 1.75 0 00-.455-1.167c.29-.32.452-.735.455-1.166V7.917zm-1.167 8.167a.583.583 0 01-.583.583H7.917a.583.583 0 01-.583-.583v-1.167a.583.583 0 01.583-.583h8.167a.583.583 0 01.583.583v1.167zm0-3.5a.583.583 0 01-.583.583H7.917a.583.583 0 01-.583-.583v-1.167a.583.583 0 01.583-.583h8.167a.583.583 0 01.583.583v1.167zm0-3.5a.583.583 0 01-.583.583H7.917a.583.583 0 01-.583-.583V7.917a.583.583 0 01.583-.583h8.167a.583.583 0 01.583.583v1.167zM13.75 7.917a.584.584 0 100 1.167.584.584 0 000-1.167zm-3.5 0H8.5a.583.583 0 100 1.167h1.75a.583.583 0 000-1.167z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
            </ul>
            <span class="text link-text">
              + 3 more
            </span>
          </span>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created By</dt>
            <dd>Ram Rillusion</dd>
          </dl>
          <dl>
            <dt>Organization</dt>
            <dd>Rillusion</dd>
          </dl>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created Date</dt>
            <dd>24 Sept 2019</dd>
          </dl>
          <dl>
            <dt>Modified Date</dt>
            <dd>28 Oct 2019</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <li class="tablet--grid-col">
          <span class="table-text link-text d-block margin-bottom:10"
            >Rillusion CIS Benchmark Preview</span
          >
          <span class="table-text d-block margin-bottom:10"
            >Default CIS Preview for Rillusion Organization.</span
          >
        </li>
        <li class="tablet--grid-col">
          <span class="table-text margin-bottom:15">Asset type:</span>
          <span class="flex-row">
            <ul class="asset-icon-list">
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36528">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="wifi-router 1">
                        <path
                          fill="#1393FF"
                          d="M10.192 14.917a.583.583 0 100 1.167.583.583 0 000-1.167zm-1.75 0a.583.583 0 100 1.167.583.583 0 000-1.167zm3.5 0a.584.584 0 100 1.167.584.584 0 000-1.167zm1.808-4.959a.582.582 0 011.01 0 .584.584 0 00.793.216.584.584 0 00.239-.799 1.75 1.75 0 00-3.034 0 .583.583 0 00.992.583zm4.083-1.75a4.084 4.084 0 00-7.07 0 .582.582 0 00.479.875.583.583 0 00.507-.291 2.917 2.917 0 015.052 0 .584.584 0 00.8.216.583.583 0 00.232-.8zm-2.391 4.959h-.584v-1.75a.583.583 0 00-1.166 0v1.75H7.858a1.75 1.75 0 00-1.75 1.75v1.166a1.75 1.75 0 001.75 1.75h7.584a1.75 1.75 0 001.75-1.75v-1.166a1.75 1.75 0 00-1.75-1.75zm.583 2.916a.583.583 0 01-.583.584H7.858a.583.583 0 01-.583-.584v-1.166a.583.583 0 01.583-.584h7.584a.583.583 0 01.583.584v1.166z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
            </ul>
            <span class="text link-text">
              Router
            </span>
          </span>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created By</dt>
            <dd>Ram Rillusion</dd>
          </dl>
          <dl>
            <dt>Organization</dt>
            <dd>Rillusion</dd>
          </dl>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created Date</dt>
            <dd>24 Sept 2019</dd>
          </dl>
          <dl>
            <dt>Modified Date</dt>
            <dd>28 Oct 2019</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <li class="tablet--grid-col">
          <span class="table-text link-text d-block margin-bottom:10"
            >Rillusion CIS Benchmark Preview</span
          >
          <span class="table-text d-block margin-bottom:10"
            >Default CIS Preview for Rillusion Organization.</span
          >
        </li>
        <li class="tablet--grid-col">
          <span class="table-text margin-bottom:15">Asset type:</span>
          <span class="flex-row">
            <ul class="asset-icon-list">
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36528">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="wifi-router 1">
                        <path
                          fill="#1393FF"
                          d="M10.192 14.917a.583.583 0 100 1.167.583.583 0 000-1.167zm-1.75 0a.583.583 0 100 1.167.583.583 0 000-1.167zm3.5 0a.584.584 0 100 1.167.584.584 0 000-1.167zm1.808-4.959a.582.582 0 011.01 0 .584.584 0 00.793.216.584.584 0 00.239-.799 1.75 1.75 0 00-3.034 0 .583.583 0 00.992.583zm4.083-1.75a4.084 4.084 0 00-7.07 0 .582.582 0 00.479.875.583.583 0 00.507-.291 2.917 2.917 0 015.052 0 .584.584 0 00.8.216.583.583 0 00.232-.8zm-2.391 4.959h-.584v-1.75a.583.583 0 00-1.166 0v1.75H7.858a1.75 1.75 0 00-1.75 1.75v1.166a1.75 1.75 0 001.75 1.75h7.584a1.75 1.75 0 001.75-1.75v-1.166a1.75 1.75 0 00-1.75-1.75zm.583 2.916a.583.583 0 01-.583.584H7.858a.583.583 0 01-.583-.584v-1.166a.583.583 0 01.583-.584h7.584a.583.583 0 01.583.584v1.166z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
            </ul>
            <span class="text link-text">
              Router
            </span>
          </span>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created By</dt>
            <dd>Ram Rillusion</dd>
          </dl>
          <dl>
            <dt>Organization</dt>
            <dd>Rillusion</dd>
          </dl>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created Date</dt>
            <dd>24 Sept 2019</dd>
          </dl>
          <dl>
            <dt>Modified Date</dt>
            <dd>28 Oct 2019</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="card-full-sim margin-bottom:20">
      <ul
        class="card-sim flex-row padding-top:20 padding-right:20 padding-bottom:20 padding-left:20"
      >
        <li class="tablet--grid-col">
          <span class="table-text link-text d-block margin-bottom:10"
            >Rillusion CIS Benchmark Preview</span
          >
          <span class="table-text d-block margin-bottom:10"
            >Default CIS Preview for Rillusion Organization.</span
          >
        </li>
        <li class="tablet--grid-col">
          <span class="table-text margin-bottom:15">Asset type:</span>
          <span class="flex-row">
            <ul class="asset-icon-list">
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36528">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="wifi-router 1">
                        <path
                          fill="#1393FF"
                          d="M10.192 14.917a.583.583 0 100 1.167.583.583 0 000-1.167zm-1.75 0a.583.583 0 100 1.167.583.583 0 000-1.167zm3.5 0a.584.584 0 100 1.167.584.584 0 000-1.167zm1.808-4.959a.582.582 0 011.01 0 .584.584 0 00.793.216.584.584 0 00.239-.799 1.75 1.75 0 00-3.034 0 .583.583 0 00.992.583zm4.083-1.75a4.084 4.084 0 00-7.07 0 .582.582 0 00.479.875.583.583 0 00.507-.291 2.917 2.917 0 015.052 0 .584.584 0 00.8.216.583.583 0 00.232-.8zm-2.391 4.959h-.584v-1.75a.583.583 0 00-1.166 0v1.75H7.858a1.75 1.75 0 00-1.75 1.75v1.166a1.75 1.75 0 001.75 1.75h7.584a1.75 1.75 0 001.75-1.75v-1.166a1.75 1.75 0 00-1.75-1.75zm.583 2.916a.583.583 0 01-.583.584H7.858a.583.583 0 01-.583-.584v-1.166a.583.583 0 01.583-.584h7.584a.583.583 0 01.583.584v1.166z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36629">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="wall 1">
                        <path
                          fill="#1393FF"
                          d="M17.25 10.25a.583.583 0 000-1.167h-.583V7.917h.583a.583.583 0 000-1.167H6.75a.583.583 0 100 1.167H8.5v1.166H6.75a.583.583 0 100 1.167h.584v1.167H6.75a.583.583 0 100 1.166H8.5v1.167H6.75a.583.583 0 000 1.167h.584v1.166H6.75a.583.583 0 000 1.167h10.5a.583.583 0 000-1.167H15.5v-1.166h1.75a.583.583 0 000-1.167h-.583v-1.167h.583a.583.583 0 100-1.166H15.5V10.25h1.75zM9.667 7.917H12v1.166H9.667V7.917zm4.667 2.333v1.167H12V10.25h2.334zm-5.834 0h2.334v1.167H8.5V10.25zm3.5 2.333v1.167H9.667v-1.167H12zm-1.166 3.5H8.5v-1.166h2.334v1.166zm3.5 0H12v-1.166h2.334v1.166zM15.5 13.75h-2.333v-1.167H15.5v1.167zm-2.333-4.667V7.917H15.5v1.166h-2.333z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
              <li>
                <div class="card-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <g class="Group 36630">
                      <path
                        fill="#C6E4FE"
                        stroke="#fff"
                        d="M11.25 1.01a1.5 1.5 0 011.5 0l8.392 4.846a1.5 1.5 0 01.75 1.299v9.69a1.5 1.5 0 01-.75 1.3L12.75 22.99a1.5 1.5 0 01-1.5 0l-8.392-4.846a1.5 1.5 0 01-.75-1.299v-9.69a1.5 1.5 0 01.75-1.3L11.25 1.01z"
                        class="Polygon 26"
                      />
                      <g class="server 1">
                        <path
                          fill="#1393FF"
                          d="M13.75 14.917a.584.584 0 100 1.167.584.584 0 000-1.167zm-3.5 0H8.5a.584.584 0 000 1.167h1.75a.583.583 0 000-1.167zm5.25 0a.584.584 0 100 1.167.584.584 0 000-1.167zm-1.75-3.5a.584.584 0 100 1.167.584.584 0 000-1.167zm-3.5 0H8.5a.584.584 0 000 1.167h1.75a.583.583 0 000-1.167zm5.25-3.5a.584.584 0 100 1.167.584.584 0 000-1.167zm0 3.5a.584.584 0 100 1.167.584.584 0 000-1.167zm2.334-3.5a1.75 1.75 0 00-1.75-1.75H7.917a1.75 1.75 0 00-1.75 1.75v1.167c.003.431.165.847.455 1.166a1.75 1.75 0 00-.455 1.167v1.167c.003.431.165.847.455 1.166a1.75 1.75 0 00-.455 1.167v1.167a1.75 1.75 0 001.75 1.75h8.167a1.75 1.75 0 001.75-1.75v-1.167a1.75 1.75 0 00-.455-1.167c.29-.32.452-.735.455-1.166v-1.167a1.75 1.75 0 00-.455-1.167c.29-.32.452-.735.455-1.166V7.917zm-1.167 8.167a.583.583 0 01-.583.583H7.917a.583.583 0 01-.583-.583v-1.167a.583.583 0 01.583-.583h8.167a.583.583 0 01.583.583v1.167zm0-3.5a.583.583 0 01-.583.583H7.917a.583.583 0 01-.583-.583v-1.167a.583.583 0 01.583-.583h8.167a.583.583 0 01.583.583v1.167zm0-3.5a.583.583 0 01-.583.583H7.917a.583.583 0 01-.583-.583V7.917a.583.583 0 01.583-.583h8.167a.583.583 0 01.583.583v1.167zM13.75 7.917a.584.584 0 100 1.167.584.584 0 000-1.167zm-3.5 0H8.5a.583.583 0 100 1.167h1.75a.583.583 0 000-1.167z"
                          class="Vector"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </li>
            </ul>
            <span class="text link-text">
              + 3 more
            </span>
          </span>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created By</dt>
            <dd>Ram Rillusion</dd>
          </dl>
          <dl>
            <dt>Organization</dt>
            <dd>Rillusion</dd>
          </dl>
        </li>
        <li class="tablet--grid-col">
          <dl>
            <dt>Created Date</dt>
            <dd>24 Sept 2019</dd>
          </dl>
          <dl>
            <dt>Modified Date</dt>
            <dd>28 Oct 2019</dd>
          </dl>
        </li>
      </ul>
    </div>
  </section>
</div>
