<div class="d-container">
  <section class="page--whatif-rule">
    <div class="flex-row align-items-center font:24:mono margin-bottom:40">
      <button class="btn-back"><i class="uil uil-arrow-left"></i> Back</button>
      <h2
        class="font:32:mono text-color:800 margin-left:20 font:24:mono  text-header:200 "
      >
        Rule Impact
      </h2>
    </div>
    <div class="flex-row margin-bottom:30 padding-bottom:30 border-bottom:1">
      <div class="tablet--grid-col flex-row flex-direction:column">
        <dl>
          <dt>Rule Name</dt>
          <dd>
            Outside_access
          </dd>
        </dl>
        <dl>
          <dt>Protocol</dt>
          <dd>
            TCP
          </dd>
        </dl>
      </div>
      <div class="tablet--grid-col">
        <dl>
          <dt>Description</dt>
          <dd>Demo Rule</dd>
        </dl>
        <dl>
          <dt>Date Modified</dt>
          <dd>12/11/2019</dd>
        </dl>
      </div>
      <div class="grid-col-5">
        <div class="flex-row justify-between">
          <dl>
            <dt>Action</dt>
            <dd><i class="uil uil-check-circle margin-right:10"></i> Permit</dd>
          </dl>
          <dl>
            <dt>Service Name</dt>
            <dd>Demo Rule</dd>
          </dl>
        </div>
        <div
          class="padding-top:10 padding-bottom:10 padding-left:20 padding-right:20 styleMe flex-row"
        >
          <span class="font:12:400 button-chip  bg-alert-color:medium ">
            <i class="uil uil-check"></i>
            Can be Added
          </span>
          <p class="margin-left:20">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>

    <div class="flex-row">
      <div class="tablet--grid-col margin-bottom:30">
        <div class="margin-top:40 margin-bottom:30 font:24:400 text:center">
          Before Evaluation
        </div>
        <div
          id="chartdonut"
          style="width: 400px; margin: 0 auto; height: 465px;"
        ></div>
      </div>
      <div class="border-left:1 tablet--grid-col margin-bottom:30">
        <div class="margin-top:40 margin-bottom:30 font:24:400 text:center">
          After Evaluation
        </div>
        <div
          id="chartdonut2"
          style="width: 400px; margin: 0 auto; height: 465px;"
        ></div>
      </div>
    </div>
  </section>
</div>
