<div class="flex-row">
  <div class="profile-overview">
    <h2 class="font:32:mono text-color:800">Overview</h2>

    <div class="margin-bottom:30 manage-client table-list">
      <div class="table-list-header flex-row justify-between">
        <span>Manage Client</span>
        <span>View Clients</span>
      </div>
      <div class="table-list-content-header">
        <ul>
          <li>Name</li>
          <li>Email ID</li>
          <li>Phone No</li>
          <li>License</li>
        </ul>
      </div>
      <div class="table-list-content">
        <ul>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
          <li class="client-list">
            <span class="link-text">Ram</span>
            <span class="">Rill@gmail.com</span>
            <span class="">+91 9654781541</span>
            <span class="license-upload">
              <i class="uil uil-file-upload"></i>
              Upload
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="manage-users table-list">
      <div class="table-list-header flex-row justify-between">
        <span
          >Manage Users
          <ul>
            <li class="disable"><i class="uil uil-trash-alt"></i> Delete</li>
            <li><i class="uil uil-plus"></i> Add</li>
          </ul>
        </span>
        <span>View Users</span>
      </div>
      <div class="table-list-content">
        <ul>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules1"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules1" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules2"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules2" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules3"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules3" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules4"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules4" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules5"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules5" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules6"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules6" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
          <li class="client-list">
            <span class="link-text flex-row align-items-center">
              <div class="form-checkbox-group">
                <input
                  id="assignedRules7"
                  class="form-checkbox-input"
                  type="checkbox"
                  value=""
                />
                <label for="assignedRules7" class="form-checkbox-label"></label>
              </div>
              <span>Ram</span>
            </span>
            <span class="">Rill@gmail.com</span>
            <span class="">Local</span>
            <span class="license-upload">
              <i class="uil uil-edit-alt"></i>
              Change
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="event-log">
    <div class="event-log-header">
      <div class="title">Event log</div>
      <div classs="pagination"><span>1-20</span> of <span>100</span></div>
    </div>
    <div class="event-log-lists">
      <div class="event-log-list">
        <div class="log-header">
          <span>1728</span>
          <span class="button-chip">Information</span>
          <span>2019/11/29</span>
        </div>
        <div class="log-detail">
          <span class="author">Ram Rillusion</span>
          <span class="about-log">User Login successfully</span>
        </div>
      </div>

      <div class="event-log-list">
        <div class="log-header">
          <span>1728</span>
          <span class="button-chip">Information</span>
          <span>2019/11/29</span>
        </div>
        <div class="log-detail">
          <span class="author">Ram Rillusion</span>
          <span class="about-log">User Login successfully</span>
        </div>
      </div>
      <div class="event-log-list">
        <div class="log-header">
          <span>1728</span>
          <span class="button-chip">Information</span>
          <span>2019/11/29</span>
        </div>
        <div class="log-detail">
          <span class="author">Ram Rillusion</span>
          <span class="about-log">User Login successfully</span>
        </div>
      </div>
      <div class="event-log-list">
        <div class="log-header">
          <span>1728</span>
          <span class="button-chip">Information</span>
          <span>2019/11/29</span>
        </div>
        <div class="log-detail">
          <span class="author">Ram Rillusion</span>
          <span class="about-log">User Login successfully</span>
        </div>
      </div>
      <div class="event-log-list">
        <div class="log-header">
          <span>1728</span>
          <span class="button-chip">Information</span>
          <span>2019/11/29</span>
        </div>
        <div class="log-detail">
          <span class="author">Ram Rillusion</span>
          <span class="about-log">User Login successfully</span>
        </div>
      </div>
    </div>
  </div>
</div>
