.form-checkbox-group .form-checkbox-label {
  margin-bottom : 0;
}

.table-list-content {
  height : 228px;
  overflow-y : scroll;
}

.table-list-content-header {
  ul {
    margin-bottom : 20px;
    font-family : var(--roboto-500);
    font-size : 14px;
    line-height : 16px;
    letter-spacing : 0.02em;
    text-transform : capitalize;
    color : #3d7eb5;
    display : flex;
    justify-content : space-between;
    padding-left : 36px;
    padding-right : 36px;
  }
}
